@using FMS.Core;
@model FMS.Website.Models.VehicleOverallReportModel


<div class="opt-content clearfloat">
    <h5 class="title-page">Vehicles Report</h5>
    <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
        <i class="fa fa-download"></i> Export
    </a>
</div>
<section class="content">
    @using (Html.BeginForm("ExportVehicleOverall", "RptVehicleOverall", FormMethod.Post, new { @id = "ExportToXls" }))
    {
        @Html.HiddenFor(model => model.SearchView.FromDate,new { @id="filter_FromDate"})
        @Html.HiddenFor(model => model.SearchView.ToDate, new { @id = "filter_ToDate" })
        @Html.HiddenFor(model => model.SearchView.BodyType, new { @id = "filter_BodyType" })
        @Html.HiddenFor(model => model.SearchView.City, new { @id = "filter_City" })
        @Html.HiddenFor(model => model.SearchView.Function, new { @id = "filter_Function" })
        @Html.HiddenFor(model => model.SearchView.Regional, new { @id = "filter_Regional" })
        @Html.HiddenFor(model => model.SearchView.SupplyMethod, new { @id = "filter_SupplyMethod" })
        @Html.HiddenFor(model => model.SearchView.VehicleStatus, new { @id = "filter_VehicleStatus" })
        @Html.HiddenFor(model => model.SearchView.VehicleType, new { @id = "filter_VehicleType" })
        @Html.HiddenFor(model => model.SearchView.Vendor, new { @id = "filter_Vendor" })
    }
    <div class="wpanel">
        <div class="row col-md-12">
            @using (Ajax.BeginForm("ListVehicle", "RptVehicleOverall",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "contenttable",
                    OnComplete = "setupDataTables",
                }))
            {
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">End Date From</label>
                    <div class="input-group date" id="FromDate">
                        @Html.TextBoxFor(model => model.SearchView.FromDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", @placeholder = "From" })
                        <span class="input-group-addon btn btn-primary">
                            <i class="fa fa-calendar "></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">End Date To</label>
                    <div class="input-group date" id="ToDate">
                        @Html.TextBoxFor(model => model.SearchView.ToDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", @placeholder = "To" })
                        <span class="input-group-addon btn btn-primary">
                            <i class="fa fa-calendar "></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Status</label>
                    @Html.TextBoxFor(model => model.SearchView.VehicleStatus, new { @class = "form-control " })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Supply Method</label>
                    @Html.TextBoxFor(model => model.SearchView.SupplyMethod, new { @class = "form-control " })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Body Type</label>
                    @Html.TextBoxFor(model => model.SearchView.BodyType, new { @class = "form-control "})
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Vehicle Type</label>
                    @Html.TextBoxFor(model => model.SearchView.VehicleType, new { @class = "form-control " })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Vendor</label>
                    @Html.TextBoxFor(model => model.SearchView.Vendor, new { @class = "form-control " })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Function</label>
                    @Html.TextBoxFor(model => model.SearchView.Function, new { @class = "form-control " })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Regional</label>
                    @Html.TextBoxFor(model => model.SearchView.Regional, new { @class = "form-control " })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">City</label>
                    @Html.TextBoxFor(model => model.SearchView.City, new { @class = "form-control " })
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <button id="btn-filter" type="submit" class="btn btn-primary">Filter</button>
                <button id="btn-reset" type="button" class="btn btn-default">Reset</button>
            </div>
            }
        </div>
    </div>
    <div id="contenttable" class="wpanel">
        @Html.Partial("_ListVehicleOverall")
    </div>
</section>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/VehicleOverall.js"></script>
<script type="text/javascript">
    function ExportXls() {
        $('#filter_FromDate').val($('#SearchView_FromDate').val());
        $('#filter_ToDate').val($('#SearchView_ToDate').val());
        $('#filter_BodyType').val($('#SearchView_BodyType').val());
        $('#filter_City').val($('#SearchView_City').val());
        $('#filter_Function').val($('#SearchView_Function').val());
        $('#filter_Regional').val($('#SearchView_Regional').val());
        $('#filter_SupplyMethod').val($('#SearchView_SupplyMethod').val());
        $('#filter_VehicleStatus').val($('#SearchView_VehicleStatus').val());
        $('#filter_VehicleType').val($('#SearchView_VehicleType').val());
        $('#filter_Vendor').val($('#SearchView_Vendor').val());

        $('#ExportToXls').submit();
    }

    function setupDataTables() {
        // DataTable
        var table = $('#tbVehicle').DataTable({
            "sDom": 'lf<"table-overflow"t>pi',
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "info": true,
            "bInfo": true,
            "ordering": false
        });

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
    }

    $(document).on('click', '#btn-reset', function () {
        var todayDate = new Date();
        todayDate.setHours(00, 00, 00, 00);

        var date = new Date();
        date.setDate(1);
        date.setHours(00, 00, 00, 00);

        $('#FromDate').val(date);
        $('#ToDate').val(todayDate);
        $('#SearchView_BodyType').val('');
        $('#SearchView_City').val('');
        $('#SearchView_Function').val('');
        $('#SearchView_Regional').val('');
        $('#SearchView_SupplyMethod').val('');
        $('#SearchView_VehicleStatus').val('');
        $('#SearchView_VehicleType').val('');
        $('#SearchView_Vendor').val('');

        $("#btn-filter").trigger('click');
    });

    $(function () {
        setupDataTables();
    });
</script>