@using FMS.Core
@model FMS.Website.Models.BaseModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>FMS - Fleet Management System</title>
    <!-- <link rel="shortcut icon" href="assets/images/favico.png" type="image/x-icon" /> -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="starcom">
    <meta name="author" content="VTI Indonesia">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0,target-densitydpi=device-dpi, user-scalable=no"> -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">

    <!-- Load Style -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="~/Content/css/jquery.dataTables.min.css" media="screen">
    <link rel="stylesheet" href="~/Content/css/app.css" media="screen">

    <!-- Load Scripts -->
    @Scripts.Render("~/bundles/customjs")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!--<script type="text/javascript" src="~/Scripts/js/main.min.js"></script>-->
    <script type="text/javascript" src="~/Scripts/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/scripts.js"></script>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <header class="clearfloat">
        <div class="logo-toggle">
            <a href="@Url.Action("Index", "Home")"><img src="~/Content/images/logo-mini.png" alt="" class="logo"></a>
            <button class="sidebar-toggler" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <h5 class="title-parent">Fleet Management System</h5>
        <ul class="opt">
            <li class="notif"><a href="#"><img src="~/Content/images/bell.png" alt=""></a></li>
            <li class="account dropdown">
                <a href="#" class="dropdown-toggle" id="accdropdown" data-toggle="dropdown" aria-haspopup="true">
                    <span>John Doe<img src="~/Content/images/caret.png" alt=""></span>
                    <div class="user-pic"><img src="~/Content/images/user.png" alt=""></div>
                </a>
                <div class="dropdown-menu" aria-labelledby="accdropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </header>

    <aside>
        @{
            switch (Model.MainMenu)
            {
                case Enums.MenuList.MasterData:
                <h5 class="sb-title">Main Menu - Master Data</h5>
<ul>
    <li><a href="@Url.Action("Index","MstEmployee")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Employee</h5></a></li>
    <li><a href="@Url.Action("Index","MstFleet")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Fleet</h5></a></li>
    <li><a href="@Url.Action("Index","MstComplaint")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Complaint Category</h5></a></li>
    <li><a href="@Url.Action("Index","MstPriceList")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Price List</h5></a></li>
    <li><a href="@Url.Action("Index","MstVendor")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Vendor</h5></a></li>
    <li><a href="@Url.Action("Index","MstSetting")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Setting</h5></a></li>
    <li><a href="@Url.Action("Index","MstEpaf")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Epaf</h5></a></li>
    <li><a href="@Url.Action("Index","MstPenalty")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Penalty</h5></a></li>
    <li><a href="@Url.Action("Index","MstPenaltyLogic")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Penalty Logic</h5></a></li>
    <li><a href="@Url.Action("Index","MstGroupCostCenter")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Group Cost Center</h5></a></li>
    <li><a href="@Url.Action("Index","MstHolidayCalender")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Holiday</h5></a></li>
    <li><a href="@Url.Action("Index","MstReason")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Reason</h5></a></li>
    <li><a href="@Url.Action("Index","MstFuelOdometer")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Fuel OdoMeter</h5></a></li>
    <li><a href="@Url.Action("Index", "MstVehicleSpect")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Vehicle Spect</h5></a></li>
    <li><a href="@Url.Action("Index","MstLocationMapping")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Location Mapping</h5></a></li>
    <li><a href="#!"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Cost OB</h5></a></li>
    <li><a href="@Url.Action("Index","MstGs")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>GS</h5></a></li>
    <li><a href="@Url.Action("Index","MstSalesVolume")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Sales Volume</h5></a></li>
    <li><a href="@Url.Action("Index","MstDelegation")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Delegation</h5></a></li>
    <li><a href="@Url.Action("Index","MstRemark")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Remark</h5></a></li>
    <li><a href="@Url.Action("Index","MstSysAccess")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>SysAccess</h5></a></li>
</ul>
                    break;


                <ul>
                    <li><a href="@Url.Action("Index","MstEmployee")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Employee</h5></a></li>
                    <li><a href="@Url.Action("Index","MstFleet")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Fleet</h5></a></li>
                    <li><a href="@Url.Action("Index","MstComplaint")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Complaint Category</h5></a></li>
                    <li><a href="@Url.Action("Index","MstPriceList")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Price List</h5></a></li>
                    <li><a href="@Url.Action("Index","MstVendor")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Vendor</h5></a></li>
                    <li><a href="@Url.Action("Index","MstSetting")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Setting</h5></a></li>
                    <li><a href="@Url.Action("Index","MstEpaf")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Epaf</h5></a></li>
                    <li><a href="@Url.Action("Index","MstPenalty")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Penalty</h5></a></li>
                    <li><a href="@Url.Action("Index","MstPenaltyLogic")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Penalty Logic</h5></a></li>
                    <li><a href="@Url.Action("Index","MstGroupCostCenter")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Group Cost Center</h5></a></li>
                    <li><a href="@Url.Action("Index","MstHolidayCalender")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Holiday</h5></a></li>
                    <li><a href="@Url.Action("Index","MstReason")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Reason</h5></a></li>
                    <li><a href="@Url.Action("Index","MstFuelOdometer")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Fuel OdoMeter</h5></a></li>
                    <li><a href="@Url.Action("Index", "MstVehicleSpect")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Vehicle Spect</h5></a></li>
                    <li><a href="@Url.Action("Index","MstLocationMapping")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Location Mapping</h5></a></li>
                    <li><a href="#!"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Cost OB</h5></a></li>
                    <li><a href="@Url.Action("Index","MstGs")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>GS</h5></a></li>
                    <li><a href="@Url.Action("Index","MstSalesVolume")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Sales Volume</h5></a></li>
                    <li><a href="@Url.Action("Index","MstDelegation")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Delegation</h5></a></li>
                    <li><a href="@Url.Action("Index","MstRemark")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>Remark</h5></a></li>
                    <li><a href="@Url.Action("Index","MstSysAccess")"><span class="icon-col"><img src="~/Content/images/clock-mini.png" alt=""></span><h5>SysAccess</h5></a></li>
                </ul>
                break;
            }
}
    </aside>
    <main>
        @*<div class="content">*@
            @RenderBody()
        @*</div>*@
        <footer>
            <p>© 2017 Fleet Management System. PT HM Sampoerna, Tbk</p>
        </footer>
    </main>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dataTables').DataTable({
                "dom": 'lf<"table-overflow"t>pi',
                orderCellsTop: true
            });

            $('.dataTables_filter input').attr("placeholder", "Search Here");
        })
    </script>
</body>
</html>