@model FMS.Website.Models.SalesVolumeItem

<div class="opt-content clearfloat">
    <h5 class="title-page">Master Sales Volume Detail</h5>
</div>
<section class="content">
    <div class="wpanel">
        @using (Html.BeginForm("Edit", "MstSalesVolume"))
        {
            <h5 class="text-info text-red">
                @Model.ErrorMessage
            </h5>
            @Html.HiddenFor(model => model.MstSalesVolumeId)
            @Html.HiddenFor(model => model.CreatedBy)
            @Html.HiddenFor(model => model.CreatedDate)
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Type<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.Type, new { @class = "form-control", required = "required", @disabled = "disabled" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Region<span class="red">*</span></label>
                        <label class="label-warning" id="PoliceNote"></label>
                        @Html.TextBoxFor(model => model.Region, new { @class = "form-control", required = "required", @disabled = "disabled" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Month<span class="red"></span></label>
                        @Html.TextBoxFor(model => model.Month, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Value<span class="red"></span></label>
                        @Html.TextBoxFor(model => model.Value, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Status<span class="red">*</span></label>
                        <div class="form-control" disabled="disabled">
                            @Html.CheckBoxFor(model => model.IsActive, new { @disabled = "disabled" })
                            @Html.Label("Active", new { @id = "lblStatus" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <a href="@Url.Action("Index", "MstSalesVolume" )" class="btn btn-default">Back</a>
                    </div>

                </div>  
            </div>
            
        }
            </div>
</section>
<script type="text/javascript">
    function IsAngka(evt) {
        var charCode = (evt.which);
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        } return true;
    }
</script>