@using FMS.Core;
@model FMS.Website.Models.SalesVolumeModel
<!-- Main content -->
<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Sales Volume</h5>
    <a href="@Url.Action("Upload", "MstSalesVolume")" class="btn btn-primary line" title="Upload & View" ng-click="uploadCom()">
        <i class="fa fa-download"></i> Import
    </a>
    <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
        <i class="fa fa-upload"></i> Export
    </a>
</div>
<section class="content" ng-controller="MSTCCtrl" ng-init="init()">

    @using (Html.BeginForm("ExportMasterSalesVolume", "MstSalesVolume", FormMethod.Post, new { @id = "ExportToXls" }))
    {

    }

    <div class="wpanel">
        <table id="tbSalesVolume" class="table table-bordered table-striped">
            <thead>
                <tr>
                   @* <th>Action</th>*@
                    <th>Type</th>
                    <th>Region</th>
                    <th>Month</th>
                    <th>Year</th>
                    <th>Value</th>
                    <th>Created By</th>
                    <th>Created Date</th>
                    <th>Modified By</th>
                    <th>Modified Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <thead class="filters">
                <tr>
                    @*<th><a href="@Url.Action("Create","MstSalesVolume")" class="btn btn-sm btn-success" title="Add New Delegation"><i class="fa fa-plus"> New </i></a></th>*@
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.Details)
                {
                    <tr>
                        @*<td style="text-align: center;">
                            <a href="@Url.Action("Edit", "MstSalesVolume", new { MstDelegationId = data.MstDelegationID })" title="Edit Data"><i class="fa fa-edit"></i> Edit </a>
                        </td>*@
                        <td>@Html.Raw(data.Type)</td>
                        <td>@Html.Raw(data.Region)</td>
                        <td>@Html.Raw(data.Month)</td>
                        <td>@Html.Raw(data.Year)</td>
                        <td>@Html.Raw(data.Value)</td>
                        <td>@Html.Raw(data.CreatedBy)</td>
                        <td>@Html.Raw(data.CreatedDate.ToString("dd/MM/yyyy hh:mm"))</td>
                        <td>@Html.Raw(data.ModifiedBy)</td>
                        <td>@Html.Raw(data.ModifiedDate.Value.ToString("dd/MM/yyyy hh:mm"))</td>
                        @if (data.IsActive == true)
                        {
                            <td>@Html.Raw("Active")</td>
                        }
                        else
                        {
                            <td>@Html.Raw("Inactive")</td>
                        }
                    </tr>
                }
                @if (Model.Details.Count == 0)
                {
                    <tr>
                        <td colspan="10">No Data Found</td>
                    </tr>
                }

            </tbody>

        </table>

    </div>
    @*<div>
            <ul uib-pagination boundary-links="true" total-items="totalRecords" max-size="5" ng-model="off" class="pagination pull-left" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="paging(off)"></ul>
        </div>*@

    <!-- /.row -->
</section>
<!-- /.content -->

<script type="text/javascript">
      function ExportXls() {
            $('#ExportToXls').submit();
      }

      $(function () {
          // DataTable
          var table = $('#tbSalesVolume').DataTable({
              "dom": 'lf<"table-overflow"t>pi',
              orderCellsTop: true
          });

          // Apply the search
          table.columns().eq(0).each(function (colIdx) {
              $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                  table
                      .column(colIdx)
                      .search(this.value)
                      .draw();
              });
          });
      });
</script>

