@using FMS.Core;
@model FMS.Website.Models.RptCCFModel

@{
    ViewBag.Title = Model.TitleForm;
}

<div class="opt-content clearfloat">
    <h5 class="title-page">@ViewBag.Title</h5>
    @if (Model.CurrentPageAccess.ReadAccess == true)
    {
        <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
            <i class="fa fa-upload"></i> Export
        </a>
    }
</div>
<section class="content">
    <div class="wpanel">
        <p>@Model.ErrorMessage</p>
        <div class="row">
            @using (Ajax.BeginForm("FilterCCF", "RptCcf",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "contenttable",
                    OnComplete = "setupDataTables",
                    OnBegin = "LoadingShow",
                    OnSuccess = "LoadingHide",
                    OnFailure = "LoadingHide",
                }))
            {
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Period From</label>
                        <div class="input-group date" id="FromDate">
                            @Html.TextBoxFor(model => model.SearchView.PeriodFrom, "{0:dd-MMM-yyyy}", new { @class = "form-control date", @placeholder = "From", @id = "From_Date" })
                            <span class="input-group-addon btn btn-primary">
                                <i class="fa fa-calendar "></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Period To</label>
                        <div class="input-group date" id="FromDate">
                            @Html.TextBoxFor(model => model.SearchView.PeriodTo, "{0:dd-MMM-yyyy}", new { @class = "form-control date", @placeholder = "To", @id = "To_Date" })
                            <span class="input-group-addon btn btn-primary">
                                <i class="fa fa-calendar "></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Complaint Category</label>
                        @Html.DropDownListFor(model => model.SearchView.Category, Model.SearchView.Categorylist, "ALL", new { @class = "form-control select" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Coordinator Name</label>
                        @Html.DropDownListFor(model => model.SearchView.Coordinator, Model.SearchView.Coordinatorlist, "ALL", new { @class = "form-control select" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Location City</label>
                        @Html.DropDownListFor(model => model.SearchView.Location, Model.SearchView.Locationlist, "ALL", new { @class = "form-control select" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Late Respone Time Coordinator</label>
                        @Html.TextBoxFor(model => model.SearchView.CoorKPI, new { @class = "form-control text"})
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Late Respone Time Vendor</label>
                        @Html.TextBoxFor(model => model.SearchView.VendorKPI, new { @class = "form-control text"})
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <button id="btn-filter" type="submit" class="btn btn-primary">Filter</button>
                    <button id="btn-reset" type="button" class="btn btn-default">Reset</button>
                </div>
            }
        </div>
    </div>
    <div id="contenttable" class="wpanel">
        @Html.Partial("_ListCcf")
    </div>
</section>
<div id="LoadingModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div align="center">
                    <img src="~/Content/img/loader2.gif" id="imgLoader" style="display:block" />
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/CCF.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    function LoadingShow() {
        $('#LoadingModal').show();
    }
    function LoadingHide() {
        $('#LoadingModal').hide();
    }
    function ExportXls() {
        console.log('Submitting');
        var url = '@Url.Action("ExportCcfReportGenerateReport", "RptCcf")';
        var getFileUrl = '@Url.Action("GetExcelFile", "RptCcf")';
        console.log(url);
        var objToUpload =
			{
			    SearchView: {
			        PeriodFrom: $('#From_Date').val(),
			        PeriodTo: $('#To_Date').val(),
			        Category: $('#SearchView_Category').val(),
			        Coordinator: $('#SearchView_Coordinator').val(),
			        Location: $('#SearchView_Location').val(),
			        CoorKPI:$('#SearchView_CoorKPI').val(),
			        VendorKPI:$('#SearchView_VendorKPI').val(),
			    }
			};
        $.ajax({
            url: url,
            data: JSON.stringify(objToUpload),
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $('#LoadingModal').show();
            },
            success: function (response, status, jqxhr) {
                console.log("DONE");
                window.location = getFileUrl + "?pathFile=" + response;
                $('#LoadingModal').hide();
            },
            error: function (jqhxr) {
                console.log("ERROR");
                console.log(jqhxr.responseText);
                $('#LoadingModal').hide();
            },
            type: 'POST'
        });

    }
    function setupDataTables() {
        // DataTable
        var table = $('#tbRptCcf').DataTable({
            "dom": 'lf<"table-overflow"t>pi',
            orderCellsTop: true
        });

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
    }

    $(document).on('click', '#btn-reset', function () {
        var todayDate = new Date();
        todayDate.setHours(00, 00, 00, 00);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var todayDatestr = todayDate.getDate() + '-' + (months[todayDate.getMonth()]) + '-' + todayDate.getFullYear();

        var date = new Date();
        date.setDate(1);
        date.setHours(00, 00, 00, 00);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var datestr = date.getDate() + '-' + (months[date.getMonth()]) + '-' + date.getFullYear();


        $('#From_Date').val(todayDatestr);
        $('#To_Date').val(todayDatestr);

        $(".select").val('');
        $(".text").val('');

        $("#btn-filter").trigger('click');
    });

    $(function () {
        setupDataTables();
        $("#btn-reset").trigger('click');
    });
</script>