@using FMS.Core;
@model FMS.Website.Models.PriceListItem

<section class="content-header">
    <h1>
        Master Data Price List Create
    </h1>
</section>
<section class="content" >

    <div class="row">
        <div class="col-xs-12">
        @using (Html.BeginForm("Create","MstPriceList"))
        {
            <div class="box" style="overflow-y: auto;">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        
                            <div class="form-box">
                                <div class="panel-body ">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-md-4">Manufacture<span class="red">*</span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Manufacture, new { @class = "form-control " })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-md-4">Model<span class="red">*</span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Model, new { @class = "form-control " })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-md-4">Series<span class="red">*</span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Series, new { @class = "form-control " })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-md-4">Year<span class="red">*</span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Year, new { @class = "form-control " })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-md-4">Zone Price List<span class="red">*</span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.ZonePriceList, new { @class = "form-control " })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-md-4">Price<span class="red">*</span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control " })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-md-4">Installmen HMS<span class="red">*</span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.InstallmenHMS, new { @class = "form-control " })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-md-4">Installmen Employee<span class="red">*</span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.InstallmenEMP, new { @class = "form-control " })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-md-4">Vendor<span class="red">*</span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Vendor, new { @class = "form-control " })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            @*<div class="form-box">
                                <div class="panel-body">
                                    <div class="Row">
                                        <input type="submit" value="Save" class="btn bg-blue" />
                                        <a href="@Url.Action("Index", "MstPriceList")" class="btn bg-gray">Back</a>
                                    </div>
                                </div>
                            </div>*@
                        
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box-body">
                        <input type="submit" value="Save" class="btn bg-blue" />
                        <a href="@Url.Action("Index", "MstPriceList")" ><i class="btn bg-gray ">Back</i></a>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
    <!-- /.row -->
</section>
