@using FMS.Core;
@model FMS.Website.Models.PriceListItem

<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Price List</h5>
</div>
<section class="content">
    <div class="wpanel">
        <label class="label-warning">@Model.ErrorMessage</label>
        @using (Html.BeginForm("Edit", "MstPriceList"))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Manufacture<span class="red"></span></label>
                        @Html.HiddenFor(model => model.MstPriceListId)
                        @Html.HiddenFor(model => model.CreatedBy)
                        @Html.HiddenFor(model => model.CreatedDate)
                        @Html.DropDownListFor(model => model.Manufacture, Model.ManufactureList, "--Please Select--", new { @class = "form-control", required = "required", onchange = "GetModels()" })
                        @* @Html.TextBoxFor(model => model.Manufacture, new { @class = "form-control ", @required = "required" })*@
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Model<span class="red">*</span></label>
                        @Html.DropDownListFor(model => model.Models, Model.ModelList, "--Please Select--", new { @class = "form-control", required = "required", onchange = "GetSeries()" })
                        @*@Html.TextBoxFor(model => model.Models, new { @class = "form-control ", @required = "required" })*@
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Series<span class="red">*</span></label>
                        @Html.DropDownListFor(model => model.Series, Model.SeriesList, "--Please Select--", new { @class = "form-control", required = "required" })
                        @* @Html.TextBoxFor(model => model.Series, new { @class = "form-control ", @required = "required" })*@
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Year<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.Year, new { @class = "form-control ", @maxlength = "5", onkeypress = "return IsAngka(event)", @required = "required" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Zone Price List<span class="red"></span></label>
                        @Html.DropDownListFor(model => model.ZonePriceList, Model.ZoneList, "--Please Select--", new { @class = "form-control", required = "required" })
                        @*@Html.TextBoxFor(model => model.ZonePriceList, new { @class = "form-control ", @required = "required" })*@
                    </div>
                </div>
                @*<div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Price<span class="red"></span>*</label>
                        @Html.TextBoxFor(model => model.PriceStr, new { @class = "decimal form-control ", onkeypress = "return IsAngka(event)", @required = "required" })
                    </div>
                </div>*@
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Installment HMS<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.InstallmenHMSStr, new { @class = "decimal form-control ", onkeypress = "return IsAngka(event)", @required = "required" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Installment Employee<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.InstallmenEMPStr, new { @class = "decimal form-control ", onkeypress = "return IsAngka(event)", @required = "required" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Vendor<span class="red">*</span></label>
                        @Html.DropDownListFor(model => model.Vendor, Model.VendorList, "--Please Select--", new { @class = "form-control", @style = "width: 100%;", required = "required" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Vehicle Type<span class="red">*</span></label>
                        @Html.DropDownListFor(model => model.VehicleType, Model.VehicleTypeList, "--Please Select--", new { @class = "form-control", @style = "width: 100%;", onchange = "VehicleTypeChange()", required = "required" })
                    </div>
                </div>
                <div class="col-md-6" id="VehicleUsageDiv" style="visibility:visible">
                    <div class="form-group">
                        <label class="control-label">Vehicle Usage</label>
                        @Html.DropDownListFor(model => model.VehicleUsage, Model.VehicleUsageList, "--Please Select--", new { @class = "form-control", @style = "width: 100%;" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Status<span class="red">*</span></label>
                        <div class="form-control">
                            @Html.CheckBoxFor(model => model.IsActive)
                            @Html.Label("Active", new { @id = "lblStatus" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box-body">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a href="@Url.Action("Index", "MstPriceList")"><i class="btn btn-default">Back</i></a>
                    </div>
                </div>
            </div>
        }
        </div>
    <div id="changes" class="tab-pane">
        @Html.Partial("_ChangesLog");
    </div>
    </section> 
<script src="~/Scripts/thousand-separator.js"></script>
<script type="text/javascript">

    $('#InstallmenHMSStr').val(ThausandSeperator($('#InstallmenHMSStr').val(), 2));
    $('#InstallmenEMPStr').val(ThausandSeperator($('#InstallmenEMPStr').val(), 2));
    $('#PriceStr').val(ThausandSeperator($('#PriceStr').val(), 2));

    function IsAngka(evt) {
        var charCode = (evt.which);
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        } return true;
    }

    function VehicleTypeChange() {
        if ($("#VehicleType").val().toUpperCase() == "WTC") {
            $("#VehicleUsageDiv").hide();
            $('#VehicleUsage').prop('disabled', true);
            $('#VehicleUsage').prop('required', false);
        }
        else {
            $('#VehicleUsage').prop('disabled', false);
            $('#VehicleUsage').prop('required', true);
            $("#VehicleUsageDiv").show();
        }
    }

    function GetModels() {
        if ($("#Manufacture").length) {
            var Manufacture = $("#Manufacture option:selected").text();
            $('#Models option').remove();
            if (Manufacture == '' || $('#Manufacture').find("option:selected").val() == '') {
                $('#Models').append('<option value="">--Please Select--</option>');
            }
            else {
                $.ajax({
                    url: '@Url.Action("GetModelList", "MstPriceList")',
                    type: "POST",
                    dataType: "JSON",
                    data: { Manufacture: Manufacture },
                    success: function (list) {
                        $('#Models').append('<option value="">--Please Select--</option>');
                        if (list.length > 0) {
                            for (var i = 0; i < list.length; i++) {
                                $('#Models').append('<option value="' + list[i].Models + '">' + list[i].Models + '</option>');
                            }
                        }
                    },
                    complete: function (data) {
                        GetSeries();
                    }
                });
            }
        }
    }

    function GetSeries() {
        if ($("#Manufacture").length) {
            var Manufacture = $("#Manufacture option:selected").text();
            var Models = $("#Models option:selected").text();
            $('#Series option').remove();
            if (Models == '' || $('#Models').find("option:selected").val() == '') {
                $('#Series').append('<option value="">--Please Select--</option>');
            }
            else {
                $.ajax({
                    url: '@Url.Action("GetSeriesList", "MstPriceList")',
                    type: "POST",
                    dataType: "JSON",
                    data: { Manufacture: Manufacture, Models: Models },
                    success: function (list) {
                        $('#Series').append('<option value="">--Please Select--</option>');
                        if (list.length > 0) {
                            for (var i = 0; i < list.length; i++) {
                                $('#Series').append('<option value="' + list[i].Series.toString() + '">' + list[i].Series.toString() + '</option>');
                            }
                        }

                    }
                });
            }
        }
    }

    $(document).ready()
    {
        VehicleTypeChange();
    }

    $(function () {
        if ($('.title-page').html() == 'Master Data Price List') {
            $('#MstPriceListMenu').addClass('active');
        }
    });
</script>