@using FMS.Core;
@model FMS.Website.Models.PriceListModel
<!-- Main content -->
<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Price List</h5>
    @if (Model.CurrentPageAccess.UploadAccess == true)
    {
        <a href="@Url.Action("Upload", "MstPriceList")" class="btn btn-primary line" title="Upload & View">
            <i class="fa fa-download"></i> Import
        </a>
    }
    <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
        <i class="fa fa-upload"></i> Export
    </a>
</div>
<div id="LoadingModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div align="center">
					<img src="~/Content/img/loader2.gif" id="imgLoader" style="display:block" />
				</div>
			</div>
		</div>
	</div>
</div>

<section class="content">
    <div class="wpanel">
        <div class="row col-md-12">
            @using (Ajax.BeginForm("ListPricelist", "MstPricelist",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "contenttable",
                    OnComplete = "setupDataTables",
                    OnBegin = "LoadingShow",
                    OnSuccess = "LoadingHide",
                    OnFailure = "LoadingHide",
                }))
            {
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="SearchView_vendor">Vendor</label>
                        @Html.DropDownList("Search_Vendor", Model.SearchView.VendorList, new { @class = "form-control chosen", @data_live_search = true, @multiple = "multiple" })
                        @Html.HiddenFor(model => model.SearchView.vendor)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="SearchView_ZonePricelist">Zone Pricelist</label>
                        @Html.DropDownList("Search_ZonePricelist", Model.SearchView.ZonePricelistList, new { @class = "form-control chosen", @data_live_search = true, @multiple = "multiple" })
                        @Html.HiddenFor(model => model.SearchView.ZonePricelist)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="SearchView_VehicleType">Vehicle Type </label>
                        @Html.DropDownList("Search_VehicleType", Model.SearchView.VehicleTypeList, new { @class = "form-control chosen", @data_live_search = true, @multiple = "multiple" })
                        @Html.HiddenFor(model => model.SearchView.VehicleType)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="SearchView_VehicleUsage">Vehicle Usage </label>
                        @Html.DropDownList("Search_VehicleUsage", Model.SearchView.VehicleUsageList, new { @class = "form-control chosen", @data_live_search = true, @multiple = "multiple" })
                        @Html.HiddenFor(model => model.SearchView.VehicleUsage)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="SearchView_Table">Show Data </label>
                        @Html.DropDownList("Search_Table", Model.SearchView.TableList, new { @class = "form-control" })
                        @Html.HiddenFor(model => model.SearchView.Table)
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <button id="btn-filter" type="submit" class="btn btn-primary">Filter</button>
                    <button id="btn-reset" type="button" class="btn btn-default">Reset</button>
                </div>
            }
        </div>
    </div>
    <div id="contenttable" class="wpanel">
        @Html.Partial("_listPriceList")
    </div>
</section>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    function LoadingShow() {
        $('#LoadingModal').show();
    }
    function LoadingHide() {
        $('#LoadingModal').hide();
    }
    function getFunctionStr(arr) {
        var dataStr = "";
        if (arr.length > 0) {
            dataStr = arr.toString();
        }
        return dataStr;
    }
    function ExportXls() {
        console.log('Submitting');
        var url = '@Url.Action("ExportMasterPriceList", "MstPriceList")';
        var getFileUrl = '@Url.Action("GetExcelFile", "MstPriceList")';
        console.log(url);
        var objToUpload =
			{
			    SearchView: {
			        VehicleType: getFunctionStr($('#Search_VehicleType').val()),
			        vendor: getFunctionStr($('#Search_Vendor').val()),
			        VehicleUsage: getFunctionStr($('#Search_VehicleUsage').val()),
			        ZonePricelist: getFunctionStr($('#Search_ZonePricelist').val()),
			        Table: getFunctionStr($('#Search_Table').val())
			    }
			};
        $.ajax({
            url: url,
            data: JSON.stringify(objToUpload),
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $('#LoadingModal').show();
            },
            success: function (response, status, jqxhr) {
                console.log("DONE");
                window.location = getFileUrl + "?pathFile=" + response;
                $('#LoadingModal').hide();
            },
            error: function (jqhxr) {
                console.log("ERROR");
                console.log(jqhxr.responseText);
                $('#LoadingModal').hide();
            },
            type: 'POST'
        });

    }
    function setupDataTables() {
        // DataTable
        var table = $('#tbPriceList').DataTable({
            "dom": 'lf<"table-overflow"t>pi',
            orderCellsTop: true
        });

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
    }

    $(function () {
        $(".chosen").chosen();
        $(document).on('click', '#btn-filter', function () {
            console.log('a');
            $("#SearchView_VehicleUsage").val(getFunctionStr($('#Search_VehicleUsage').val()));
            $("#SearchView_vendor").val(getFunctionStr($('#Search_Vendor').val()));
            $("#SearchView_VehicleType").val(getFunctionStr($('#Search_VehicleType').val()));
            $("#SearchView_ZonePricelist").val(getFunctionStr($('#Search_ZonePricelist').val()));
            $("#SearchView_Table").val(getFunctionStr($('#Search_Table').val()));
        });

        $(document).on('click', '#btn-reset', function () {
            $('#SearchView_VehicleUsage').val('');
            $("#SearchView_vendor").val('');
            $("#SearchView_VehicleType").val('');
            $("#SearchView_ZonePricelist").val('');
            $("#SearchView_Table").val('');

            $("#Search_VehicleUsage").val('').trigger('chosen:updated');
            $("#Search_Vendor").val('').trigger('chosen:updated');
            $("#Search_VehicleType").val('').trigger('chosen:updated');
            $("#Search_ZonePricelist").val('').trigger('chosen:updated');
            $("#Search_Table").val('').trigger('chosen:updated');

            $("#btn-filter").trigger('click');
        });
        if ($('.title-page').html() == 'Master Data Price List') {
            $('#MstPriceListMenu').addClass('active');
        }

        setupDataTables();
    });
</script>