@using FMS.Core;
@model FMS.Website.Models.EmployeeItem

<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Employee Create</h5>
</div>
<section class="content" ng-controller="MSTCCtrl" ng-init="init()">

    <div class="wpanel">
        @using (Html.BeginForm("Create", "MstEmployee"))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Employee ID<span class="red">*</span></label>
                        <div class="row">
                            <div class="col-md-2">
                                @Html.TextBoxFor(model => model.EMPLOYEE_CODE, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.EMPLOYEE_ID, new { @class = "form-control", @maxlength = "8", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Employee Name<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.FORMAL_NAME, new { @class = "form-control", @autocomplete = "off" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Position<span class="red"></span></label>
                        @Html.DropDownListFor(model => model.POSITION_TITLE, Model.PositionTitleList,"-- Please Select --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Division<span class="red">*</span></label>
                        @Html.DropDownListFor(model => model.DIVISON, Model.DivisonList, "-- Please Select --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Directorate<span class="red">*</span></label>
                        @Html.DropDownListFor(model => model.DIRECTORATE, Model.DirectorateList, "-- Please Select --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Basetown<span class="red">*</span></label>
                        @Html.DropDownListFor(model => model.BASETOWN, Model.BaseTownList, "-- Please Select --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">City<span class="red">*</span></label>
                        @Html.DropDownListFor(model => model.CITY, Model.CityList, "-- Please Select --", new { @class = "form-control", @id = "AddressEmployee" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Address<span class="red">*</span></label>
                        @Html.DropDownListFor(model => model.ADDRESS, Model.AddressList, "-- Please Select --", new { @class = "form-control", @id = "address" })
                        @*@Html.TextBoxFor(model => model.ADDRESS, new { @class = "form-control", @autocomplete = "off" })*@
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Company<span class="red">*</span></label>
                        @Html.DropDownListFor(model => model.COMPANY, Model.CompanyList, "-- Please Select --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Cost Center<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.COST_CENTER, new { @class = "form-control", @autocomplete = "off" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Group Level<span class="red"></span></label>
                        @Html.DropDownListFor(model => model.GROUP_LEVEL, Model.GroupLevelList, "-- Please Select --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Email Address<span class="red"></span></label>
                        @Html.TextBoxFor(model => model.EMAIL_ADDRESS, new { @class = "form-control", @autocomplete = "off" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Flex Point<span class="red"></span></label>
                        @Html.TextBoxFor(model => model.FLEX_POINT, new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" })
                        @*@Html.DropDownListFor(model => model.FLEX_POINT, Model.FlexPointlList, "-- Please Select --", new { @class = "form-control" })*@
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Status <span class="red"></span></label>
                        <div class="form-control">
                            @Html.CheckBoxFor(model => model.IS_ACTIVE, new { @id = "ChkisActive", onclick = "check()" })
                            @if (Model.IS_ACTIVE == true)
                            {
                                @Html.Label("Active", new { @id = "lblStatus" })
                            }
                            else
                            {
                                @Html.Label("InActive", new { @id = "lblStatus" })
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a href="@Url.Action("Index", "MstEmployee" )" class="btn btn-default">Back</a>
                </div>
            </div>
        }
    </div>
</section>

<script>
    $("#AddressEmployee").change(function () {
        //alert($("#AddressEmployee").val());

        $.ajax({
            url: "GetDataJson",
            cahce: false,
            type: "post",
            data: { "id": $("#AddressEmployee").val() },
            success: function (result) {
                console.log(result);
                $('#address').empty();
                optionArray = [];
                $.each(result['AddressList'], function (i, option) {
                    optionArray[i] = "<option value='" + option.Value + "'>" + option.Text + "</option>";
                    $('#address').append($('<option></option>').val(option.Value).html(option.Text));
                });
            }
        });
    });
    function check() {
        if (document.getElementById('ChkisActive').checked == true) {
            document.getElementById('lblStatus').innerHTML = "Active";
        }
        else {
            document.getElementById('lblStatus').innerHTML = "InActive";
        }
    }
</script>
