@using FMS.Core;
@model FMS.Website.Models.EmployeeItem

<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Employee Create</h5>
</div>
<section class="content" ng-controller="MSTCCtrl" ng-init="init()">

    <div class="wpanel">
        @using (Html.BeginForm("Edit", "MstEmployee"))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Employee ID<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.EMPLOYEE_ID, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Employee Name<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.FORMAL_NAME, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Position<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.POSITION_TITLE, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Division<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.DIVISON, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Directorate<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.DIRECTORATE, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Address<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.ADDRESS, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">City<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.CITY, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Basetown<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.BASETOWN, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Company<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.COMPANY, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Cost Center<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.COST_CENTER, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Group Level<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.GROUP_LEVEL, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Email Address<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.EMAIL_ADDRESS, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Flex Point<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.FLEX_POINT, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a href="@Url.Action("Index", "MstEmployee" )" class="btn btn-default">Back</a>
                </div>
            </div>
        }
    </div>
</section>
