@using FMS.Core
@model FMS.Website.Models.RptKpiMonitoringModel


<div id="contenttable" class="wpanel">
    <table id="tbKpi" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Form Type</th>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Effective Date</th>
                <th>Reason</th>
                <th>Vehicle Usage</th>
                <th>Address</th>
                <th>Cost Center</th>
                <th>Previous Base Town</th>
                <th>New Base Town</th>
                <th>Group Level</th>
                <th>Police Number</th>
                <th>Color</th>
                <th>Vehicle Model</th>
                <th>Send To Employee</th>
                <th>Send Back To Hr</th>
                <th>Days Difference</th>
                <th>Send To Fleet Date</th>
                <th>Send To Employee (CFM/COP) </th>
                <th>Remark</th>
            </tr>
        </thead>
        <thead class="filters">
            <tr>
                <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search" /></th>
                <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search" /></th>
                <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search" /></th>
                <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search" /></th>
                <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search" /></th>
                <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search" /></th>
                <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search" /></th>
                <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search" /></th>
                <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search" /></th>
                <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search" /></th>
                <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search" /></th>
                <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search" /></th>
                <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search" /></th>
                <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search" /></th>
                <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search" /></th>
                <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search" /></th>
                <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search" /></th>
                <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search" /></th>
                <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search" /></th>
                <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search" /></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model.ListTransaction)
            {
                <tr>
                    <td>@Html.Raw(data.FormType)</td>
                    <td>@Html.Raw(data.EmployeeId)</td>
                    <td>@Html.Raw(data.EmployeeName)</td>
                    <td>@Html.Raw(data.EffectiveDate.Value.ToString("dd-MMM-yyyy"))</td>
                    <td>@Html.Raw(data.Reason)</td>
                    <td>@Html.Raw(data.VehicleUsage)</td>
                    <td>@Html.Raw(data.Address)</td>
                    <td>@Html.Raw(data.CostCenter)</td>
                    <td>@Html.Raw(data.PreviousBaseTown)</td>
                    <td>@Html.Raw(data.NewBaseTown)</td>
                    <td>@Html.Raw(data.VehicleGroup)</td>
                    <td>@Html.Raw(data.PoliceNumber)</td>
                    <td>@Html.Raw(data.Color)</td>
                    <td>@Html.Raw(data.Model)</td>
                    <td>@Html.Raw((data.SendToEmpDate != null) ? data.SendToEmpDate.Value.ToString("dd-MMM-yyyy") : null)</td>
                    <td>@Html.Raw((data.SendBackToHr != null) ? data.SendBackToHr.Value.ToString("dd-MMM-yyyy") : null)</td>
                    <td>@Html.Raw(data.Kpi1 == null?"": data.Kpi1.Value.ToString() )</td>
                    <td>@Html.Raw((data.SendToFleetDate != null) ? data.SendToFleetDate.Value.ToString("dd-MMM-yyyy") : null)</td>
                    <td>@Html.Raw((data.SendToEmpBenefit != null) ? data.SendToEmpBenefit.Value.ToString("dd-MMM-yyyy") : null)</td>
                    <td>@Html.Raw(data.Remark)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

