@using FMS.Core
@model FMS.Website.Models.CsfIndexModel

<table id="tbCsfDashboard" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="min-width: 50px">Action</th>
            <th style="min-width: 120px">CSF Number</th>
            <th style="min-width: 120px">CSF Status</th>
            <th style="min-width: 120px">Vehicle Type</th>
            <th style="min-width: 120px">Employee ID</th>
            <th style="min-width: 120px">Employee Name</th>
            <th style="min-width: 120px">Reason</th>
            <th style="min-width: 120px">Effective Date</th>
            <th style="min-width: 120px">Regional</th>
            <th style="min-width: 120px">Vehicle Usage</th>
            <th style="min-width: 120px">Manufacturer</th>
            <th style="min-width: 120px">Model</th>
            <th style="min-width: 120px">Series</th>
            <th style="min-width: 120px">Body Type</th>
            <th style="min-width: 120px">Vendor</th>
            <th style="min-width: 120px">Colour</th>
            <th style="min-width: 120px">Coordinator</th>
            <th style="min-width: 120px">Updated By</th>
            <th style="min-width: 150px">Updated Date</th>
        </tr>
    </thead>
    <thead class="filters">
        <tr>
            <th>
                @if (!Model.IsCompleted && (Model.CurrentLogin.UserRole == Enums.UserRole.HR || Model.CurrentLogin.UserRole == Enums.UserRole.Fleet))
                {
                    if (!Model.IsPersonalDashboard) { 
                        <a href="@Url.Action("Create","TraCsf")" class="btn btn-primary line"><i class="fa fa-plus"></i> New</a>
                    }
                }
            </th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model.CsfList)
        {
            <tr>
                <td style="text-align: center;">
                    @if (!Model.IsCompleted) {
                        if ((Model.CurrentLogin.UserRole != Enums.UserRole.Viewer && Model.CurrentLogin.UserRole != Enums.UserRole.Administrator))
                        {
                            if (((data.CsfStatus == Enums.DocumentStatus.Draft || data.CsfStatus == Enums.DocumentStatus.AssignedForUser)
                                && (data.CreateBy == Model.CurrentLogin.USER_ID || (Model.CurrentLogin.LoginFor == null ? false : (Model.CurrentLogin.LoginFor.Where(x => x.EMPLOYEE_ID == data.EmployeeIdCreator).Count() > 0 ? true : false)))) ||
                            (data.CsfStatus == Enums.DocumentStatus.AssignedForUser && (data.EmployeeId == Model.CurrentLogin.EMPLOYEE_ID || (Model.CurrentLogin.LoginFor == null ? false : (Model.CurrentLogin.LoginFor.Where(x => x.EMPLOYEE_ID == data.EmployeeId).Count() > 0 ? true : false)))) ||
                            (data.CsfStatus == Enums.DocumentStatus.WaitingHRApproval && Model.CurrentLogin.UserRole == Enums.UserRole.HR) ||
                            ((data.CsfStatus == Enums.DocumentStatus.WaitingFleetApproval || data.CsfStatus == Enums.DocumentStatus.InProgress)
                                    && Model.CurrentLogin.UserRole == Enums.UserRole.Fleet))
                            {
                                <a href="@Url.Action("Edit", "TraCsf", new { id = data.TraCsfId, isPersonalDashboard = Model.IsPersonalDashboard })" data-toggle="tooltip" data-placement="top" title="Edit" class="action"><img src="~/Content/images/pin.png" alt="" /></a>
                            }
                        }
                    }
                    <a href="@Url.Action("Detail", "TraCsf", new { id = data.TraCsfId, isPersonalDashboard = Model.IsPersonalDashboard })" data-toggle="tooltip" data-placement="top" title="Detail" class="action"><img src="~/Content/images/search.png" alt="" /></a>
                </td>
                <td>@Html.Raw(data.CsfNumber)</td>
                <td>@Html.Raw(data.CsfStatusName)</td>
                <td>@Html.Raw(data.VehicleTypeName)</td>
                <td>@Html.Raw(data.EmployeeId)</td>
                <td>@Html.Raw(data.EmployeeName)</td>
                <td>@Html.Raw(data.Reason)</td>
                <td>@Html.Raw(data.EffectiveDate.ToString("dd-MMM-yyyy"))</td>
                <td>@Html.Raw(data.Regional)</td>
                <td>@Html.Raw(data.VehicleUsageName)</td>
                <td>@Html.Raw(data.Manufacturer)</td>
                <td>@Html.Raw(data.Models)</td>
                <td>@Html.Raw(data.Series)</td>
                <td>@Html.Raw(data.BodyType)</td>
                <td>@Html.Raw(data.VendorName)</td>
                <td>@Html.Raw(data.Color)</td>
                <td>@Html.Raw(data.CreateBy)</td>
                <td>@Html.Raw(data.ModifiedBy == null ? data.CreateBy : data.ModifiedBy)</td>
                <td>@Html.Raw(data.ModifiedDate == null ? "" : data.ModifiedDate.Value.ToString("dd-MMM-yyyy HH:mm:ss"))</td>
            </tr>
        }
    </tbody>
</table>