@using FMS.Core;
@model FMS.Website.Models.CsfItemModel

<div class="opt-content clearfloat">
    <h5 class="title-page">Car Selection</h5>
    <div class="box-tools pull-right" style="margin-bottom: 20px; margin-right: 20px">
        <button class="btn bg-blue" style="margin-top:5px; " id="btnBack">
            <i class="glyphicon glyphicon-arrow-left"></i> Back
        </button>
        <button class="btn bg-blue" style="margin-top:5px;" id="btnSave">
            <i class="glyphicon glyphicon-floppy-save"></i> Save
        </button>
    </div>
</div>
<section class="content">
    <div class="wpanel">
        @using (Html.BeginForm("Create", "TraCsf", FormMethod.Post, new { @id = "CreateForm" }))
        {
            @Html.AntiForgeryToken()
            <div id="information" class="tab-pane active" role="tabpanel">
                <div class="tab-wrapper">
                    <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
                        <div class="panel panel-default">
                            <div id="headingOne" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
                                        Information
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse show" id="collapseOne">
                                <div class="panel-body">
                                    <div role="form" class="form-excise">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5>CSF Info</h5>
                                                        <hr />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">CSF Number</label>
                                                            @Html.TextBoxFor(model => model.Detail.CsfNumber, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">CSF Date</label>
                                                            <div class="input-group date">
                                                                @Html.TextBoxFor(model => model.Detail.CreateDate, "{0:dd-MMM-yyyy}", new { @class = "form-control ", @readonly = "readonly" })
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Coordinator</label>
                                                            @Html.TextBoxFor(model => model.Detail.CreateBy, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Reason</label>
                                                            @Html.DropDownListFor(model => model.Detail.ReasonId, Model.Detail.ReasonList, "-- Please Select --", new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Effective Date</label>
                                                            <div class="input-group date">
                                                                @Html.TextBoxFor(model => model.Detail.EffectiveDate, "{0:dd-MMM-yyyy}", new { @class = "form-control " })
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5>Assigned Employee</h5>
                                                        <hr />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Employee ID</label>
                                                            @Html.DropDownListFor(model => model.Detail.EmployeeId, Model.Detail.EmployeeList, "-- Please Select --", new { @class = "form-control", onchange = "GetEmployee()" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Employee Name</label>
                                                            @Html.TextBoxFor(model => model.Detail.EmployeeName, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Cost Center</label>
                                                            @Html.TextBoxFor(model => model.Detail.CostCenter, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Group Level</label>
                                                            @Html.TextBoxFor(model => model.Detail.GroupLevel, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div aria-multiselectable="true" role="tablist" id="accordion2" class="panel-group" style="display:none">
                        <div class="panel panel-default">
                            <div id="heading2" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapseOne" aria-expanded="true" href="#collapse2" data-parent="#accordion2" data-toggle="collapse">
                                        Vehicle Request
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="heading2" role="tabpanel" class="panel-collapse collapse show" id="collapse2">
                                <div class="panel-body">
                                    <div role="form" class="form-excise">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Vehicle Type</label>
                                                            @*@Html.DropDownList(Model.Detail.VehicleType, Model.VehicleTypeList, "Select", new { @class = "form-control SelectPicker" })*@
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Category</label>
                                                            @*@Html.DropDownList(Model.Detail.VehicleType, Model.VehicleTypeList, "Select", new { @class = "form-control SelectPicker" })*@
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Vehicle Usage</label>
                                                            @*@Html.DropDownList(Model.Detail.VehicleType, Model.VehicleTypeList, "Select", new { @class = "form-control SelectPicker" })*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5>Location</h5>
                                                        <hr />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">City</label>
                                                            @Html.TextBoxFor(model => model.Detail.EmployeeId, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Address</label>
                                                            @Html.TextBoxFor(model => model.Detail.EmployeeId, new { @class = "form-control", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<script src="~/Scripts/csfscript.js"></script>
<script type="text/javascript">
    function GetEmployee() {
        var Id = document.getElementById("Detail_EmployeeId").value;
        $.ajax({
            url: '@Url.Action("GetEmployee", "TraCsf")',
            type: "POST",
            dataType: "JSON",
            data: { Id:Id },
            success: function (response) {
                document.getElementById("Detail_EmployeeName").value = response.FORMAL_NAME;
                document.getElementById("Detail_CostCenter").value = response.COST_CENTER;
                document.getElementById("Detail_GroupLevel").value = response.GROUP_LEVEL;
            }
        });
    }

    $(document).ready(function () {
        $("#btnSave").click(function () {
            //if (ValidateInput()) {
                $('#CreateForm').submit();
            //}
        });

        $("#btnBack").click(function () {
            location.href = '@Url.Action("Index", "TraCsf")';
        });
    });
</script>
