@using FMS.Core;
@model FMS.Website.Models.CsfItemModel

<div class="opt-content clearfloat">
    <h5 class="title-page">Car Selection @Model.ErrorMessage</h5>
</div>
<section class="content">
    <div class="wpanel">
        @using (Html.BeginForm("Edit", "TraCsf", FormMethod.Post, new { @id = "EditForm" }))
        {
            @Html.AntiForgeryToken()
            <div id="information" class="tab-pane active" role="tabpanel">
                <div class="tab-wrapper">
                    <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
                        <div class="panel panel-default">
                            <div id="headingOne" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
                                        Information
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse show" id="collapseOne">
                                <div class="panel-body">
                                    <div role="form" class="form-excise">
                                        <div class="box-tools pull-right" style="margin-top:-50px">
                                            <h4>
                                                <label for="" class="control-label">Status:</label>
                                                <label class="control-label">@Html.Raw(Model.Detail.CsfStatusName)</label>
                                            </h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5>CSF Info</h5>
                                                        <hr />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            @Html.HiddenFor(model => model.Detail.TraCsfId)
                                                            @Html.HiddenFor(model => model.Detail.CreateBy)
                                                            @Html.HiddenFor(model => model.Detail.CreateDate)
                                                            @Html.HiddenFor(model => model.Detail.IsSaveSubmit)
                                                            @Html.HiddenFor(model => model.Detail.VehicleType)
                                                            @Html.HiddenFor(model => model.IsPersonalDashboard)
                                                            @Html.HiddenFor(model => model.Detail.EmployeeIdCreator)
                                                            @Html.HiddenFor(model => model.Detail.IsActive)
                                                            @Html.HiddenFor(model => model.Detail.EpafId)
                                                            <label class="control-label">CSF Number</label>
                                                            @Html.TextBoxFor(model => model.Detail.CsfNumber, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">CSF Date</label>
                                                            <div class="input-group date">
                                                                @Html.TextBoxFor(model => model.Detail.CreateDate, "{0:dd-MMM-yyyy}", new { @class = "form-control ", @readonly = "readonly" })
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Coordinator</label>
                                                            @Html.TextBoxFor(model => model.Detail.CreateBy, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Reason<span class="red">*</span></label>
                                                            @if (Model.Detail.CsfStatus == Enums.DocumentStatus.Draft) { 
                                                                @Html.DropDownListFor(model => model.Detail.ReasonId, Model.Detail.ReasonList, "-- Please Select --", new { @class = "form-control", @required = "required" })
                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownListFor(model => model.Detail.ReasonId, Model.Detail.ReasonList, "-- Please Select --", new { @class = "form-control", @disabled = "disabled" })
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Effective Date<span class="red">*</span></label>
                                                            <div class="input-group date">
                                                                @if (Model.Detail.CsfStatus == Enums.DocumentStatus.Draft) { 
                                                                    @Html.TextBoxFor(model => model.Detail.EffectiveDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", @required = "required" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.TextBoxFor(model => model.Detail.EffectiveDate, "{0:dd-MMM-yyyy}", new { @class = "form-control ", @disabled = "disabled" })
                                                                }
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5>Assigned Employee</h5>
                                                        <hr />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Employee ID<span class="red">*</span></label>
                                                            @if (Model.Detail.CsfStatus == Enums.DocumentStatus.Draft) { 
                                                                @Html.HiddenFor(model => model.Detail.EmployeeId)
                                                                @Html.TextBoxFor(model => model.Detail.EmployeeId, new { @id = "employeeSelect", @class = "form-control", @required = "required" })
                                                            }
                                                            else
                                                            {
                                                                @Html.TextBoxFor(model => model.Detail.EmployeeId, new { @class = "form-control ", @readonly = "readonly" })
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Employee Name</label>
                                                            @Html.HiddenFor(model => model.Detail.EmployeeName)
                                                            @Html.TextBoxFor(model => model.Detail.EmployeeName, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Cost Center</label>
                                                            @if (Model.Detail.IsBenefit)
                                                            {
                                                                @Html.TextBoxFor(model => model.Detail.CostCenter, new { @class = "form-control ", @readonly = "readonly" })
                                                            }
                                                            else
                                                            {
                                                                @Html.TextBoxFor(model => model.Detail.CostCenter, new { @class = "form-control ", @required = "required" })
                                                            }
                                                        </div>
                                                    </div>
                                                    @if (Model.Detail.IsBenefit)
                                                    {
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Group Level</label>
                                                                @Html.HiddenFor(model => model.Detail.GroupLevel)
                                                                @Html.TextBoxFor(model => model.Detail.GroupLevel, new { @class = "form-control ", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-md-12" style="display:none">
                                                            <div class="form-group">
                                                                <label class="control-label">Group Level</label>
                                                                @Html.HiddenFor(model => model.Detail.GroupLevel)
                                                                @Html.TextBoxFor(model => model.Detail.GroupLevel, new { @class = "form-control ", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div aria-multiselectable="true" role="tablist" id="accordion2" class="panel-group">
                        <div class="panel panel-default">
                            <div id="heading2" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapseTwo" aria-expanded="true" href="#collapse2" data-parent="#accordion2" data-toggle="collapse">
                                        Vehicle Request
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="heading2" role="tabpanel" class="panel-collapse collapse" id="collapse2">
                                <div class="panel-body">
                                    <div role="form" class="form-excise">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5>Vehicle Request</h5>
                                                        <hr />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Vehicle Type</label>
                                                            @Html.DropDownListFor(model => model.Detail.VehicleType, Model.Detail.VehicleTypeList, "-- Please Select --", new { @class = "form-control", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                    @if(Model.Detail.IsBenefit){
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Category</label>
                                                                @Html.DropDownListFor(model => model.Detail.VehicleCat, Model.Detail.VehicleCatList, "-- Please Select --", new { @class = "form-control", @disabled = "disabled" })
                                                            </div>
                                                        </div>
                                                    }
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Vehicle Usage</label>
                                                            @Html.DropDownListFor(model => model.Detail.VehicleUsage, Model.Detail.VehicleUsageList, "-- Please Select --", new { @class = "form-control", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5>Location</h5>
                                                        <hr />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">City</label>
                                                            @Html.TextBoxFor(model => model.Detail.LocationCity, new { @class = "form-control", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Address</label>
                                                            @Html.TextBoxFor(model => model.Detail.LocationAddress, new { @class = "form-control", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <a href="#" class="btn btn-primary" style="float:right;margin-top:20px"><i class="glyphicon glyphicon-ok"></i> Select Vehicle</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @Html.Partial("_ListVehicle")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div aria-multiselectable="true" role="tablist" id="accordion3" class="panel-group">
                        <div class="panel panel-default">
                            <div id="heading3" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapseThree" aria-expanded="true" href="#collapse3" data-parent="#accordion3" data-toggle="collapse">
                                        Vehicle Detail Information
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="heading3" role="tabpanel" class="panel-collapse collapse" id="collapse3">
                                <div class="panel-body">
                                    <div role="form" class="form-excise">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Expected Date</label>
                                                            <div class="input-group date">
                                                                @Html.TextBoxFor(model => model.Detail.ExpectedDate, "{0:dd-MMM-yyyy}", new { @class = "form-control ", @readonly = "readonly" })
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">End Rent Date</label>
                                                            <div class="input-group date">
                                                                @Html.TextBoxFor(model => model.Detail.EndRentDate, "{0:dd-MMM-yyyy}", new { @class = "form-control ", @readonly = "readonly" })
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Supply Method</label>
                                                            @Html.DropDownListFor(model => model.Detail.SupplyMethod, Model.Detail.SupplyMethodList, "-- Please Select --", new { @class = "form-control", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-upload"></i> Upload & View</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Project</label>
                                                            @Html.DropDownListFor(model => model.Detail.Project, Model.Detail.ProjectList, "-- Please Select --", new { @class = "form-control", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Temporary Car</label>
                                                            @Html.TextBoxFor(model => model.Detail.TemporaryId, new { @class = "form-control", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <a href="#" class="btn btn-primary" style="float:right;"><i class="glyphicon glyphicon-plus"></i> Temporary Car</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div aria-multiselectable="true" role="tablist" id="accordion4" class="panel-group">
                        <div class="panel panel-default">
                            <div id="heading4" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapseFour" aria-expanded="true" href="#collapse4" data-parent="#accordion4" data-toggle="collapse">
                                        Temporary Car
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="heading4" role="tabpanel" class="panel-collapse collapse" id="collapse4">
                                <div class="panel-body">
                                    <div role="form" class="form-excise">
                                        @Html.Partial("_ListTemporaryCar")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div aria-multiselectable="true" role="tablist" id="accordion5" class="panel-group">
                        <div class="panel panel-default">
                            <div id="heading5" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapseFive" aria-expanded="true" href="#collapse5" data-parent="#accordion5" data-toggle="collapse">
                                        Workflow History
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="heading5" role="tabpanel" class="panel-collapse collapse" id="collapse5">
                                <div class="panel-body">
                                    <div role="form" class="form-excise">
                                        @Html.Partial("_WorkflowHistoryTable")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div aria-multiselectable="true" role="tablist" id="accordion6" class="panel-group">
                        <div class="panel panel-default">
                            <div id="heading6" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapseSix" aria-expanded="true" href="#collapse6" data-parent="#accordion6" data-toggle="collapse">
                                        Change History
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="heading6" role="tabpanel" class="panel-collapse collapse" id="collapse6">
                                <div class="panel-body">
                                    <div role="form" class="form-excise">
                                        @Html.Partial("_ChangesLog")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                @if (Model.Detail.CsfStatusName == "Draft") { 
                    <a href="#" class="btn btn-primary" onclick="SendCsf(@Model.Detail.TraCsfId)"><i class="glyphicon glyphicon-ok"></i> Send</a>
                    <input type="submit" value="Save" class="btn btn-primary" id="btnEditCsf" />
                }
                <input type="button" value="Cancel" class="btn btn-primary" onclick="CancelCsf(@Model.Detail.TraCsfId)" />
                <a href="@Url.Action(Model.IsPersonalDashboard ? "PersonalDashboard" : "Index", "TraCsf")" class="btn btn-default">Back</a>
            </div>
        }
    </div>
</section>
<div id="cancelmodal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cancel document ?</h4>
            </div>
            @using (Html.BeginForm("CancelCsf", "TraCsf"))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.HiddenFor(model => model.IsPersonalDashboard)
                                <input type="hidden" name="TraCsfId" id="TraCsfId">
                                <label class="control-label">Select Remark</label>
                                @Html.DropDownList("RemarkId", Model.RemarkList, "Select", new { @class = "form-control SelectPicker", @required = "required" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-grey" data-dismiss="modal" value="Close" />
                    <input type="submit" class="btn btn-danger" value="OK" id="btnConfirmCancel" />
                </div>
            }
        </div>
    </div>
</div>
<div id="sendmodal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Send document to Employee ?</h4>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="TraCsfId" id="TraCsfId">
                <img src="~/Content/img/loader2.gif" id="imgLoader" style="display:none" />
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="Close" id="btnCloseSend" />
                <input type="submit" class="btn btn-danger" value="OK" id="btnConfirmSend" />
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/csfscript.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        InitEmployee('@Url.Action("GetEmployeeList", "TraCsf")', '@Url.Action("GetEmployee", "TraCsf")');

        $("#btnBack").click(function () {
            location.href = '@Url.Action("Index", "TraCsf")';
        });
    });

    function CancelCsf(value) {
        $('#TraCsfId').val(value);
        $('#cancelmodal').modal('show');
    }

    function SendCsf(value) {
        $('#TraCsfId').val(value);
        $('#sendmodal').modal('show');
    }

    $("#btnConfirmSend").click(function () {
        $('#Detail_IsSaveSubmit').val('submit');
        $("#btnEditCsf").trigger('click');

        $("#imgLoader").css("display", "");
        $("#btnCloseSend").css("display", "none");
        $("#btnConfirmSend").css("display", "none");
    });

    $('#sendmodal').on('hidden.bs.modal', function () {
        $("#imgLoader").css("display", "none");
        $("#btnCloseSend").css("display", "");
        $("#btnConfirmSend").css("display", "");
    })
</script>
