@using FMS.Core
@model FMS.Website.Models.EpafModel

<table id="tbEpaf" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="min-width: 50px">Action</th>
            <th>Document Type</th>
            <th>Epaf Action</th>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Cost Center</th>
            <th>Effective Date</th>
            <th>Group Level</th>
            <th>City</th>
            <th>Base Town</th>
            <th>Expat</th>
            <th>Letter Send</th>
            <th>Last Update</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>Modified By</th>
            <th>Modified Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <thead class="filters">
        <tr>
            <th>&nbsp;</th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model.Details)
        {
            <tr>
                <td style="text-align: center;">
                    @if (Model.CurrentPageAccess.ReadAccess == true)
                    {
                        if (Model.SearchView.Table == "2")
                        {
                            <a href="@Url.Action("Detail", "MstEpaf", new { @MstEpafId = data.MstEpafId,@ArchiveData=true })" data-toggle="tooltip" data-placement="top" title="Detail" class="action"><img src="~/Content/images/search.png" alt="" /></a>
                        }
                        else
                        {
                            <a href="@Url.Action("Detail", "MstEpaf", new { @MstEpafId = data.MstEpafId })" data-toggle="tooltip" data-placement="top" title="Detail" class="action"><img src="~/Content/images/search.png" alt="" /></a>
                        }
                    }
                </td>
                @if (data.DocumentType == 1)
                {
                    <td>@Html.Raw("CSF")</td>
                }
                else if (data.DocumentType == 3)
                {
                    <td>@Html.Raw("CRF")</td>
                }
                else if(data.DocumentType == 6)
                {
                    <td>@Html.Raw("CTF")</td>
                }
                <td>@Html.Raw(data.EpafAction)</td>
                <td>@Html.Raw(data.EmployeeId)</td>
                <td>@Html.Raw(data.EmployeeName)</td>
                <td>@Html.Raw(data.CostCenter)</td>
                <td>@Html.Raw(data.EfectiveDate == null ? "" : data.EfectiveDate.Value.ToString("dd-MMM-yyyy"))</td>
                <td>@Html.Raw(data.GroupLevel)</td>
                <td>@Html.Raw(data.City)</td>
                <td>@Html.Raw(data.BaseTown)</td>
                <td>@Html.Raw(data.Expat)</td>
                <td>@Html.Raw(data.LetterSend)</td>
                <td>@Html.Raw(data.LastUpdate)</td>
                <td>@Html.Raw(data.CreatedBy)</td>
                <td>@Html.Raw(data.CreatedDate.ToString("dd-MMM-yyyy HH:mm:ss"))</td>
                <td>@Html.Raw(data.ModifiedBy)</td>
                <td>@Html.Raw(data.ModifiedDate.Value.ToString("dd-MMM-yyyy HH:mm:ss"))</td>
                @if (data.IsActive == true)
                {
                    <td>@Html.Raw("Active")</td>
                }
                else
                {
                    <td>@Html.Raw("InActive")</td>
                }
            </tr>
        }
    </tbody>
</table>

