@using FMS.Core
@model FMS.Website.Models.TemporaryIndexModel

<table id="tbTempDashboard" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="min-width: 50px">Action</th>
            <th style="min-width: 120px">Temporary Number</th>
            <th style="min-width: 120px">Temporary Status</th>
            <th style="min-width: 120px">Vehicle Type</th>
            <th style="min-width: 120px">Employee ID</th>
            <th style="min-width: 120px">Employee Name</th>
            <th style="min-width: 120px">Reason</th>
            <th style="min-width: 120px">Start Date</th>
            <th style="min-width: 120px">End Date</th>
            <th style="min-width: 120px">PO Number</th>
            <th style="min-width: 120px">Regional</th>
            <th style="min-width: 120px">Updated By</th>
            <th style="min-width: 150px">Updated Date</th>
        </tr>
    </thead>
    <thead class="filters">
        <tr>
            <th>
                @if (!Model.IsCompleted && (Model.CurrentLogin.UserRole == Enums.UserRole.HR || Model.CurrentLogin.UserRole == Enums.UserRole.Fleet))
                {
                    if (!Model.IsPersonalDashboard)
                    {
                        <a href="@Url.Action("Create","TraTemporary")" class="btn btn-primary line"><i class="fa fa-plus"></i> New</a>
                    }
                }
            </th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model.TempList)
        {
            <tr>
                <td style="text-align: center;">
                    @if (!Model.IsCompleted)
                    {
                        if ((Model.CurrentLogin.UserRole != Enums.UserRole.Viewer || Model.CurrentLogin.UserRole != Enums.UserRole.Administrator) && !Model.IsPersonalDashboard)
                        {
                            if ((data.TempStatus == Enums.DocumentStatus.Draft && Model.CurrentLogin.USER_ID == data.CreateBy) ||
                            ((data.TempStatus == Enums.DocumentStatus.WaitingFleetApproval || data.TempStatus == Enums.DocumentStatus.InProgress)
                                && Model.CurrentLogin.UserRole == Enums.UserRole.Fleet))
                            { 
                                <a href="@Url.Action("Edit", "TraTemporary", new { id = data.TraTempId, isPersonalDashboard = Model.IsPersonalDashboard })" data-toggle="tooltip" data-placement="top" title="Edit" class="action"><img src="~/Content/images/pin.png" alt="" /></a>
                            }
                        }
                    }
                    <a href="@Url.Action("Detail", "TraTemporary", new { id = data.TraTempId, isPersonalDashboard = Model.IsPersonalDashboard })" data-toggle="tooltip" data-placement="top" title="Detail" class="action"><img src="~/Content/images/search.png" alt="" /></a>
                </td>
                <td>@Html.Raw(data.TempNumber)</td>
                <td>@Html.Raw(data.TempStatusName)</td>
                <td>@Html.Raw(data.VehicleTypeName)</td>
                <td>@Html.Raw(data.EmployeeId)</td>
                <td>@Html.Raw(data.EmployeeName)</td>
                <td>@Html.Raw(data.Reason)</td>
                <td>@Html.Raw(data.StartPeriod.Value.ToString("dd-MMM-yyyy"))</td>
                <td>@Html.Raw(data.EndPeriod.Value.ToString("dd-MMM-yyyy"))</td>
                <td>@Html.Raw(data.PoNumberVendor)</td>
                <td>@Html.Raw(data.Regional)</td>
                <td>@Html.Raw(data.ModifiedBy == null ? data.CreateBy : data.ModifiedBy)</td>
                <td>@Html.Raw(data.ModifiedDate == null ? "" : data.ModifiedDate.Value.ToString("dd-MMM-yyyy HH:mm:ss"))</td>
            </tr>
        }
    </tbody>
</table>