@using FMS.Core;
@model FMS.Website.Models.TempItemModel

<div class="opt-content clearfloat">
    <h5 class="title-page">Temporary Car @Model.ErrorMessage</h5>
</div>
<section class="content">
    <div class="wpanel">
        @using (Html.BeginForm("Create", "TraTemporary", FormMethod.Post, new { @id = "CreateForm" }))
        {
            @Html.AntiForgeryToken()
            <div id="information" class="tab-pane active" role="tabpanel">
                <div class="tab-wrapper">
                    <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
                        <div class="panel panel-default">
                            <div id="headingOne" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
                                        Information
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse show" id="collapseOne">
                                <div class="panel-body">
                                    <div role="form" class="form-excise">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5>Temporary Info</h5>
                                                        <hr />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            @Html.HiddenFor(model => model.Detail.IsSaveSubmit)
                                                            <label class="control-label">Temporary Number</label>
                                                            @Html.TextBoxFor(model => model.Detail.TempNumber, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Temporary Date</label>
                                                            <div class="input-group date">
                                                                @Html.TextBoxFor(model => model.Detail.CreateDate, "{0:dd-MMM-yyyy}", new { @class = "form-control ", @readonly = "readonly" })
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Coordinator</label>
                                                            @Html.TextBoxFor(model => model.Detail.CreateBy, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Reason</label>
                                                            @Html.DropDownListFor(model => model.Detail.ReasonId, Model.Detail.ReasonList, "-- Please Select --", new { @class = "form-control", @required = "required" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Start Date</label>
                                                            <div class="input-group date">
                                                                @Html.TextBoxFor(model => model.Detail.StartPeriod, "{0:dd-MMM-yyyy}", new { @class = "form-control ", @required = "required" })
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">End Date</label>
                                                            <div class="input-group date">
                                                                @Html.TextBoxFor(model => model.Detail.EndPeriod, "{0:dd-MMM-yyyy}", new { @class = "form-control ", @required = "required" })
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5>Assigned Employee</h5>
                                                        <hr />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Employee ID</label>
                                                            @Html.DropDownListFor(model => model.Detail.EmployeeId, Model.Detail.EmployeeList, "-- Please Select --", new { @class = "form-control autocomplete", onchange = "GetEmployee()", @required = "required" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Employee Name</label>
                                                            @Html.TextBoxFor(model => model.Detail.EmployeeName, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Cost Center</label>
                                                            @Html.TextBoxFor(model => model.Detail.CostCenter, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    @if (Model.Detail.IsBenefit)
                                                    {
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Group Level</label>
                                                                @Html.TextBoxFor(model => model.Detail.GroupLevel, new { @class = "form-control ", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-md-12" style="display:none">
                                                            <div class="form-group">
                                                                <label class="control-label">Group Level</label>
                                                                @Html.TextBoxFor(model => model.Detail.GroupLevel, new { @class = "form-control ", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    }
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Vehicle Type</label>
                                                            @Html.DropDownListFor(model => model.Detail.VehicleType, Model.Detail.VehicleTypeList, "-- Please Select --", new { @class = "form-control", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <a href="#" class="btn btn-primary" onclick="SelectVeh(@Model.Detail.TraTempId)" style="float:right;margin-top:20px" id="btnSelectVeh"><i class="glyphicon glyphicon-ok"></i> Select Vehicle</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @Html.Partial("_ListVehicle")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <a href="#" class="btn btn-primary" onclick="SendTemp(@Model.Detail.TraTempId)" id="btnSendTemp"><i class="glyphicon glyphicon-ok"></i> Send</a>
                <input type="submit" value="Save" class="btn btn-primary" id="btnSaveTemp" />
                <a href="@Url.Action("Index", "TraTemporary")" class="btn btn-default">Back</a>
            </div>
        }
    </div>
</section>
<div id="sendmodal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Send document to Fleet ?</h4>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="TraTempId" id="TraTempId">
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="Close" />
                <input type="submit" class="btn btn-danger" value="OK" id="btnConfirmSend" />
            </div>
        </div>
    </div>
</div>
<div id="selectvehmodal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Vehicle</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="hidden" name="IdVehicle" id="IdVehicle">
                            <table id="tbCsfVehicle" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Manufacturer</th>
                                        <th>Model</th>
                                        <th>Series</th>
                                        <th>Body Type</th>
                                        <th>Color</th>
                                    </tr>
                                </thead>
                                <tbody id="tb-body-select-veh"></tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="Close" />
                <input type="button" class="btn btn-danger" value="OK" id="btnSelectVehicle" />
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/tempscript.js"></script>
<script type="text/javascript">
    function GetEmployee() {
        var Id = document.getElementById("Detail_EmployeeId").value;
        $.ajax({
            url: '@Url.Action("GetEmployee", "TraTemporary")',
            type: "POST",
            dataType: "JSON",
            data: { Id:Id },
            success: function (response) {
                document.getElementById("Detail_EmployeeName").value = response.FORMAL_NAME;
                document.getElementById("Detail_CostCenter").value = response.COST_CENTER;
                document.getElementById("Detail_GroupLevel").value = response.GROUP_LEVEL;
            }
        });
    }

    $(document).ready(function () {
        $("#btnSave").click(function () {
            //if (ValidateInput()) {
                $('#CreateForm').submit();
            //}
        });

        $("#btnSendTemp").css("display", "none");
        $("#btnSaveTemp").css("display", "none");

        $("#btnBack").click(function () {
            location.href = '@Url.Action("Index", "TraTemporary")';
        });

        $("#btnConfirmSend").click(function () {
            $('#Detail_IsSaveSubmit').val('submit');
            $('#CreateForm').submit();
        });
    });

    function SendTemp(value) {
        $('#TraTempId').val(value);
        $('#sendmodal').modal('show');
    }

    function SelectVeh(value) {
        $('#IdVehicle').val(value);
        selectVehicle('@Url.Action("GetVehicleData", "TraTemporary")');
        $('#selectvehmodal').modal('show');
    }

    $("#btnSelectVehicle").click(function () {
        var tr = $("[name='selectvehicleradio']:checked").parents("tr");
        var manufacturer = $(tr).find("[name='manufacturer']").val();
        var model = $(tr).find("[name='model']").val();
        var series = $(tr).find("[name='series']").val();
        var bodytype = $(tr).find("[name='bodytype']").val();
        var color = $(tr).find("[name='color']").val();
        var tableData = '<tr>' +
                            '<td><input type="hidden" name="Detail.Manufacturer" id="Detail_Manufacturer" value="' + manufacturer + '"></input>' + manufacturer + '</td>' +
                            '<td><input type="hidden" name="Detail.Models" id="Detail_Models" value="' + model + '"></input>' + model + '</td>' +
                            '<td><input type="hidden" name="Detail.Series" id="Detail_Series" value="' + series + '"></input>' + series + '</td>' +
                            '<td><input type="hidden" name="Detail.BodyType" id="Detail_BodyType" value="' + bodytype + '"></input>' + bodytype + '</td>' +
                            '<td><input type="hidden" name="Detail.Color" id="Detail_Color" value="' + color + '"></input>' + color + '</td>' +
                            '<td><input type="hidden" name="Detail.StartPeriod" id="Detail_StartPeriod" value=""></input>' + + '</td>' +
                            '<td><input type="hidden" name="Detail.EndPeriod" id="Detail_EndPeriod" value=""></input>' + + '</td>' +
                            '</tr>';

        $('#tb-body-select-vehicle').html(tableData);

        $('#selectvehmodal').modal('hide');
        $("#btnSendTemp").css("display", "");
        $("#btnSaveTemp").css("display", "");
    });
</script>
