@using FMS.Core;
@model FMS.Website.Models.TempItemModel

<div class="opt-content clearfloat">
    <h5 class="title-page">Temporary Car</h5>
</div>
<section class="content">
    <div class="wpanel">
        @using (Html.BeginForm("Edit", "TraTemporary", FormMethod.Post, new { @id = "EditForm" }))
        {
            @Html.AntiForgeryToken()
            <div id="information" class="tab-pane active" role="tabpanel">
                <div class="tab-wrapper">
                    <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
                        <div class="panel panel-default">
                            <div id="headingOne" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
                                        Information
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse show" id="collapseOne">
                                <div class="panel-body">
                                    <div role="form" class="form-excise">
                                        <div class="box-tools pull-right" style="margin-top:-50px">
                                            <h4>
                                                <label for="" class="control-label">Status:</label>
                                                <label class="control-label">@Html.Raw(Model.Detail.TempStatusName)</label>
                                            </h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5>Temporary Info</h5>
                                                        <hr />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            @Html.HiddenFor(model => model.Detail.TraTempId)
                                                            @Html.HiddenFor(model => model.Detail.CreateBy)
                                                            @Html.HiddenFor(model => model.Detail.CreateDate)
                                                            @Html.HiddenFor(model => model.Detail.IsSaveSubmit)
                                                            @Html.HiddenFor(model => model.Detail.IsActive)
                                                            @Html.HiddenFor(model => model.Detail.VehicleType)
                                                            @Html.HiddenFor(model => model.IsPersonalDashboard)
                                                            @Html.HiddenFor(model => model.Detail.EmployeeIdCreator)
                                                            @Html.HiddenFor(model => model.Detail.ReferenceNumber)
                                                            <label class="control-label">Temporary Number</label>
                                                            @Html.TextBoxFor(model => model.Detail.TempNumber, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Reference Number</label>
                                                            @Html.TextBoxFor(model => model.Detail.ReferenceNumber, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Temporary Date</label>
                                                            <div class="input-group date">
                                                                @Html.TextBoxFor(model => model.Detail.CreateDate, "{0:dd-MMM-yyyy}", new { @class = "form-control ", @readonly = "readonly" })
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Coordinator</label>
                                                            @Html.TextBoxFor(model => model.Detail.CreateBy, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Reason<span class="red">*</span></label>
                                                            @Html.DropDownListFor(model => model.Detail.ReasonId, Model.Detail.ReasonList, "-- Please Select --", new { @class = "form-control", @required = "required" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Start Date<span class="red">*</span></label>
                                                            <div class="input-group date">
                                                                @Html.TextBoxFor(model => model.Detail.StartPeriod, "{0:dd-MMM-yyyy}", new { @class = "form-control ", @required = "required" })
                                                                <span class="input-group-addon" id="divStartDate">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">End Date<span class="red">*</span></label>
                                                            <div class="input-group date" id="divEndDate">
                                                                @Html.TextBoxFor(model => model.Detail.EndPeriod, "{0:dd-MMM-yyyy}", new { @class = "form-control ", @required = "required" })
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Location</label>
                                                            @Html.DropDownListFor(model => model.Detail.LocationCity, Model.Detail.LocationCityList, "-- Please Select --", new { @class = "form-control", @required = "required" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Include CFM Idle</label>
                                                            <div class="form-control">
                                                                @Html.CheckBoxFor(model => model.Detail.IsIncludeCfmIdle)
                                                                @Html.Label("Include", new { @id = "lblStatus" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5>Assigned Employee</h5>
                                                        <hr />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Employee ID<span class="red">*</span></label>
                                                            @Html.HiddenFor(model => model.Detail.EmployeeId)
                                                            @Html.TextBoxFor(model => model.Detail.EmployeeId, new { @id = "employeeSelect", @class = "form-control", @required = "required" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Employee Name</label>
                                                            @Html.HiddenFor(model => model.Detail.EmployeeName)
                                                            @Html.TextBoxFor(model => model.Detail.EmployeeName, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Cost Center</label>
                                                            @if (Model.Detail.IsBenefit)
                                                            {
                                                                @Html.TextBoxFor(model => model.Detail.CostCenter, new { @class = "form-control ", @readonly = "readonly" })
                                                            }
                                                            else
                                                            {
                                                                @Html.TextBoxFor(model => model.Detail.CostCenter, new { @class = "form-control ", @required = "required" })
                                                            }
                                                        </div>
                                                    </div>
                                                    @if (Model.Detail.IsBenefit)
                                                    {
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Group Level</label>
                                                                @Html.TextBoxFor(model => model.Detail.GroupLevel, new { @class = "form-control ", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-md-12" style="display:none">
                                                            <div class="form-group">
                                                                <label class="control-label">Group Level</label>
                                                                @Html.TextBoxFor(model => model.Detail.GroupLevel, new { @class = "form-control ", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    }
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Vehicle Type</label>
                                                            @Html.DropDownListFor(model => model.Detail.VehicleType, Model.Detail.VehicleTypeList, "-- Please Select --", new { @class = "form-control", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Vehicle Usage</label>
                                                            @Html.DropDownListFor(model => model.Detail.VehicleUsage, Model.Detail.VehicleUsageList, "-- Please Select --", new { @class = "form-control", @required = "required" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Vendor<span class="red">*</span></label>
                                                            @Html.DropDownListFor(model => model.Detail.VendorName, Model.Detail.VendorList, "-- Please Select --", new { @class = "form-control", @required = "required" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Project</label>
                                                            @Html.DropDownListFor(model => model.Detail.ProjectName, Model.Detail.ProjectList, "-- Please Select --", new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    @if (!Model.Detail.IsBenefit)
                                                    {
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Assigned To</label>
                                                                @Html.TextBoxFor(model => model.Detail.AssignedTo, new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    }
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <a href="#" class="btn btn-primary" onclick="SelectVeh(@Model.Detail.TraTempId)" style="float:right;margin-top:20px" id="btnSelectVeh"><i class="glyphicon glyphicon-ok"></i> Select Vehicle</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @Html.Partial("_ListVehicle")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div aria-multiselectable="true" role="tablist" id="accordion3" class="panel-group">
                        <div class="panel panel-default">
                            <div id="heading3" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapseThree" aria-expanded="true" href="#collapse3" data-parent="#accordion3" data-toggle="collapse">
                                        Vehicle Detail Information
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="heading3" role="tabpanel" class="panel-collapse collapse show" id="collapse3">
                                <div class="panel-body">
                                    <div role="form" class="form-excise">
                                        @Html.Partial("_ListVehicleFromVendor")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div aria-multiselectable="true" role="tablist" id="accordion5" class="panel-group">
                        <div class="panel panel-default">
                            <div id="heading5" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapseFive" aria-expanded="true" href="#collapse5" data-parent="#accordion5" data-toggle="collapse">
                                        Workflow History
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="heading5" role="tabpanel" class="panel-collapse collapse" id="collapse5">
                                <div class="panel-body">
                                    <div role="form" class="form-excise">
                                        @Html.Partial("_WorkflowHistoryTable")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div aria-multiselectable="true" role="tablist" id="accordion6" class="panel-group">
                        <div class="panel panel-default">
                            <div id="heading6" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapseSix" aria-expanded="true" href="#collapse6" data-parent="#accordion6" data-toggle="collapse">
                                        Change History
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="heading6" role="tabpanel" class="panel-collapse collapse" id="collapse6">
                                <div class="panel-body">
                                    <div role="form" class="form-excise">
                                        @Html.Partial("_ChangesLog")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <a href="#" class="btn btn-primary" onclick="SendTemp(@Model.Detail.TraTempId)" id="btnSendTemp"><i class="glyphicon glyphicon-ok"></i> Send</a>
                <input type="submit" value="Save" class="btn btn-primary" id="btnSaveTemp" />
                <input type="button" value="Cancel" class="btn btn-primary" onclick="CancelTemp(@Model.Detail.TraTempId)" />
                <a href="@Url.Action(Model.IsPersonalDashboard ? "PersonalDashboard" : "Index", "TraTemporary")" class="btn btn-default">Back</a>
            </div>
        }
    </div>
</section>
<div id="sendmodal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Send document to Fleet ?</h4>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="TraTempId" id="TraTempId">
                <img src="~/Content/img/loader2.gif" id="imgLoader" style="display:none" />
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="Close" id="btnCloseSend" />
                <input type="submit" class="btn btn-danger" value="OK" id="btnConfirmSend" />
            </div>
        </div>
    </div>
</div>
<div id="selectvehmodal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Vehicle</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="hidden" name="IdVehicle" id="IdVehicle">
                            <table id="tbCsfVehicle" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Manufacturer</th>
                                        <th>Model</th>
                                        <th>Series</th>
                                        <th>Body Type</th>
                                        <th>Color</th>
                                    </tr>
                                </thead>
                                <tbody id="tb-body-select-veh"></tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="Close" />
                <input type="button" class="btn btn-danger" value="OK" id="btnSelectVehicle" />
            </div>
        </div>
    </div>
</div>
<div id="cancelmodal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cancel document ?</h4>
            </div>
            @using (Html.BeginForm("CancelTemp", "TraTemporary"))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.HiddenFor(model => model.IsPersonalDashboard)
                                <input type="hidden" name="TraTempCancelId" id="TraTempCancelId">
                                <label class="control-label">Select Remark</label>
                                @Html.DropDownList("RemarkId", Model.RemarkList, "Select", new { @class = "form-control SelectPicker", @required = "required" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-grey" data-dismiss="modal" value="Close" />
                    <input type="submit" class="btn btn-danger" value="OK" id="btnConfirmCancel" />
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/tempscript.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        InitEmployee('@Url.Action("GetEmployeeList", "TraTemporary")', '@Url.Action("GetEmployee", "TraTemporary")');

        $("#btnConfirmSend").click(function () {
            $('#Detail_IsSaveSubmit').val('submit');
            $("#btnSaveTemp").trigger('click');

            $("#imgLoader").css("display", "");
            $("#btnCloseSend").css("display", "none");
            $("#btnConfirmSend").css("display", "none");
        });

        $('#sendmodal').on('hidden.bs.modal', function () {
            $("#imgLoader").css("display", "none");
            $("#btnCloseSend").css("display", "");
            $("#btnConfirmSend").css("display", "");
        })

        $('#divEndDate').on('dp.change', function (e) {
            var endDateValue = e.date;
            var startDt = $("#Detail_StartPeriod").val().split("-");
            var months = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"];
            var month = months.indexOf(startDt[1].toLowerCase());
            var startDateValue = new Date(parseInt(startDt[2]), month, parseInt(startDt[0]));
            
            if (endDateValue < startDateValue) {
                $('#Detail_EndPeriod').val($("#Detail_StartPeriod").val());
            }
        });

        $('#divStartDate').on('dp.change', function (e) {
            var startDateValue = e.date;
            var endDt = $("#Detail_EndPeriod").val().split("-");
            var months = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"];
            var month = months.indexOf(endDt[1].toLowerCase());
            var endDateValue = new Date(parseInt(endDt[2]), month, parseInt(endDt[0]));
            
            if (startDateValue > endDateValue) {
                $('#Detail_StartPeriod').val($("#Detail_EndPeriod").val());
            }
        });
    });

    function CancelTemp(value) {
        $('#TraTempCancelId').val(value);
        $('#cancelmodal').modal('show');
    }

    function SendTemp(value) {
        $('#TraTempId').val(value);
        $('#sendmodal').modal('show');
    }

    function SelectVeh(value) {
        $('#IdVehicle').val(value);
        selectVehicle('@Url.Action("GetVehicleData", "TraTemporary")');
        $('#selectvehmodal').modal('show');
    }

    $("#btnSelectVehicle").click(function () {
        var tr = $("[name='selectvehicleradio']:checked").parents("tr");
        var manufacturer = $(tr).find("[name='manufacturer']").val();
        var model = $(tr).find("[name='model']").val();
        var series = $(tr).find("[name='series']").val();
        var bodytype = $(tr).find("[name='bodytype']").val();
        var color = $(tr).find("[name='color']").val();
        var cfmidle = $(tr).find("[name='cfmidleid']").val();
        var cglcfm = $(tr).find("[name='cargrouplevelcfm']").val();
        var cgl = $(tr).find("[name='cargrouplevel']").val();

        if (cfmidle == 'undefined') {
            cfmidle = '0';
        }

        if (cglcfm == 'undefined') {
            cglcfm = cgl;
        }

        var tableData = '<tr>' +
                            '<td><input type="hidden" name="Detail.Manufacturer" id="Detail_Manufacturer" value="' + manufacturer + '"></input>' + manufacturer + '</td>' +
                            '<td><input type="hidden" name="Detail.Models" id="Detail_Models" value="' + model + '"></input>' + model + '</td>' +
                            '<td><input type="hidden" name="Detail.Series" id="Detail_Series" value="' + series + '"></input>' + series + '</td>' +
                            '<td><input type="hidden" name="Detail.BodyType" id="Detail_BodyType" value="' + bodytype + '"></input>' + bodytype + '</td>' +
                            '<td><input type="hidden" name="Detail.Color" id="Detail_Color" value="' + color + '"></input>' + color + '</td>' +
                            '<td><input type="hidden" name="Detail.StartPeriod" id="Detail_StartPeriod" value=""></input></td>' +
                            '<td><input type="hidden" name="Detail.EndPeriod" id="Detail_EndPeriod" value=""></input></td>' +
                            '<input type="hidden" name="Detail.CfmIdleId" id="Detail_CfmIdleId" value="' + cfmidle + '"></input>' +
                            '<input type="hidden" name="Detail.CarGroupLevel" id="Detail_CarGroupLevel" value="' + cglcfm + '"></input>' +
                            '</tr>';

        $('#tb-body-select-vehicle').html(tableData);

        $('#selectvehmodal').modal('hide');
        $("#btnSendTemp").css("display", "");
        $("#btnSaveTemp").css("display", "");
    });
</script>
