@model FMS.Website.Models.FleetItem
@using FMS.Core

<section class="content-header">
    <h1>
        Master Data Fleet Edit
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm ("Edit","MstFleet"))
            {
            <div class="box-header" style="overflow-y: auto;">
                <div class="box" style="overflow-y: auto;">
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="row">
                                <label class="col-md-5">Police Number<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.HiddenFor(model => model.MstFleetId)
                                    @Html.HiddenFor(model => model.CreatedDate)
                                    @Html.HiddenFor(model => model.CreatedBy)
                                    @Html.TextBoxFor(model => model.PoliceNumber, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <label class="col-md-5">Chasis Number<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.ChasisNumber, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <label class="col-md-5">Engine Number<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.EngineNumber, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <label class="col-md-5">Vendor Namer<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => model.VendorName, Model.VendorList,  new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <label class="col-md-5">Manufacturer<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.Manufacturer, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <label class="col-md-5"> Models <span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.Models, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <label class="col-md-5">Series<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.Series, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <label class="col-md-5">Body Type<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => model.BodyType, Model.BodyTypeList,  new { @class = "form-control " })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <label class="col-md-5">Color<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(model => model.Color, new { @class = "form-control " })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <label class="col-md-5">Transmision<span class="red">*</span></label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => model.Transmission, Model.TransmissionList, "Select", new { @class = "form-control " })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box-body">
                        <input type="submit" value="Save" class="btn bg-blue" />
                        <a href="@Url.Action("Index", "MstFleet" )"><i class="btn bg-gray ">Back</i></a>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>
