@model FMS.Website.Models.FleetModel
@using FMS.Core;

<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Fleet</h5>
    @if (Model.CurrentPageAccess.UploadAccess == true)
    {
        <a href="@Url.Action("Upload", "MstFleet")" class="btn btn-primary line" title="Upload & View">
            <i class="fa fa-upload"></i> Import
        </a>
    }
    <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
        <i class="fa fa-upload"></i> Export
    </a>
</div>
<section class="content">
    @using (Html.BeginForm("ExportMasterFleet", "MstFleet", FormMethod.Post, new { @id = "ExportToXls" }))
    {
    }
    <div class="wpanel">
        <table id="tbFleet" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Police Number</th>
                    <th>Employee Name</th>
                    <th>Employee ID</th>
                    <th>Cost Center</th>
                    <th>Manufacturer</th>
                    <th>Model</th>
                    <th>Series</th>
                    <th>Transmission</th>
                    <th>Body Type</th>
                    <th>Fuel Type</th>
                    <th>Branding</th>
                    <th>Color</th>
                    <th>Airbag</th>
                    <th>Chasis Number</th>
                    <th>Engine Number</th>
                    <th>Request Year</th>
                    <th>Vehicle Type</th>
                    <th>Vehicle Usage</th>
                    <th>Purpose</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Vendor Name</th>
                    <th>City</th>
                    <th>Supply Method</th>
                    <th>Termintation Date</th>
                    <th>Restitution</th>
                    <th>Price</th>
                    <th>Vat</th>
                    <th>Po Number</th>
                    <th>Po Line</th>
                    <th>Car Group Level</th>
                    <th>Group Level</th>
                    <th>Actual Group</th>
                    <th>Assigned To</th>
                    <th>Address</th>
                    <th>Start Contract</th>
                    <th>End Contract</th>
                    <th>GR Left Qty</th>
                    <th>Vehicle Status</th>
                </tr>
            </thead>
            <thead class="filters">
                <tr>
                    <th><!--<a href="@Url.Action("Create", "MstFleet")" class="btn bg-blue" title="Add New Fleet"><i class="glyphicon glyphicon-plus gl">New</i></a>--></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.Details)
                {
                    <tr>
                        <td style="text-align: center;">
                            @if (Model.CurrentPageAccess.WriteAccess == true)
                            {
                                <a href="@Url.Action("Edit", "MstFleet", new { @MstFleetid = data.MstFleetId })" data-toggle="tooltip" data-placement="top" title="Edit" class="action"><img src="~/Content/images/pin.png" alt="" /></a>
                            }
                            @if (Model.CurrentPageAccess.ReadAccess == true)
                            {
                                <a href="@Url.Action("Detail", "MstFleet", new { @MstFleetid = data.MstFleetId })" data-toggle="tooltip" data-placement="top" title="Edit" class="action"><img src="~/Content/images/search.png" alt="" /></a>
                            }
                        </td>
                        <td>@Html.Raw(data.PoliceNumber)</td>
                        <td>@Html.Raw(data.EmployeeName)</td>
                        <td>@Html.Raw(data.EmployeeID)</td>
                        <td>@Html.Raw(data.CostCenter)</td>
                        <td>@Html.Raw(data.Manufacturer)</td>
                        <td>@Html.Raw(data.Models)</td>
                        <td>@Html.Raw(data.Series)</td>
                        <td>@Html.Raw(data.Transmission)</td>
                        <td>@Html.Raw(data.BodyType)</td>
                        <td>@Html.Raw(data.FuelType)</td>
                        <td>@Html.Raw(data.Branding)</td>
                        <td>@Html.Raw(data.Color)</td>
                        <td>@Html.Raw(data.Airbag == true ? "Yes" : "No")</td>
                        <td>@Html.Raw(data.ChasisNumber)</td>
                        <td>@Html.Raw(data.EngineNumber)</td>
                        <td>@Html.Raw(data.VehicleYear)</td>
                        <td>@Html.Raw(data.VehicleType)</td>
                        <td>@Html.Raw(data.VehicleUsage)</td>
                        <td>@Html.Raw(data.Purpose)</td>
                        <td>@Html.Raw(data.StartDate == null ? "" : data.StartDate.Value.ToString("dd-MMM-yyyy"))</td>
                        <td>@Html.Raw(data.EndDate == null ? "" : data.EndDate.Value.ToString("dd-MMM-yyyy"))</td>
                        <td>@Html.Raw(data.VendorName)</td>
                        <td>@Html.Raw(data.City)</td>
                        <td>@Html.Raw(data.SupplyMethod)</td>
                        <td>@Html.Raw(data.TerminationDate == null ? "" : data.TerminationDate.Value.ToString("dd-MMM-yyyy"))</td>
                        <td>@Html.Raw(data.Restitution == true ? "Yes" : "No")</td>
                        <td>@Html.Raw(data.Price)</td>
                        <td>@Html.Raw(data.Vat == true? "Yes" : "No")</td>
                        <td>@Html.Raw(data.PoNumber)</td>
                        <td>@Html.Raw(data.PoLine)</td>
                        <td>@Html.Raw(data.CarGroupLevel)</td>
                        <td>@Html.Raw(data.GroupLevel)</td>
                        <td>@Html.Raw(data.ActualGroup)</td>
                        <td>@Html.Raw(data.AssignedTo)</td>
                        <td>@Html.Raw(data.Address)</td>
                        <td>@Html.Raw(data.StartContract == null ? "" : data.StartContract.Value.ToString("dd-MMM-yyyy"))</td>
                        <td>@Html.Raw(data.EndContract == null ? "" : data.EndContract.Value.ToString("dd-MMM-yyyy"))</td>
                        <td>@Html.Raw(data.GrLeftQty)</td>
                        <td>@Html.Raw(data.IsActive == true ? "Active" : "InActive")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<script type="text/javascript">
    function ExportXls() {
        $('#ExportToXls').submit();
    }

    $(function () {
        // DataTable
        var table = $('#tbFleet').DataTable({
            "dom": 'lf<"table-overflow"t>pi',
            orderCellsTop: true//,
                //drawCallback: function(){
                //    $(".paginate_button", this.api().table().container()).on('click', function () {
                //        var dataPerPage = table.page.len();
                //        var page = table.page();

                //        alert(dataPerPage+ "button");
                //        alert(page + "button");
                //    });
                //}
        });

        //$('#tbFleet').on('length.dt', function (e, settings, len) {
        //    var dataPerPage = table.page.len();
        //    var page = table.page();

        //    $.ajax({
        //        type: "POST",
        //        url: "MstFleet",
        //        data: { "pageNumber": page + 1, "dataPerPage": dataPerPage }
        //    });
        //});

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });

    });
</script>