@using FMS.Core;
@model FMS.Website.Models.LocationMappingModel

<table id="tbLocationMapping" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="min-width: 50px">Action</th>
            <th>Location</th>
            <th>Address</th>
            <th>Basetown</th>
            <th>Region</th>
            <th>Zone Sales</th>
            <th>Zone Price List</th>
            <th>Validity From</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>Modified By</th>
            <th>Modified Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <thead class="filters">
        <tr>
            <th>
                @if (Model.CurrentPageAccess.WriteAccess == true)
                {
                    <a href="@Url.Action("Create", "MstLocationMapping")" class="btn btn-primary line"><i class="fa fa-plus"></i> New</a>
                }
            </th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model.Details)
            {
            <tr>
                <td style="text-align: center;">
                    @if (Model.CurrentPageAccess.WriteAccess == true && (Model.SearchView.Table == null || Model.SearchView.Table != "2"))
                    {
                        <a href="@Url.Action("Edit", "MstLocationMapping", new { @MstLocationMappingId = data.MstLocationMappingId })" data-toggle="tooltip" data-placement="top" title="Edit" class="action"><img src="~/Content/images/pin.png" alt="" /></a>
                    }
                    @if (Model.CurrentPageAccess.ReadAccess == true && Model.SearchView.Table == "2")
                    {
                        <a href="@Url.Action("Detail", "MstLocationMapping", new { @MstLocationMappingId = data.MstLocationMappingId, Archive = true })" data-toggle="tooltip" data-placement="top" title="Detail" class="action"><img src="~/Content/images/search.png" alt="" /></a>
                    }
                    else if (Model.CurrentPageAccess.ReadAccess == true && (Model.SearchView.Table == null || Model.SearchView.Table != "2"))
                    {
                        <a href="@Url.Action("Detail", "MstLocationMapping", new { @MstLocationMappingId = data.MstLocationMappingId })" data-toggle="tooltip" data-placement="top" title="Detail" class="action"><img src="~/Content/images/search.png" alt="" /></a>
                    }
                </td>
                <td>@Html.Raw(data.Location)</td>
                <td>@Html.Raw(data.Address)</td>
                <td>@Html.Raw(data.Basetown)</td>
                <td>@Html.Raw(data.Region)</td>
                <td>@Html.Raw(data.ZoneSales)</td>
                <td>@Html.Raw(data.ZonePriceList)</td>
                <td>@Html.Raw(data.ValidFrom.Value.ToString("dd-MMM-yyyy"))</td>
                <td>@Html.Raw(data.CreatedBy)</td>
                <td>@Html.Raw(data.CreatedDate.Value.ToString("dd-MMM-yyyy HH:mm:ss"))</td>
                <td>@Html.Raw(data.ModifiedBy == null ? data.CreatedBy : data.ModifiedBy)</td>
                <td>@Html.Raw(data.ModifiedDate == null ? data.CreatedDate.Value.ToString("dd-MMM-yyyy HH:mm:ss") : data.ModifiedDate.Value.ToString("dd-MMM-yyyy HH:mm:ss"))</td>
                <td>@Html.Raw(data.IsActive == true ? "Active" : "InActive")</td>
            </tr>
        }
    </tbody>
</table>