@using FMS.Core
@model FMS.Website.Models.LocationMappingItem

<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Location Mapping Create</h5>
</div>
<section class="content">
    <div class="wpanel">
        @using (Html.BeginForm("Create", "MstLocationMapping"))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Location<span class="red">*</span></label>
                        @Html.DropDownListFor(model => model.Location, Model.LocationList,"Select", new { @class = "form-control selectpicker", data_live_search = "true"})
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Address<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Region<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.Region, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Zone Sales<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.ZoneSales, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Zone Price List<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.ZonePriceList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Validity From<span class="red">*</span></label>
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.ValidFrom, "{0:dd-MMM-yyyy}", new { @class = "form-control"})
                            <span class="input-group-addon btn btn-primary" onclick="onValidFrom()">
                                <i class="fa fa-calendar "></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a href="@Url.Action("Index", "MstLocationMapping" )" class="btn btn-default">Back</a>
                </div>
            </div>
        }
    </div>
</section>
<script type="text/javascript">
    function onValidFrom() {
        $('#ValidFrom').focus();
    }
</script>