@using FMS.Core;
@model FMS.Website.Models.PenaltyItem

<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Penalty Create</h5>
</div>
<section class="content">

    <div class="wpanel">
        @using (Html.BeginForm("Create", "MstPenalty"))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Vendor<span class="red"></span></label>
                        @Html.DropDownListFor(model => model.Vendor, Model.VendorList, "-----Please Select-----",new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Manufacture<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.Manufacturer, new { @class = "form-control", @required = "required" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Model<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.Models, new { @class = "form-control", @required = "required" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Series<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.Series, new { @class = "form-control", @required = "required" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Body Type<span class="red"></span></label>
                        @Html.TextBoxFor(model => model.BodyType, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Request Year<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.Year, new { @class = "form-control", onkeypress = "return IsAngka(event)", @required = "required" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Minimum Remaining Lease Term (Months)<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.MonthStart, new { @class = "form-control", @required = "required" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Maximum Remaining Lease Term (Months)<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.MonthEnd, new { @class = "form-control", @required = "required" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Vehicle Type<span class="red"></span></label>
                        @Html.DropDownListFor(model => model.VehicleType, Model.VehicleList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Penalty<span class="red">*</span></label>
                        @Html.DropDownListFor(model => model.Penalty, Model.PenaltyList, "------Please Select------", new { @class = "form-control", @onchange="FillLogic()", @required="required" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Penalty Logic<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.PenaltyLogic, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a href="@Url.Action("Index", "MstPenalty" )" class="btn btn-default">Back</a>
                </div>
            </div>
        }
    </div>
</section>
<script type="text/javascript">
    function IsAngka(evt) {
        var charCode = (evt.which);
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        } return true;
    }
    function FillLogic() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetPenaltyLogicById", "MstPenalty")',
            data: { penaltyLogicId : $("#Penalty").val() },
            success: function (PenaltyLogic) {
                $("#PenaltyLogic").val(PenaltyLogic);
            }
        });
    }
</script>
