@using FMS.Core;
@model FMS.Website.Models.PenaltyItem

<section class="content-header">
    <h1>
        Master Data Penalty Create
    </h1>
</section>
<section class="content" ng-controller="MSTCCtrl" ng-init="init()">

    <div class="row">
        <div class="col-xs-12">
            <div class="box" style="overflow-y: auto;">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        @using (Html.BeginForm("Create", "MstPenalty"))
                        {
                            <div class="form-box">
                                <div class="panel-body ">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="col-md-4">Manufacture<span class="red">*</span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Manufacturer, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-md-4">Model<span class="red">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => model.Models, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-md-4">Series<span class="red">*</span></label>
                                                <div class="col-md-4">
                                                    @Html.TextBoxFor(model => model.Series, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-md-4">Year<span class="red">*</span></label>
                                                <div class="col-md-4">
                                                    @Html.TextBoxFor(model => model.Year, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-md-4">Month Start<span class="red">*</span></label>
                                                <div class="col-md-4">
                                                    @Html.TextBoxFor(model => model.MonthStart, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-md-4">Month End<span class="red">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => model.MonthEnd, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-md-4">Vehicle Type<span class="red">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => model.VehicleType, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-md-4">Penalty<span class="red">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => model.Penalty, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-md-4">Restitution<span class="red">*</span></label>
                                                <div class="col-md-7">
                                                    @Html.TextBoxFor(model => model.Restitution, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-box">
                                <div class="panel-body">
                                    <div class="Row">
                                        <input type="submit" value="Save" class="btn bg-blue" />
                                        <a href="@Url.Action("Index", "MstPenalty" )" class="btn bg-gray">Back</a>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>
