@using FMS.Core;
@model FMS.Website.Models.CtfItem

@{
    ViewBag.Title = Model.TitleForm;
}
<div class="opt-content clearfloat">
    <h5 class="title-page">@ViewBag.Title @Model.ErrorMessage</h5>
</div>
<section class="content">
    <div class="wpanel">
        @using (Html.BeginForm("EditWTC", "TraCtf", FormMethod.Post, new { @id = "FormEdit" }))
        {
            @Html.AntiForgeryToken()
            <div id="information" class="tab-pane active" role="tabpanel">
                <div class="tab-wrapper">
                    <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
                        <div class="panel panel-default">
                            <div id="headingOne" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
                                        Information
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse show" id="collapseOne">
                                <div class="panel-body">
                                    <div role="form" class="form-excise">
                                        <div class="row">
                                            <div class="box-tools pull-right" style="margin-top:-50px">
                                                <h4>
                                                    <label for="" class="control-label">Status:</label>
                                                    <label class="control-label">@Html.Raw(Model.DocumentStatus.ToString())</label>
                                                </h4>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5>CTF Info</h5>
                                                        <hr />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">CTF Number</label>
                                                            @Html.HiddenFor(model => model.TraCtfId)
                                                            @Html.HiddenFor(model => model.DocumentStatus)
                                                            @Html.HiddenFor(model => model.IsActive)
                                                            @Html.HiddenFor(model => model.IsPersonalDashboard)
                                                            @Html.HiddenFor(model => model.EmployeeIdCreator)
                                                            @Html.HiddenFor(model => model.EmployeeIdFleetApproval)
                                                            @Html.HiddenFor(model => model.ApprovedFleet)
                                                            @Html.HiddenFor(model => model.ApprovedFleetDate)
                                                            @Html.HiddenFor(model => model.IsPenalty)
                                                            @Html.HiddenFor(model => model.VehicleLocation)
                                                            @Html.HiddenFor(model => model.Region)
                                                            @*--------------------- calculation----------------*@
                                                            @Html.HiddenFor(model => model.Penalty)
                                                            @Html.HiddenFor(model => model.EmployeeContribution)
                                                            @Html.HiddenFor(model => model.RefundCost)
                                                            @Html.HiddenFor(model => model.BuyCostTotal)
                                                            @Html.HiddenFor(model => model.BuyCost)
                                                            @Html.HiddenFor(model => model.PenaltyPrice)
                                                            @*--------------------- calculation----------------*@
                                                            @Html.HiddenFor(model => model.isSubmit, new { @id = "isSubmit" })
                                                            @Html.TextBoxFor(model => model.DocumentNumber, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">CTF Date</label>
                                                            @Html.TextBoxFor(model => model.CreatedDate, "{0:dd-MMM-yyyy}", new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Coordinator</label>
                                                            @Html.TextBoxFor(model => model.CreatedBy, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">EmployeeID</label>
                                                            @if (Model.DocumentStatus == Enums.DocumentStatus.Draft)
                                                            {
                                                                @Html.TextBoxFor(model => model.EmployeeId, new { @id = "EmployeeId", @class = "form-control", required = "required" })
                                                            }
                                                            else
                                                            {
                                                                @Html.TextBoxFor(model => model.EmployeeId, new { @id = "EmployeeId", @class = "form-control", @readonly = "readonly" })
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Employee Name</label>
                                                            @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Cost Center</label>
                                                            @Html.TextBoxFor(model => model.CostCenter, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Reason</label>
                                                            @if (Model.DocumentStatus == Enums.DocumentStatus.Draft)
                                                            {
                                                                @Html.DropDownListFor(model => model.Reason, Model.ReasonList, "-- Please Select--", new { @class = "form-control", required = "required" })
                                                            }
                                                            else
                                                            {@Html.DropDownListFor(model => model.Reason, Model.ReasonList, "-- Please Select--", new { @class = "form-control", @disabled = "disabled" }) }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h5>Vehicle Information</h5>
                                                        <hr />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Police Number</label>
                                                            @if (Model.DocumentStatus == Enums.DocumentStatus.Draft)
                                                            {
                                                                @Html.TextBoxFor(model => model.PoliceNumber, new { @id = "PoliceNumber", @class = "form-control", required = "required" })
                                                            }
                                                            else
                                                            {
                                                                @Html.TextBoxFor(model => model.PoliceNumber, new { @id = "PoliceNumber", @class = "form-control", required = "required", @readonly = "readonly" })
                                                            }

                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Vehicle Type</label>
                                                            @Html.TextBoxFor(model => model.VehicleType, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Vehicle Year</label>
                                                            @Html.TextBoxFor(model => model.VehicleYear, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Supply Method</label>
                                                            @Html.TextBoxFor(model => model.SupplyMethod, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">End Rent Date</label>
                                                            @Html.TextBoxFor(model => model.EndRendDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Effective Date</label>
                                                            <div class="input-group date" id="EffDate">
                                                                @if (Model.DocumentStatus == Enums.DocumentStatus.Draft)
                                                                {
                                                                    @Html.TextBoxFor(model => model.EffectiveDate, "{0:dd-MMM-yyyy}", new { @class = "form-control " })
                                                                }
                                                                else
                                                                {
                                                                    @Html.TextBoxFor(model => model.EffectiveDate, "{0:dd-MMM-yyyy}", new { @class = "form-control ", @disabled = "disabled" })
                                                                }
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="idExtend">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Extend Vehicle</label>
                                                                @if (Model.DocumentStatus == Enums.DocumentStatus.Draft)
                                                                {
                                                                    @Html.DropDownListFor(model => model.ExtendVehicle, Model.ExtendList, "-- Please Select--", new { @class = "form-control", onchange = "onExtendVehicle()" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.DropDownListFor(model => model.ExtendVehicle, Model.ExtendList, "-- Please Select--", new { @class = "form-control", onchange = "onExtendVehicle()", @disabled = "disabled" })
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12" style="display:@(Model.ExtendVehicle ? "block":"none" )" id="extButton">
                                                            <div class="form-group">
                                                                <a href="#" class="btn btn-primary" style="float:right;"><i class="glyphicon glyphicon-plus"></i>Extend Vehicle</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="WorkflowHistory" class="tab-pane active" role="tabpanel">
                <div class="tab-wrapper">
                    <div aria-multiselectable="true" role="tablist" id="accordion5" class="panel-group">
                        <div class="panel panel-default">
                            <div id="heading5" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapseFive" aria-expanded="true" href="#collapse5" data-parent="#accordion5" data-toggle="collapse">
                                        Workflow History
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="heading5" role="tabpanel" class="panel-collapse collapse" id="collapse5">
                                <div class="panel-body">
                                    <div role="form" class="form-excise">
                                        @Html.Partial("_WorkflowHistoryTable")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ChangeHistroy" class="tab-pane active" role="tabpanel">
                <div class="tab-wrapper">
                    <div aria-multiselectable="true" role="tablist" id="accordion6" class="panel-group">
                        <div class="panel panel-default">
                            <div id="heading6" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapseSix" aria-expanded="true" href="#collapse6" data-parent="#accordion6" data-toggle="collapse">
                                        Change History
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="heading6" role="tabpanel" class="panel-collapse collapse" id="collapse6">
                                <div class="panel-body">
                                    <div role="form" class="form-excise">
                                        @Html.Partial("_ChangesLog")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                @if (Model.DocumentStatus == Enums.DocumentStatus.Draft)
                {
                    <a href="#" class="btn btn-primary" onclick="SendCtf(@Model.TraCtfId)"><i class="glyphicon glyphicon-ok"></i> Send</a>
                    <input type="submit" value="Save" class="btn btn-primary" id="btnSubmit" />
                }
                <input type="button" value="Cancel" class="btn btn-primary" onclick="CancelCtf(@Model.TraCtfId)" />
                <a href="@Url.Action(Model.IsPersonalDashboard ? "PersonalDashboard" : "Index", "TraCtf")" class="btn btn-default">Back</a>
            </div>
        }
    </div>
</section>
<div id="extendmodal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("CtfExtend", "TraCtf"))
            {
                <div class="modal-header">
                    <h4 class="modal-title">Extend Vehicle</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Employee Id</label>
                                @Html.HiddenFor(model => model.TraCtfId, new { @id = "modalTraCtfId" })
                                @Html.TextBoxFor(model => model.EmployeeId, new { @class = "form-control ", @id = "modalEmployeeId", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Police Number</label>
                                @Html.TextBoxFor(model => model.PoliceNumber, new { @class = "form-control ", @id = "modalPoliceNumber", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">End Rent Date</label>
                                @Html.TextBoxFor(model => model.EndRendDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", @id = "modalEndRent", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">New Proposed Date</label>
                                <div class="input-group date" id="extDate">
                                    @Html.TextBoxFor(model => model.CtfExtend.NewProposedDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", @id = "modalDate" })
                                    <span class="input-group-addon btn btn-primary">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Extend Police Number</label>
                                @Html.TextBoxFor(model => model.CtfExtend.ExtendPoliceNumber, new { @class = "form-control ", @id = "modalExtPoliceNumber" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Extend PO Number</label>
                                @Html.TextBoxFor(model => model.CtfExtend.ExtendPoNumber, new { @class = "form-control ", @id = "modalPoNumber" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Extend PO Line</label>
                                @Html.TextBoxFor(model => model.CtfExtend.ExtedPoLine, new { @class = "form-control", @id = "modalPoLine" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Extend Price</label>
                                @Html.HiddenFor(model => model.CtfExtend.ExtendPrice)
                                @Html.TextBoxFor(model => model.CtfExtend.ExtendPriceStr, new { @class = "decimal form-control", @id = "modalPrice", onkeypress = "return IsAngka(event)" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Reason</label>
                                @Html.DropDownListFor(model => model.CtfExtend.Reason, Model.ReasonExtendList, "-- Please Select --", new { @class = "form-control", @id = "modalReason" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-grey" data-dismiss="modal" value="Close" id="btnConfirmClose" />
                    <input type="submit" class="btn btn-danger" value="Extend" id="btnConfirmExtend" />
                </div>
            }
        </div>
    </div>
</div>
<div id="cancelmodal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cancel document ?</h4>
            </div>
            @using (Html.BeginForm("CancelCtf", "TraCtf"))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" name="TraCtfId" id="TraCtfIdCancel">
                                <input type="hidden" name="type" id="idType">
                                @Html.Hidden("IsPersonalDashboard", Model.IsPersonalDashboard)
                                <label class="control-label">Select Remark</label>
                                @Html.DropDownList("RemarkId", Model.RemarkList, "Select", new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-grey" data-dismiss="modal" value="Close" />
                    <input type="submit" class="btn btn-danger" value="OK" id="btnConfirmCancel" />
                </div>
            }
        </div>
    </div>
</div>
<div id="sendmodal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Send document ?</h4>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="TraCtfId" id="TraCtfIdSend">
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="Close" />
                <input type="submit" class="btn btn-danger" value="OK" id="btnConfirmSend" onclick="Confirm()" />
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ctfscript.js"></script>
<script src="~/Scripts/thousand-separator.js"></script>
<script type="text/javascript">

    $('#PenaltyPriceStr').val(ThausandSeperator($('#PenaltyPriceStr').val(), 2));

    function IsAngka(evt) {
        var charCode = (evt.which);
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
    $(document).ready()
    {
        InitEmployee('@Url.Action("GetEmployeeList","TraCtf")', '@Url.Action("GetEmployee","TraCtf")');
        InitPoliceNumber('@Url.Action("GetPoliceNumberList", "TraCtf")', '@Url.Action("GetVehicle", "TraCtf")');
        CheckEndrent();
        onExtendVehicle();
    }

    $('#EffDate').on('dp.change', function (e) {
        var todayDate = new Date();
        var effDateStr = $("#EffectiveDate").val().split("-");
        var SetMonths = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        var months = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"];
        var month = months.indexOf(effDateStr[1].toLowerCase());
        var effDate = new Date(parseInt(effDateStr[2]), month, parseInt(effDateStr[0]));
        var today = new Date(todayDate.getFullYear(), todayDate.getMonth(), todayDate.getDate());
        if (effDateStr == '') effDate = today;
        var datestr = today.getDate() + '-' + (SetMonths[today.getMonth()]) + '-' + today.getFullYear();
        if (effDate < today) {
            alert('Effective Date must bigger or equal wih today')
            $("#EffectiveDate").val(datestr);
            return false;
        }
        var endDateStr = $("#EndRendDate").val().split("-");
        var months = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"];
        var month = months.indexOf(endDateStr[1].toLowerCase());
        var endDate = new Date(parseInt(endDateStr[2]), month, parseInt(endDateStr[0]));
        if (effDate > endDate) {
            alert('Effective Date cannot bigger than End Rent Date ')
            $("#EffectiveDate").val($("#EndRendDate").val());
            return false;
        }
        return true;
    });

    $('#extDate').on('dp.change', function (e) {

        var extDateStr = $("#modalDate").val().split("-");

        var months = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"];
        var month = months.indexOf(extDateStr[1].toLowerCase());
        var extDate = new Date(parseInt(extDateStr[2]), month, parseInt(extDateStr[0]));
        extDate = extDate.setHours(00, 00, 00, 00);

        var endDateStr = $("#modalEndRent").val().split("-");
        var months = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"];
        var month = months.indexOf(endDateStr[1].toLowerCase());
        var endDate = new Date(parseInt(endDateStr[2]), month, parseInt(endDateStr[0]));

        if (endDateStr == '') extDate = endDate;
        if (extDate < endDate) {
            alert('New Proposed Date  cannot less than End Rent Date ')
            $("#modalDate").val('');
            return false;
        }
        return true;
    });

    function InitPoliceNumber(url, urlsearch) {
        var options = {
            url: url,
            getValue: "PoliceNumber",

            template: {
                type: "description",
                fields: {
                    description: "VehicleType"
                }
            },
            list: {
                match: {
                    enabled: true
                },
                sort: {
                    enabled: true
                },
                onChooseEvent: function () {
                    GetVehicle();
                }
            }
        };
        $("#PoliceNumber").easyAutocomplete(options);
    }
    function InitEmployee(url, urlsearch) {
        var options = {
            url: url,
            getValue: "EMPLOYEE_ID",

            template: {
                type: "description",
                fields: {
                    description: "FORMAL_NAME"
                }
            },
            list: {
                match: {
                    enabled: true
                },
                sort: {
                    enabled: true
                },
                onChooseEvent: function () {
                    GetEmployee();
                }
            }
        };
        $("#EmployeeId").easyAutocomplete(options);
    }
    function CheckEndrent() {
        var reason = $('#Reason').find("option:selected").text().toLowerCase()
        var reasonval = $("#Reason").val();
        if (reason == 'end rent') {
            $('#idcfmonly').hide();
            $('#idExtend').hide();
            var EndRent = $('#EndRendDate').val()
            document.getElementById("EffectiveDate").value = EndRent;
            $('#EffectiveDate').prop('readonly', true);
        }
        else if (reasonval == '' || !reasonval) {
            $('#idExtend').show();
            $('#idExtend').prop('disabled', false);
            $('#ExtendVehicle').prop('disabled', false);
            $('#EffectiveDate').prop('readonly', true);
            onExtendVehicle();
        }
        else {
            $('#idExtend').hide();
            $('#idExtend').prop('disabled', true);
            $('#ExtendVehicle').prop('disabled', true);
            $('#EffectiveDate').prop('readonly', false);
            $('#ExtendVehicle').prop('selectedIndex', 1);
            onExtendVehicle();
        }
    }
    $("#Reason").change(function () {
        CheckEndrent();
    });
     function GetEmployee() {
        var Id = document.getElementById("EmployeeId").value;
        $.ajax({
            url: '@Url.Action("GetEmployee", "TraCtf")',
            type: "POST",
            dataType: "JSON",
            data: { Id:Id },
            success: function (response) {
                document.getElementById("EmployeeName").value = response.EmployeeName;
                if (response.PoliceNumber != null) {
                    document.getElementById("PoliceNumber").value = response.PoliceNumber;
                    document.getElementById("VehicleYear").value = response.VehicleYear;
                    document.getElementById("VehicleType").value = response.VehicleType;
                    document.getElementById("VehicleLocation").value = response.VehicleLocation;
                    document.getElementById("SupplyMethod").value = response.SupplyMethod;
                    var dt = new Date(parseInt(response.EndRendDate.substr(6)));
                    var dtStr = dt.toString();
                    var date = dtStr.substr(8, 2) + " " + (dtStr.substr(4, 3)) + " " + dtStr.substr(11, 4);
                    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                    var str = dt.getDate() + '-' + (months[dt.getMonth()]) + '-' + dt.getFullYear();
                    document.getElementById("EndRendDate").value = str;
                    document.getElementById("CostCenter").value = response.CostCenterFleet;
                }
                else
                {
                    document.getElementById("PoliceNumber").value = '';
                    document.getElementById("VehicleYear").value = '';
                    document.getElementById("VehicleType").value = '';
                    document.getElementById("SupplyMethod").value = '';
                    document.getElementById("EndRendDate").value = '';
                    document.getElementById("CostCenter").value = '';
                    document.getElementById("VehicleLocation").value = '';
                }
            },
            complete: function (data) {
                GetReasonList();
                var data = $('#Reason').find("option:selected").text().toLowerCase()
                CheckEndrent(data);
            }
        });
    }
    function GetVehicle() {
        var Id = document.getElementById("PoliceNumber").value;
        $.ajax({
            url: '@Url.Action("GetVehicle", "TraCtf")',
            type: "POST",
            dataType: "JSON",
            data: { Id: Id },
            success: function (response) {
                document.getElementById("VehicleType").value = response.VehicleType;
                document.getElementById("SupplyMethod").value = response.SupplyMethod;
                var dt = new Date(parseInt(response.EndRendDate.substr(6)));
                var dtStr = dt.toString();
                var date = dtStr.substr(8, 2) + " " + (dtStr.substr(4, 3)) + " " + dtStr.substr(11, 4);
                var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                var str = dt.getDate() + '-' + (months[dt.getMonth()]) + '-' + dt.getFullYear();
                document.getElementById("EndRendDate").value = str;
                if (response.PoliceNumber != null) {
                    document.getElementById("EmployeeId").value = response.EmployeeId;
                    document.getElementById("EmployeeName").value = response.EmployeeName;
                    document.getElementById("CostCenter").value = response.CostCenterFleet;
                    document.getElementById("VehicleYear").value = response.VehicleYear;
                    document.getElementById("VehicleLocation").value = response.VehicleLocation;
                }
                else
                {
                    document.getElementById("EmployeeName").value = '';
                    document.getElementById("CostCenter").value = '';
                    document.getElementById("VehicleYear").value = '';
                    document.getElementById("VehicleLocation").value = '';
                }
            },
            complete: function (data) {
                GetReasonList();
                CheckEndrent();
            }
        });
    }
    function CheckIsTransferToIdle () {
        if (document.getElementById('ChkIsTransferToIdle').checked == true) {
            document.getElementById('lblIsTransferToIdle').innerHTML = "Yes";
        }
        else {
            document.getElementById('lblIsTransferToIdle').innerHTML = "No";
        }
    }
    function onExtendVehicle() {
        if ($('#ExtendVehicle').val() == 'True') {
            document.getElementById('extButton').style.display = 'block';

            var EndRent = $('#EndRendDate').val()
            document.getElementById("EffectiveDate").value = EndRent;

            $('#modalExtPoliceNumber').prop('required', true);
            $('#modalPoNumber').prop('required', true);
            $('#modalPoLine').prop('required', true);
            $('#modalReason').prop('required', true);
            $('#modalDate').prop('required', true);
            $('#modalPrice').prop('required', true);
        }
        else if ($('#ExtendVehicle').val() == 'False') {
            document.getElementById('extButton').style.display = 'none';
            $('#modalExtPoliceNumber').prop('required', false);
            $('#modalPoNumber').prop('required', false);
            $('#modalPoLine').prop('required', false);
            $('#modalReason').prop('required', false);
            $('#modalDate').prop('required', false);
            $('#modalPrice').prop('required', false);
        }
    }

    $('#extButton').click(function () {
        $('#modalTraCtfId').val($('#TraCtfId').val());
        $('#modalEmployeeId').val($('#EmployeeId').val());
        $('#modalPoliceNumber').val($('#PoliceNumber').val());
        $('#modalEndRent').val($('#EndRendDate').val());
        $('#modalDate').val($('#EndRendDate').val());
        $('#extendmodal').modal('show');
    });

    function CancelCtf(value) {
        $('#TraCtfIdCancel').val(value);
        $('#idType').val("wtc");
        $('#cancelmodal').modal('show');
    }

    function SendCtf(value) {
        $('#TraCtfIdSend').val(value);
        $('#sendmodal').modal('show');
    }
    function Confirm() {
        $('#isSubmit').val('submit');
        $("#btnSubmit").trigger('click');
    }
    $("#btnConfirmSend").click(function () {
        $('#isSubmit').val('submit');
        $("#btnSubmit").trigger('click');
    });
    function GetReasonList() {
        if ($("#VehicleType").length) {
            var VehicleType = $('#VehicleType').val();
            $('#Reason option').remove();
            if (VehicleType == '' || $('#VehicleType').find("option:selected").val() == '') {
                $('#Reason').append('<option value="">-- Please Select --</option>');

            }
            else {
                $.ajax({
                    url: '@Url.Action("GetReasonByVehicleType", "TraCtf")',
                    type: "POST",
                    dataType: "JSON",
                    data: { VehicleType: VehicleType },
                    success: function (list) {
                        $('#Reason').append('<option value="">-- Please Select --</option>');
                        if (list.length > 0) {
                            for (var i = 0; i < list.length; i++) {
                                $('#Reason').append('<option value=' + list[i].MstReasonId + '>' + list[i].Reason + '</option>');
                            }
                        }
                    }
                });
            }
        }
    }
</script>
