@using FMS.Core;
@model FMS.Website.Models.CtfModel

@{
    ViewBag.Title = Model.TitleForm;
}

<div class="opt-content clearfloat">
    <h5 class="title-page">@ViewBag.Title</h5>
    @if (Model.CurrentPageAccess.ReadAccess.Value)
    {
        <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
            <i class="fa fa-download"></i> Export
        </a>
    }
    @if (Model.CurrentLogin.UserRole == Enums.UserRole.Fleet)
    {
        <a href="@Url.Action("UploadCtf", "TraCtf")" class="btn btn-primary line" title="Upload CTF">
            <i class="fa fa-upload"></i> Mass Upload
        </a>
    }
</div>
<section class="content">
    @using (Html.BeginForm("ExportPersonalDashboard", "TraCtf", FormMethod.Post, new { @id = "ExportToXls" }))
    {

    }
    <div class="wpanel">
        <table id="tbCtfPersonalDashboard" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="min-width: 50px">Action</th>
                    <th style="min-width: 120px" align="center">CTF No</th>
                    <th style="min-width: 120px" align="center">CTF Status</th>
                    <th style="min-width: 120px" align="center">Vehicle Type</th>
                    <th style="min-width: 120px" align="center">Employee ID</th>
                    <th style="min-width: 120px" align="center">Employee Name</th>
                    <th style="min-width: 120px" align="center">Reason</th>
                    <th style="min-width: 120px" align="center">Police Number</th>
                    <th style="min-width: 120px" align="center">Termination Date</th>
                    <th style="min-width: 120px" align="center">Regional</th>
                    <th style="min-width: 120px" align="center">Vehicle Location</th>
                    <th style="min-width: 120px" align="center">Cost Center</th>
                    <th style="min-width: 120px" align="center">Vehicle usage</th>
                    <th style="min-width: 120px" align="center">Supply Method</th>
                    <th style="min-width: 120px" align="center">End Rent Date</th>
                    <th style="min-width: 120px" align="center">Extend Date</th>
                    <th style="min-width: 120px" align="center">Coordinator</th>
                    <th style="min-width: 120px" align="center">Updated by</th>
                    <th style="min-width: 120px" align="center">Updated Date</th>
                </tr>
            </thead>
            <thead class="filters">
                <tr>
                    <th>
                    </th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.Details)
                {
                    <tr>
                        <td style="text-align: center;">
                            @if (data.DocumentStatus != Enums.DocumentStatus.Completed && data.DocumentStatus != Enums.DocumentStatus.Cancelled)
                            {
                                if (((data.DocumentStatus == Enums.DocumentStatus.Draft || data.DocumentStatus == Enums.DocumentStatus.AssignedForUser)
                                && (data.EmployeeIdCreator == Model.CurrentLogin.EMPLOYEE_ID  || (Model.CurrentLogin.LoginFor == null ? false : (Model.CurrentLogin.LoginFor.Where(x => x.EMPLOYEE_ID == data.EmployeeIdCreator).Count() > 0 ? true : false)))) || (data.DocumentStatus == Enums.DocumentStatus.AssignedForUser && data.EmployeeId == Model.CurrentLogin.EMPLOYEE_ID) ||
                                (data.DocumentStatus == Enums.DocumentStatus.WaitingHRApproval && Model.CurrentLogin.UserRole == Enums.UserRole.HR) ||
                                ((data.DocumentStatus == Enums.DocumentStatus.WaitingFleetApproval || data.DocumentStatus == Enums.DocumentStatus.InProgress || data.DocumentStatus == Enums.DocumentStatus.Extended)
                                && Model.CurrentLogin.UserRole == Enums.UserRole.Fleet))
                                {
                                    <a href="@Url.Action("Edit", "TraCtf", new { @TraCtfId = data.TraCtfId,  IsPersonalDashboard = Model.IsPersonalDashboard })" data-toggle="tooltip" data-placement="top" title="Edit" class="action"><img src="~/Content/images/pin.png" alt="" /></a>
                                }
                            }
                            @if (Model.CurrentPageAccess.ReadAccess.Value)
                            {
                                <a href="@Url.Action("Details", "TraCtf", new { @TraCtfId = data.TraCtfId ,  IsPersonalDashboard = Model.IsPersonalDashboard })" data-toggle="tooltip" data-placement="top" title="Detail" class="action"><img src="~/Content/images/search.png" alt="" /></a>
                            }
                        </td>
                        <td>@Html.Raw(data.DocumentNumber)</td>
                        <td>@Html.Raw(data.DocumentStatus.ToString())</td>
                        <td>@Html.Raw(data.VehicleType)</td>
                        <td>@Html.Raw(data.EmployeeId)</td>
                        <td>@Html.Raw(data.EmployeeName)</td>
                        <td>@Html.Raw(data.ReasonS)</td>
                        <td>@Html.Raw(data.PoliceNumber)</td>
                        <td>@Html.Raw(data.EffectiveDate.HasValue ? data.EffectiveDate.Value.ToString("dd-MMM-yyyy") : "")</td>
                        <td>@Html.Raw(data.Region)</td>
                        <td>@Html.Raw(data.VehicleLocation)</td>
                        <td>@Html.Raw(data.CostCenter)</td>
                        <td>@Html.Raw(data.VehicleUsage)</td>
                        <td>@Html.Raw(data.SupplyMethod)</td>
                        <td>@Html.Raw(data.EndRendDate.HasValue ? data.EndRendDate.Value.ToString("dd-MMM-yyyy") : "")</td>
                        <td>@Html.Raw(data.CtfExtend == null ? "" : data.CtfExtend.NewProposedDate.Value.ToString("dd-MMM-yyyy"))</td>
                        <td>@Html.Raw(data.CreatedBy)</td>
                        <td>@Html.Raw(data.ModifiedBy)</td>
                        <td>@Html.Raw(data.ModifiedDate == null ? "" : data.ModifiedDate.Value.ToString("dd-MM-yyyy HH:mm:ss"))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

<script src="~/Scripts/ctfscript.js"></script>
<script type="text/javascript">
    function ExportXls() {
        $('#ExportToXls').submit();
    }

    $(function () {
        // DataTable
        var table = $('#tbCtfPersonalDashboard').DataTable({
            "dom": 'lf<"table-overflow"t>pi',
            orderCellsTop: true
        });

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
    });
</script>