@using FMS.Core;
@model FMS.Website.Models.CfmIdleReportModel


<div class="opt-content clearfloat">
    <h5 class="title-page">CFM Idle Report</h5>
    <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
        <i class="fa fa-download"></i> Export
    </a>
</div>
<section class="content">
    @using (Html.BeginForm("ExportCfmIdle", "RptCfmIdle", FormMethod.Post, new { @id = "ExportToXls" }))
    {
        @Html.HiddenFor(model => model.SearchViewExport.FromDate)
        @Html.HiddenFor(model => model.SearchViewExport.ToDate)
        @Html.HiddenFor(model => model.SearchViewExport.CostCenter)
        @Html.HiddenFor(model => model.SearchViewExport.PoliceNumber)
    }
    <div class="wpanel">
        <div class="row col-md-6">
            @using (Ajax.BeginForm("ListCfmIdleVehicle", "RptCfmIdle",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "contenttable",
                    OnComplete = "setupDataTables",
                }))
            {
                <div class="col-md-12">
                    <label class="control-label">Period</label>
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="input-group date" id="FromDate">
                                @Html.TextBoxFor(model => model.SearchView.FromDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", @placeholder = "From" })
                                <span class="input-group-addon btn btn-primary">
                                    <i class="fa fa-calendar "></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="input-group date" id="ToDate">
                              @Html.TextBoxFor(model => model.SearchView.ToDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", @placeholder = "To" })
                              <span class="input-group-addon btn btn-primary">
                                  <i class="fa fa-calendar "></i>
                              </span>
                          </div>
                      </div>
                    </div>
                    @*<div class="col-md-6">
                        <div class="form-group">
                            
                        </div>
                    </div>*@
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Cost Center</label>
                        @Html.TextBoxFor(model => model.SearchView.CostCenter, new { @class = "form-control ", @maxlength = "10" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Police Number</label>
                        @Html.TextBoxFor(model => model.SearchView.PoliceNumber, new { @class = "form-control "})
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <button id="btn-filter" type="submit" class="btn btn-primary">Filter</button>
                    <button id="btn-reset" type="button" class="btn btn-default">Reset</button>
                </div>
            }
        </div>
    </div>
    <div id="contenttable" class="wpanel">
        @Html.Partial("_ListCfmIdleVehicle")
    </div>
</section>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/CfmIdle.js"></script>
<script type="text/javascript">
    function ExportXls() {
        $('#SearchViewExport_FromDate').val($('#SearchView_FromDate').val());
        $('#SearchViewExport_ToDate').val($('#SearchView_ToDate').val());
        $('#SearchViewExport_CostCenter').val($('#SearchView_CostCenter').val());
        $('#SearchViewExport_PoliceNumber').val($('#SearchView_PoliceNumber').val());
        $('#ExportToXls').submit();
    }

    function setupDataTables() {
        // DataTable
        var table = $('#tbVehicle').DataTable({
            "sDom": 'lf<"table-overflow"t>pi',
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "info": false,
            "bInfo": false,
            "ordering": false
        });

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
    }

    $(document).on('click', '#btn-reset', function () {
        var todayDate = new Date();
        $('#SearchView_FromDate').val('');
        $('#SearchView_ToDate').val('');
        $("#SearchView_CostCenter").val('');
        $("#SearchView_PoliceNumber").val('');

        $("#btn-filter").trigger('click');
    });

    $(function () {
        setupDataTables();
    });
</script>