@using FMS.Core;
@model FMS.Website.Models.CfmIdleReportModel


<div class="opt-content clearfloat">
    <h5 class="title-page">CFM Idle Report</h5>
    <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
        <i class="fa fa-download"></i> Export
    </a>
</div>
<section class="content">
    @using (Html.BeginForm("ExportCfmIdle", "RptCfmIdle", FormMethod.Post, new { @id = "ExportToXls" }))
    {
        @Html.HiddenFor(model => model.SearchView.FromDate,new { @id = "filter_FromDate" })
        @Html.HiddenFor(model => model.SearchView.ToDate, new { @id = "filter_ToDate" })
        @Html.HiddenFor(model => model.SearchView.CostCenter, new { @id = "filter_CostCenter" })
        @Html.HiddenFor(model => model.SearchView.PoliceNumber, new { @id = "filter_PoliceNumber" })
    }
    <div class="wpanel">
        <div class="row col-md-12">
            @using (Ajax.BeginForm("ListCfmIdleVehicle", "RptCfmIdle",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "contenttable",
                    OnComplete = "setupDataTables",
                }))
            {
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Cost Center</label>
                        @Html.TextBoxFor(model => model.SearchView.CostCenter, new { @class = "form-control ", @maxlength = "10" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Police Number</label>
                        @Html.TextBoxFor(model => model.SearchView.PoliceNumber, new { @class = "form-control " })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Period From</label>
                        <div class="input-group date" id="FromDate">
                            @Html.TextBoxFor(model => model.SearchView.FromDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", @placeholder = "From", @id ="From_Date" })
                            <span class="input-group-addon btn btn-primary">
                                <i class="fa fa-calendar "></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Period To</label>
                        <div class="input-group date" id="ToDate">
                            @Html.TextBoxFor(model => model.SearchView.ToDate, "{0:dd-MMM-yyyy}", new { @class = "form-control", @placeholder = "To" , @id = "To_Date"})
                            <span class="input-group-addon btn btn-primary">
                                <i class="fa fa-calendar "></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <button id="btn-filter" type="submit" class="btn btn-primary">Filter</button>
                    <button id="btn-reset" type="button" class="btn btn-default">Reset</button>
                </div>
            }
        </div>
    </div>
    <div id="contenttable" class="wpanel">
        @Html.Partial("_ListCfmIdleVehicle")
    </div>
</section>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/CfmIdle.js"></script>
<script type="text/javascript">
    function ExportXls() {
        $('#filter_FromDate').val($('#From_Date').val());
        $('#filter_ToDate').val($('#To_Date').val());
        $('#filter_CostCenter').val($('#SearchView_CostCenter').val());
        $('#filter_PoliceNumber').val($('#SearchView_PoliceNumber').val());
        $('#ExportToXls').submit();
    }

    function setupDataTables() {
        // DataTable
        var table = $('#tbVehicle').DataTable({
            "sDom": 'lf<"table-overflow"t>pi',
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "info": true,
            "bInfo": true,
            "ordering": false
        });

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
    }

    $(document).on('click', '#btn-reset', function () {
        var todayDate = new Date();
        todayDate.setHours(00, 00, 00, 00);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var todayDatestr = todayDate.getDate() + '-' + (months[todayDate.getMonth()]) + '-' + todayDate.getFullYear();

        var date = new Date();
        date.setDate(1);
        date.setHours(00, 00, 00, 00);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var datestr = date.getDate() + '-' + (months[date.getMonth()]) + '-' + date.getFullYear();


        $('#From_Date').val(datestr);
        $('#To_Date').val(todayDatestr);
        $("#SearchView_CostCenter").val('');
        $("#SearchView_PoliceNumber").val('');

        $("#btn-filter").trigger('click');
    });

    $(function () {
        setupDataTables();
    });
</script>