@using FMS.Core;
@model FMS.Website.Models.GroupCostCenterItem

<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Group Cost Center Detail</h5>
</div>
<section class="content">
    <div class="wpanel">
        @using (Html.BeginForm("Edit", "MstGroupCostCenter"))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Function Name<span class="red">*</span></label>
                        @Html.HiddenFor(model => model.MstFunctionGroupId)
                        @Html.HiddenFor(model => model.CreatedBy)
                        @Html.HiddenFor(model => model.CreatedDate)
                        @Html.HiddenFor(model => model.ModifiedBy)
                        @Html.HiddenFor(model => model.ModifiedDate)
                        @Html.TextBoxFor(model => model.FunctionName, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Cost Center<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.CostCenter, new { @class = "form-control", @maxlength = "10", @disabled = "disabled" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Status<span class="red">*</span></label>
                        <div class="form-control" disabled = "disabled">
                            @Html.CheckBoxFor(model => model.IsActive, new { @id = "ChkisActive", onclick = "check()", @disabled = "disabled" })
                            @if(Model.IsActive == true)
                            {
                                @Html.Label("Active", new { @id = "lblStatus"}) 
                            }
                            else
                            { 
                                @Html.Label("InActive", new { @id = "lblStatus" }) 
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <a href="@Url.Action("Index", "MstGroupCostCenter" )" class="btn btn-default">Back</a>
                </div>
            </div>
        }
    </div>
    <div id="changes" class="tab-pane">
        @Html.Partial("_ChangesLog");
    </div>
</section>

<script type="text/javascript">
    function check()
    {
        if (document.getElementById('ChkisActive').checked == true) {
            document.getElementById('lblStatus').innerHTML = "Active";
        }
        else {
            document.getElementById('lblStatus').innerHTML = "InActive";
        }
    }
</script>