@using FMS.Core;
@model FMS.Website.Models.GroupCostCenterModel

<!-- Main content -->
<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Group Cost Center</h5>
    @if (Model.CurrentPageAccess.UploadAccess == true)
    {
        <a href="@Url.Action("Upload", "MstGroupCostCenter")" class="btn btn-primary line" title="Upload & View" ng-click="uploadCom()">
            <i class="fa fa-download"></i> Import
        </a>
    }
    <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
        <i class="fa fa-upload"></i> Export
    </a>
</div>
<div id="LoadingModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div align="center">
					<img src="~/Content/img/loader2.gif" id="imgLoader" style="display:block" />
				</div>
			</div>
		</div>
	</div>
</div>

<section class="content">

    <div class="wpanel">
        <table id="tbGroupCostCenter" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Function Name</th>
                    <th>Cost Center</th>
                    <th>Created By</th>
                    <th>Created Date</th>
                    <th>Modified By</th>
                    <th>Modified Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <thead class="filters">
                <tr>
                    <th>
                        @if (Model.CurrentPageAccess.WriteAccess == true)
                        {
                            <a href="@Url.Action("Create", "MstGroupCostCenter")" class="btn btn-primary line"><i class="fa fa-plus"></i> New</a>
                        }
                    </th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.Details)
                {
                    <tr ng-repeat="data in dataComplaint">

                        <td style="text-align: center;">
                            @if (Model.CurrentPageAccess.WriteAccess == true)
                            {
                                <a href="@Url.Action("Edit", "MstGroupCostCenter", new { @MstGroupCostCenterId = data.MstFunctionGroupId })" data-toggle="tooltip" data-placement="top" title="Edit" class="action"><img src="~/Content/images/pin.png" alt="" /></a>
                            }
                            @if (Model.CurrentPageAccess.ReadAccess == true)
                            {
                                <a href="@Url.Action("Detail", "MstGroupCostCenter", new { @MstGroupCostCenterId = data.MstFunctionGroupId })" data-toggle="tooltip" data-placement="top" title="Detail" class="action"><img src="~/Content/images/search.png" alt="" /></a>
                            }
                        </td>
                        <td>@Html.Raw(data.FunctionName)</td>
                        <td>@Html.Raw(data.CostCenter)</td>
                        <td>@Html.Raw(data.CreatedBy)</td>
                        <td>@Html.Raw(data.CreatedDate.ToString("dd MMM yyyy HH:mm:ss"))</td>
                        <td>@Html.Raw(data.ModifiedBy)</td>
                        <td>@Html.Raw(data.ModifiedDate == null ? "" : data.ModifiedDate.Value.ToString("dd MMM yyyy HH:mm:ss"))</td>
                        <td>@Html.Raw(data.IsActive == true ? "Active" : "InActive")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<!-- /.content -->

<script type="text/javascript">
	function ExportXls() {
		console.log('Submitting');
		var url = '@Url.Action("ExportMasterGroupCostCenter", "MstGroupCostCenter")';
		var getFileUrl = '@Url.Action("GetExcelFile", "MstGroupCostCenter")';
		console.log(url);
		$.ajax({
			url: url,
			beforeSend: function () {
				$('#LoadingModal').show();
			},
			success: function (response, status, jqxhr) {
				console.log("DONE");
				window.location = getFileUrl + "?pathFile=" + response;
				$('#LoadingModal').hide();
			},
			error: function (jqhxr) {
				console.log("ERROR");
				console.log(jqhxr.responseText);
				$('#LoadingModal').hide();
			},
			type: 'POST'
		});

    }

    $(function () {
        $('aside').animate({
            scrollTop: $("#MstGroupCostCenter").offset().top
        }, 1000);

        if ($('.title-page').html() == 'Master Data Group Cost Center') {
            $('#MstGroupCostCenterMenu').addClass('active');
        }
        // DataTable
        var table = $('#tbGroupCostCenter').DataTable({
            "dom": 'lf<"table-overflow"t>pi',
            orderCellsTop: true
        });

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
    });
</script>

