@using FMS.Core;
@model FMS.Website.Models.GroupCostCenterModel

<!-- Main content -->
<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Group Cost Center</h5>
    @if (Model.CurrentPageAccess.UploadAccess == true)
    {
        <a href="@Url.Action("Upload", "MstGroupCostCenter")" class="btn btn-primary line" title="Upload & View" ng-click="uploadCom()">
            <i class="fa fa-download"></i> Import
        </a>
    }
    <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
        <i class="fa fa-upload"></i> Export
    </a>
</div>
<div id="LoadingModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div align="center">
					<img src="~/Content/img/loader2.gif" id="imgLoader" style="display:block" />
				</div>
			</div>
		</div>
	</div>
</div>

<section class="content">

    <div class="wpanel">
        <div class="row col-md-12">
            @using (Ajax.BeginForm("ListGroupCostCenter", "MstGroupCostCenter",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "contenttable",
                    OnComplete = "setupDataTables",
                    OnBegin = "LoadingShow",
                    OnSuccess = "LoadingHide",
                    OnFailure = "LoadingHide",
                }))
            {
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="SearchView_Function">Functions</label>
                            @Html.DropDownList("Search_Function", Model.SearchView.FunctionList, new { @class = "form-control chosen", @data_live_search = true, @multiple = "multiple" })
                            @Html.HiddenFor(model => model.SearchView.Function)
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="SearchView_CostCenter">Cost Center</label>
                            @Html.DropDownList("Search_CostCenter", Model.SearchView.CostCenterList, new { @class = "form-control chosen", @data_live_search = true, @multiple = "multiple" })
                            @Html.HiddenFor(model => model.SearchView.CostCenter)
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Show Data</label>
                            @Html.DropDownListFor(model => model.SearchView.Table, Model.SearchView.TableList, new { @class = "form-control", onchange="TableChange()" })
                        </div>
                    </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <button id="btn-filter" type="submit" class="btn btn-primary">Filter</button>
                    <button id="btn-reset" type="button" class="btn btn-default">Reset</button>
                </div>
            }
        </div>
    </div>
    <div id="contenttable" class="wpanel">
        @Html.Partial("_ListGroupCostCenter")
    </div>
</section>
<!-- /.content -->
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    function TableChange()
    {
        var ShowTable = $('#SearchView_Table').val();
        if(ShowTable == "2")
        {
            $('#btnNew').hide();
        }
        else {
            $('#btnNew').show();
        }
    }

    function LoadingShow() {
        $('#LoadingModal').show();
    }
    function LoadingHide() {
        $('#LoadingModal').hide();
    }
	function ExportXls() {
		console.log('Submitting');
		var url = '@Url.Action("ExportMasterGroupCostCenter", "MstGroupCostCenter")';
		var getFileUrl = '@Url.Action("GetExcelFile", "MstGroupCostCenter")';
	    console.log(url);
	    var objToUpload =
			{
			    SearchView: {
			        Function: getFunctionStr($('#Search_Function').val()),
			        CostCenter: getFunctionStr($('#Search_CostCenter').val()),
			        Table: $('#SearchView_Table').val()
			    }
			};
		$.ajax({
		    url: url,
		    data: JSON.stringify(objToUpload),
		    contentType: 'application/json; charset=utf-8',
			beforeSend: function () {
				$('#LoadingModal').show();
			},
			success: function (response, status, jqxhr) {
				console.log("DONE");
				window.location = getFileUrl + "?pathFile=" + response;
				$('#LoadingModal').hide();
			},
			error: function (jqhxr) {
				console.log("ERROR");
				console.log(jqhxr.responseText);
				$('#LoadingModal').hide();
			},
			type: 'POST'
		});

	}


    function setupDataTables() {
        // DataTable
        var table = $('#tbGroupCostCenter').DataTable({
            "dom": 'lf<"table-overflow"t>pi',
            orderCellsTop: true
        });

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
        TableChange();
    }

    function getFunctionStr(arr) {
        var dataStr = "";
        if (arr.length > 0) {
            dataStr = arr.toString();
        }
        return dataStr;
    }

    $(function () {
        $(".chosen").chosen();
        if ($('.title-page').html() == 'Master Data Group Cost Center') {
            $('#MstGroupCostCenterMenu').addClass('active');
        }
        $('aside').animate({
            scrollTop: $("#MstGroupCostCenter").offset().top
        }, 1000);

        if ($('.title-page').html() == 'Master Data Group Cost Center') {
            $('#MstGroupCostCenterMenu').addClass('active');
        }
        // DataTable
        var table = $('#tbGroupCostCenter').DataTable({
            "dom": 'lf<"table-overflow"t>pi',
            orderCellsTop: true
        });

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });

        $(document).on('click', '#btn-filter', function () {
            console.log('a');
            $("#SearchView_Function").val(getFunctionStr($('#Search_Function').val()));
            $("#SearchView_CostCenter").val(getFunctionStr($('#Search_CostCenter').val()));
        });

        $(document).on('click', '#btn-reset', function () {
            $("#SearchView_Function").val('');
            $("#SearchView_CostCenter").val('');
            $("#SearchView_Table").val('2');

            $("#Search_Function").val('').trigger('chosen:updated');
            $("#Search_CostCenter").val('').trigger('chosen:updated');

            $("#btn-filter").trigger('click');
        });
    });
</script>

