@using FMS.Core;
@model FMS.Website.Models.CcfItem

@{
    ViewBag.Title = Model.TitleForm;
}
<div class="opt-content clearfloat">
    <h5 class="title-page">@ViewBag.Title</h5>
</div>
<section class="content">
    <div class="wpanel">
        @using (Html.BeginForm("EditCcfUser", "TraCcf", FormMethod.Post, new { @id = "FormEdit" }))
        {
            @Html.AntiForgeryToken()
            <div class="panel">
                <div class="row col-lg-12">
                    <h4 align="right">Status:<span>@Model.DocumentStatus.ToString()</span></h4>
                    @Html.HiddenFor(model => model.DocumentStatus)
                </div>
            </div>
            <p>@Model.ErrorMessage</p>
            <div id="information" class="tab-pane active" role="tabpanel">
                <div class="tab-wrapper">
                    <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
                        <div class="panel panel-default">
                            <div id="headingOne" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
                                        Information
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse show" id="collapseOne">
                                <div class="panel-body">
                                    <div role="form" class="form-excise">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="col-md-12">
                                                    <h5>CCF Info</h5>
                                                    <hr />
                                                </div>
                                                <div class="row">
                                                    @*Form CCF Info*@
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Request Number<span class="red">*</span></label>
                                                            @Html.HiddenFor(model => model.TraCcfId)
                                                            @Html.HiddenFor(model => model.CreatedBy)
                                                            @Html.HiddenFor(model => model.CreatedDate)
                                                            @Html.HiddenFor(model => model.ComplaintCategoryRole)
                                                            @* @Html.HiddenFor(model => model.IsPersonalDashboard)*@
                                                            @Html.HiddenFor(model => model.isSubmit, new { @id = "isSubmit" })
                                                            @Html.TextBoxFor(model => model.DocumentNumber, new { @class = "form-control ", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Requestor<span class="red">*</span></label>
                                                            @Html.HiddenFor(model => model.EmployeeID, new { @class = "form-control", @readonly = "readonly" })
                                                            @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="radio">
                                                                <br />
                                                                @if (Model.PoliceNumberGS != null)
                                                                {
                                                                    <label><input id="GS" type="radio" name="optradio" onclick="Display();" checked disabled> Ganti Sementara (GS) </label>
                                                                }
                                                                else
                                                                {
                                                                    <label><input id="GS" type="radio" name="optradio" onclick="Display();" disabled> Ganti Sementara (GS) </label>
                                                                }
                                                                @if (Model.PoliceNumber != null)
                                                                {
                                                                    <label><input id="NONGS" type="radio" name="optradio" onclick="Display();" checked disabled> Permanent (NON GS) </label>
                                                                }
                                                                else
                                                                {
                                                                    <label><input id="NONGS" type="radio" name="optradio" onclick="Display();" disabled> Permanent (NON GS) </label>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @if (Model.PoliceNumberGS != null)
                                                    {
                                                        <div id="GSDisplay" style="display:block">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="control-label">Ganti Sementara (GS) Police Number<span class="red">*</span></label>
                                                                    @Html.TextBoxFor(model => model.PoliceNumberGS, new { @class = "form-control", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    <div id="GSDisplay" style="display:none">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Ganti Sementara (GS) Police Number<span class="red">*</span></label>
                                                                @Html.TextBoxFor(model => model.PoliceNumberGS, new { @class = "form-control", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @if (Model.PoliceNumber != null)
                                                    {
                                                        <div id="NonGSDisplay" style="display:block">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="control-label">Police Number<span class="red">*</span></label>
                                                                    @Html.TextBoxFor(model => model.PoliceNumber, new { @class = "form-control", @id = "PoliceNumber", @readonly = "readonly", @disabled = "disabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    <div id="NonGSDisplay" style="display:none">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Police Number<span class="red">*</span></label>
                                                                @Html.TextBoxFor(model => model.PoliceNumber, new { @class = "form-control", @id = "PoliceNumber", @readonly = "readonly", @disabled = "disabled" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Complaint Category<span class="red">*</span></label>
                                                            @Html.DropDownListFor(model => model.ComplaintCategory, Model.ComplaintCategoryList, "-- Please Select --", new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    @*Form CCF Info*@
                                                    <h5> &nbsp; </h5>
                                                    <hr></hr>
                                                    @Html.HiddenFor(model => model.EmployeeIdComplaintFor, new { @class = "form-control", @readonly = "readonly", @id = "EmployeeIdComplaintFor" })
                                                    @Html.HiddenFor(model => model.EmployeeNameComplaintFor, new { @class = "form-control", @readonly = "readonly", @id = "EmployeeNameComplaintFor" })
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Request Date<span class="red">*</span></label>
                                                            @Html.TextBoxFor(model => model.CreatedDate, "{0:dd-MMM-yyyy}", new { @class = "form-control ", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Employee For<span class="red"></span></label>
                                                            @Html.TextBoxFor(model => model.EmployeeNameComplaintFor, new { @class = "form-control", @id = "EmployeeFor", @readonly = "readonly", @disabled = "disabled" })
                                                            @Html.HiddenFor(model => model.EmployeeIdComplaintFor, new { @class = "form-control", @id = "EmployeeFor", @readonly = "readonly", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <h5>Location</h5>
                                                        <hr></hr>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">City<span class="red">*</span></label>
                                                            @Html.TextBoxFor(model => model.LocationCity, new { @class = "form-control", @readonly = "readonly", @id = "EmployeeCity" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Address<span class="red">*</span></label>
                                                            @Html.TextBoxFor(model => model.LocationAddress, new { @class = "form-control", @readonly = "readonly", @id = "EmployeeAddress" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <h5>Vehicle Details</h5>
                                                <hr></hr>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Vehicle Type<span class="red"></span></label>
                                                    @Html.TextBoxFor(model => model.VehicleType, new { @class = "form-control", @readonly = "readonly", @id = "VehicleType" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Vehicle Usage<span class="red"></span></label>
                                                    @Html.TextBoxFor(model => model.VehicleUsage, new { @class = "form-control", @readonly = "readonly", @id = "VehicleUsage" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Manufacturer<span class="red"></span></label>
                                                    @Html.TextBoxFor(model => model.Manufacturer, new { @class = "form-control", @readonly = "readonly", @id = "Manufacturer" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Model<span class="red"></span></label>
                                                    @Html.TextBoxFor(model => model.Models, new { @class = "form-control", @readonly = "readonly", @id = "Models" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Series<span class="red"></span></label>
                                                    @Html.TextBoxFor(model => model.Series, new { @class = "form-control", @readonly = "readonly", @id = "Series" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Vendor<span class="red"></span></label>
                                                    @Html.TextBoxFor(model => model.Vendor, new { @class = "form-control", @readonly = "readonly", @id = "Vendor" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Start Period<span class="red"></span></label>
                                                    @Html.TextBoxFor(model => model.VStartPeriod, new { @class = "form-control", @readonly = "readonly", @id = "StartPeriod" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">End Period<span class="red"></span></label>
                                                    @Html.TextBoxFor(model => model.VEndPeriod, new { @class = "form-control", @readonly = "readonly", @id = "EndPeriod" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="detilcomplaint" class="tab-pane active" role="tabpanel">
                <div class="tab-wrapper">
                    <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
                        <div class="panel panel-default">
                            <div id="headingTwo" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="headingTwo" aria-expanded="true" href="#collapseTwo" data-parent="#accordion" data-toggle="collapse">
                                        Details Complaint
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse show" id="collapseTwo">
                                <div class="panel-body">
                                    <div role="form" class="form-excise">
                                        <table id="rowTable" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th colspan="3">Detail Complaint</th>
                                                    <th colspan="4">Coordinator</th>
                                                    <th colspan="4">Vendor</th>
                                                </tr>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Note</th>
                                                    <th>&nbsp;</th>
                                                    <th>Respone Date</th>
                                                    <th>Note</th>
                                                    <th>Promised Date</th>
                                                    <th>ATT.</th>
                                                    <th>Respone Date</th>
                                                    <th>Note</th>
                                                    <th>Promised Date</th>
                                                    <th>ATT.</th>
                                                </tr>
                                            </thead>
                                            <thead class="filters">
                                                @foreach (var data_d1 in Model.Details_d1)
                                                {
                                                    <tr>
                                                        @if (data_d1.ComplaintDate.ToString("dd-MMM-yyyy") == "01-Jan-0001")
                                                        {
                                                            <td>&nbsp;</td>
                                                        }
                                                        else
                                                        {
                                                            <td>@Html.Raw(data_d1.ComplaintDate.ToString("dd-MMM-yyyy"))</td>
                                                        }
                                                        <td>@Html.Raw(data_d1.ComplaintNote)</td>
                                                        @if (data_d1.ComplaintAtt == null)
                                                        {
                                                            <td>&nbsp;</td>
                                                        }
                                                        else
                                                        {
                                                            <td><a target="_blank" href="@Html.Raw(Model.ConfigUrl + data_d1.ComplaintUrl + '/' + data_d1.ComplaintAtt)"><i class="fa fa-paperclip" aria-hidden="true"></i></a></td>
                                                        }
                                                        @if (data_d1.CoodinatorResponseDate.Value.ToString("dd-MMM-yyyy") == "01-Jan-0001")
                                                        {
                                                            <td>&nbsp;</td>
                                                        }
                                                        else
                                                        {
                                                            <td>@Html.Raw(data_d1.CoodinatorResponseDate.Value.ToString("dd-MMM-yyyy"))</td>
                                                        }
                                                        <td>@Html.Raw(data_d1.CoodinatorNote)</td>
                                                        @if (data_d1.CoodinatorPromiseDate.Value.ToString("dd-MMM-yyyy") == "01-Jan-0001")
                                                        {
                                                            <td>&nbsp;</td>
                                                        }
                                                        else
                                                        {
                                                            <td>@Html.Raw(data_d1.CoodinatorPromiseDate.Value.ToString("dd-MMM-yyyy"))</td>
                                                        }
                                                        @if (data_d1.CoodinatorAtt == null)
                                                        {
                                                            <td>&nbsp;</td>
                                                        }
                                                        else
                                                        {
                                                            <td><a target="_blank" href="@Html.Raw(Model.ConfigUrl + data_d1.CoordinatorUrl + '/' + data_d1.CoodinatorAtt)"><i class="fa fa-paperclip" aria-hidden="true"></i></a></td>
                                                        }
                                                        @if (data_d1.VendorResponseDate.Value.ToString("dd-MMM-yyyy") == "01-Jan-0001")
                                                        {
                                                            <td>&nbsp;</td>
                                                        }
                                                        else
                                                        {
                                                            <td>@Html.Raw(data_d1.VendorResponseDate.Value.ToString("dd-MMM-yyyy"))</td>
                                                        }
                                                        <td>@Html.Raw(data_d1.VendorNote)</td>
                                                        @if (data_d1.VendorPromiseDate.Value.ToString("dd-MMM-yyyy") == "01-Jan-0001")
                                                        {
                                                            <td>&nbsp;</td>
                                                        }
                                                        else
                                                        {
                                                            <td>@Html.Raw(data_d1.VendorPromiseDate.Value.ToString("dd-MMM-yyyy"))</td>
                                                        }
                                                        @if (data_d1.VendorAtt == null)
                                                        {
                                                            <td>&nbsp;</td>
                                                        }
                                                        else
                                                        {
                                                            <td><a target="_blank" href="@Html.Raw(Model.ConfigUrl + data_d1.VendorUrl + '/' + data_d1.VendorAtt)"><i class="fa fa-paperclip" aria-hidden="true"></i></a></td>
                                                        }
                                                    </tr>
                                                }
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                        <hr />
                                        Total Late Response Time
                                        @if (Model.CurrentLogin.UserRole == Enums.UserRole.Fleet || Model.CurrentLogin.UserRole == Enums.UserRole.HR)
                                        {
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Coordinator's KPI<span class="red"></span></label>
                                                        @Html.TextBoxFor(model => model.CoordinatorKPI, new { @class = "form-control", @readonly = "readonly" })
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Vendor's KPI<span class="red"></span></label>
                                                    @Html.TextBoxFor(model => model.VendorKPI, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="WorkflowHistory" class="tab-pane active" role="tabpanel">
                <div class="tab-wrapper">
                    <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
                        <div class="panel panel-default">
                            <div id="headingThree" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapseThree" aria-expanded="true" href="#collapseThree" data-parent="#accordion" data-toggle="collapse">
                                        Workflow History
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse collapse" id="collapseThree">
                                <div class="panel-body">
                                    <div role="form" class="form-excise">
                                        <div role="form" class="form-excise">
                                            @Html.Partial("_WorkflowHistoryTable")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ChangeHistroy" class="tab-pane active" role="tabpanel">
                <div class="tab-wrapper">
                    <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group">
                        <div class="panel panel-default">
                            <div id="headingFour" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapseFour" aria-expanded="true" href="#collapseFour" data-parent="#accordion" data-toggle="collapse">
                                        Change History
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="headingFour" role="tabpanel" class="panel-collapse collapse" id="collapseFour">
                                <div class="panel-body">
                                    <div role="form" class="form-excise">
                                        <div role="form" class="form-excise">
                                            @Html.Partial("_ChangesLog")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                @*<a href="#" class="btn btn-primary" onclick="SendCcf(@Model.TraCcfId)"><i class="glyphicon glyphicon-ok"></i> Send</a>
                <input type="submit" value="Save" class="btn btn-primary" />*@
                @if (Model.IsPersonalDashboard == true)
                {
                    <a href="@Url.Action("PersonalDashboard", "TraCcf")" class="btn btn-default">Back</a>
                }
                else if (Model.IsPersonalDashboard == false && Model.DocumentStatus == Enums.DocumentStatus.Completed)
                {
                    <a href="@Url.Action("Completed", "TraCcf")" class="btn btn-default">Back</a>
                }
                else
                {
                    <a href="@Url.Action("Index", "TraCcf")" class="btn btn-default">Back</a>
                }
            </div>
        }
    </div>
</section>

<div id="sendmodal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Send document to HR/Fleet ?</h4>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="TraCtfId" id="TraCcfIdSend">
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="Close" />
                <input type="submit" class="btn btn-danger" value="OK" id="btnConfirmSend" />
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ccfscript.js"></script>
<script type="text/javascript">
    $('#addRow').click(function () {
        var tableID = "rowTable";
        var table = document.getElementById(tableID);
        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);

        var complaintDetailDate = "<td><input type='text' id='ComplaintDate' name='ComplaintDate' class = 'form-control' value = ''></td>";
        var complaintDetailNote = "<td><textarea rows='5' id='ComplaintNote' name='ComplaintNote' class = 'form-control'></textarea></td>";
        var complaintDetailAtt = "<td><input type='text' id='ComplaintAtt' name='ComplaintAtt' class = 'form-control' value = ''></td>";
        var CoordinatorDetailRespDate = "<td><input type='text' id='CoorResponseDate' name='CoorResponseDate' class = 'form-control' value = '' disabled></td>";
        var CoordinatorDetailNote = "<td><textarea rows='5' type='text' id='CoorNote' name='CoorNote' class = 'form-control' disabled></textarea></td>";
        var CoordinatorDetailPromDate = "<td><input type='text' id='CoorPromiseDate' name='CoorPromiseDate' class = 'form-control' value = '' disabled></td>";
        var CoordinatorDetailPromAtt = "<td><input type='text' id='CoorAtt' name='CoorAtt' class = 'form-control' value = '' disabled></td>";
        var VendorResponeDate = "<td><input type='text' id='VendorResponseDate' name='VendorResponseDate' class = 'form-control' value = '' disabled></td>";
        var VendorNote = "<td><textarea rows='5' type='text' id='VendorNote' name='VendorNote' class = 'form-control' disabled></textarea></td>";
        var VendorPromiseDate = "<td><input type='text' id='VendorPromiseDate' name='VendorPromiseDate' class = 'form-control' value = '' disabled></td>";
        var VendorAtt = "<td><input type='text' id='VendorAtt' name='VendorAtt' class = 'form-control' value = '' disabled></td>";
        row.innerHTML = complaintDetailDate + complaintDetailNote + complaintDetailAtt +
                        CoordinatorDetailRespDate + CoordinatorDetailNote + CoordinatorDetailPromDate + CoordinatorDetailPromAtt +
                        VendorResponeDate + VendorNote + VendorPromiseDate + VendorAtt;
    });

    function Display() {
        if (document.getElementById('GS').checked) {
            document.getElementById('GSDisplay').style.display = 'block';
            document.getElementById('NonGSDisplay').style.display = 'none';

            $('#VehicleType').val("");
            $('#VehicleUsage').val("");
            $('#Manufacturer').val("");
            $('#Models').val("");
            $('#Series').val("");
            $('#Vendor').val("");
            $('#StartPeriod').val("");
            $('#EndPeriod').val("");

        } else if (document.getElementById('NONGS').checked) {
            document.getElementById('GSDisplay').style.display = 'none';
            document.getElementById('NonGSDisplay').style.display = 'block';

            $.ajax({
                url: "GetDataFleet",
                cahce: false,
                type: "post",
                data: { "id": $("#PoliceNumber").val() },
                success: function (result) {
                    //console.log(result);
                    $('#VehicleType').val(result['VehicleType']);
                    $('#VehicleUsage').val(result['VehicleUsage']);
                    $('#Manufacturer').val(result['Manufacturer']);
                    $('#Models').val(result['Models']);
                    $('#Series').val(result['Series']);
                    $('#Vendor').val(result['Vendor']);
                    $('#StartPeriod').val(result['VStartPeriod']);
                    $('#EndPeriod').val(result['VEndPeriod']);
                }
            });
        }
    }

    $("#EmployeeFor").change(function () {
        //alert($("#EmployeeFor").val());

        $.ajax({
            url: "GetData",
            cahce: false,
            type: "post",
            data: { "id": $("#EmployeeFor").val() },
            success: function (result) {
                //console.log(result);
                $('#EmployeeIdComplaintFor').val(result['EmployeeID']);
                $('#EmployeeNameComplaintFor').val(result['EmployeeName']);
                $('#EmployeeCity').val(result['EmployeeCity']);
                $('#EmployeeAddress').val(result['EmployeeAddress']);
                //$('#PoliceNumber').val(result['SettingListFleet'][0]['Value']);
                $('#PoliceNumber').empty();
                optionArray = [];
                $.each(result['SettingListFleet'], function (i, option) {
                    optionArray[i] = "<option value='" + option.Value + "'>" + option.Text + "</option>";
                    $('#PoliceNumber').append($('<option></option>').val(option.Value).html(option.Text));
                });
            }
        });
    });

    $("#PoliceNumber").change(function () {
        //alert($("#PoliceNumber").val());

        $.ajax({
            url: "GetDataFleet",
            cahce: false,
            type: "post",
            data: { "id": $("#PoliceNumber").val() },
            success: function (result) {
                console.log(result);
                $('#VehicleType').val(result['VehicleType']);
                $('#VehicleUsage').val(result['VehicleUsage']);
                $('#Manufacturer').val(result['Manufacturer']);
                $('#Models').val(result['Models']);
                $('#Series').val(result['Series']);
                $('#Vendor').val(result['Vendor']);
                $('#StartPeriod').val(result['VStartPeriod']);
                $('#EndPeriod').val(result['VEndPeriod']);
            }
        });
    });

    function SendCcf(value) {
        $('#TraCcfIdSend').val(value);
        $('#sendmodal').modal('show');
    }
    $("#btnConfirmSend").click(function () {
        $('#isSubmit').val('submit');
        $('#FormEdit').submit();
    });
</script>
