@using FMS.Core
@model FMS.Website.Models.RemarkModel

<!-- Main content -->
<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Remark</h5>
    @if (Model.CurrentPageAccess.UploadAccess == true)
    {
        <a href="@Url.Action("Upload", "MstRemark")" class="btn btn-primary line" title="Upload & View">
            <i class="fa fa-download"></i> Import
        </a>
    }
    <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
        <i class="fa fa-upload"></i> Export
    </a>
</div>
<div id="LoadingModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div align="center">
					<img src="~/Content/img/loader2.gif" id="imgLoader" style="display:block" />
				</div>
			</div>
		</div>
	</div>
</div>
<section class="content">
    <div class="wpanel">
        <table id="tbRemark" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Docyment Type</th>
                    <th>Remark</th>
                    <th>Role Type</th>
                    <th>Created By</th>
                    <th>Created Date</th>
                    <th>Modified By</th>
                    <th>Modified Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <thead class="filters">
                <tr>
                    <th>
                        @if (Model.CurrentPageAccess.WriteAccess == true)
                        {
                        <a href="@Url.Action("Create","MstRemark")" class="btn btn-primary line"><i class="fa fa-plus"></i> New</a>
                        }
                    </th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.Details)
                {
                    <tr>
                        <td style="text-align: center;">
                            @if (Model.CurrentPageAccess.WriteAccess == true)
                            {
                                <a href="@Url.Action("Edit", "MstRemark", new { @MstRemarkid = data.MstRemarkId })" data-toggle="tooltip" data-placement="top" title="Edit" class="action"><img src="~/Content/images/pin.png" alt="" /></a>
                            }
                            @if (Model.CurrentPageAccess.ReadAccess == true)
                            {
                                <a href="@Url.Action("Detail", "MstRemark", new { @MstRemarkid = data.MstRemarkId })" data-toggle="tooltip" data-placement="top" title="Detail" class="action"><img src="~/Content/images/search.png" alt="" /></a>
                            }
                        </td>

                        <td>@Html.Raw(data.MstDocumentType)</td>
                        <td>@Html.Raw(data.Remark)</td>
                        <td>@Html.Raw(data.RoleType)</td>
                        <td>@Html.Raw(data.CreatedBy)</td>
                        <td>@Html.Raw(data.CreatedDate.Value.ToString("dd-MMM-yyyy HH:mm:ss"))
                        <td>@Html.Raw(data.ModifiedBy)</td>
                        <td>@Html.Raw(data.ModifiedDate == null ? "" : data.ModifiedDate.Value.ToString("dd-MMM-yyyy HH:mm:ss"))</td>
                        <td>@Html.Raw(data.IsActive == true ? "Active" : "InActive")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $('aside').animate({
            scrollTop: $("#MstRemark").offset().top
        }, 1000);

        if ($('.title-page').html() == 'Master Data Remark') {
            $('#MstRemarkMenu').addClass('active');
        }
    });

    function ExportXls() {
    	console.log('Submitting');
    	var url = '@Url.Action("ExportMasterRemark", "MstRemark")';
    	var getFileUrl = '@Url.Action("GetExcelFile", "MstRemark")';
    	console.log(url);
    	$.ajax({
    		url: url,
    		beforeSend: function () {
    			$('#LoadingModal').show();
    		},
    		success: function (response, status, jqxhr) {
    			console.log("DONE");
    			window.location = getFileUrl + "?pathFile=" + response;
    			$('#LoadingModal').hide();
    		},
    		error: function (jqhxr) {
    			console.log("ERROR");
    			console.log(jqhxr.responseText);
    			$('#LoadingModal').hide();
    		},
    		type: 'POST'
    	});
    }
    $(function () {
        // DataTable
        var table = $('#tbRemark').DataTable({
            "dom": 'lf<"table-overflow"t>pi',
            orderCellsTop: true,
            stateSave: true
        });

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
    });
</script>