@using FMS.Core;
@model FMS.Website.Models.CostObModel 

<input type="hidden" id="returnTotalData" value="@Model.TotalData" />
<input type="hidden" id="returnTotalPerPage" value="@Model.TotalDataPerPage" />
<input type="hidden" id="returnCurrentPage" value="@Model.CurrentPage" />
<table id="tbCostOb" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="min-width: 100px">Action</th>
            <th style="min-width: 100px">Year</th>
            <th style="min-width: 100px">Month</th>
            <th style="min-width: 100px">Body Type</th>
            <th style="min-width: 100px">Cost Center</th>
            <th style="min-width: 100px">Vehicle Type</th>
            <th style="min-width: 100px">Type</th>
            <th style="min-width: 100px">Function</th>
            <th style="min-width: 100px">Regional</th>
            <th style="min-width: 100px">Cost OB</th>
            <th style="min-width: 100px">Qty</th>
            <th style="min-width: 100px">Created By</th>
            <th style="min-width: 100px">Created Date</th>
            <th style="min-width: 100px">Modified By</th>
            <th style="min-width: 100px">Modified Date</th>
            <th style="min-width: 100px">Status</th>
        </tr>
    </thead>
    @*<tbody>
        @foreach (var data in Model.Details)
        {
            <tr>
                <td style="text-align: center;">
                    @if (Model.CurrentPageAccess.WriteAccess == true)
                    {
                        <a href="@Url.Action("Edit", "MstCostOb", new { @MstCostObId = data.MstCostObId })" data-toggle="tooltip" data-placement="top" title="Edit" class="action"><img src="~/Content/images/pin.png" alt="" /></a>
                    }
                    @if (Model.CurrentPageAccess.ReadAccess == true)
                    {
                        <a href="@Url.Action("Detail", "MstCostOb", new { @MstCostObId = data.MstCostObId })" data-toggle="tooltip" data-placement="top" title="Detail" class="action"><img src="~/Content/images/search.png" alt="" /></a>
                    }
                </td>
                <td>@Html.Raw(data.Year == null ? "" : data.Year.Value.ToString() )</td>
                <td>@Html.Raw(data.MonthS)</td>
                <td>@Html.Raw(data.Models)</td>
                <td>@Html.Raw(data.CostCenter)</td>
                <td>@Html.Raw(data.VehicleType)</td>
                <td>@Html.Raw(data.Type)</td>
                <td>@Html.Raw(data.FunctionName)</td>
                <td>@Html.Raw(data.Regional)</td>
                <td>@Html.Raw(data.ObCost == null || data.ObCost == 0? "" : string.Format("{0:N0}", data.ObCost))</td>
                <td>@Html.Raw(data.Qty == null || data.Qty == 0 ? "" : data.Qty.Value.ToString())</td>
                <td>@Html.Raw(data.CreatedBy)</td>
                <td>@Html.Raw(data.CreatedDate.ToString("dd-MMM-yyyy"))</td>
                <td>@Html.Raw(data.ModifiedBy)</td>
                <td>@Html.Raw(data.ModifiedDate == null ? "" : data.ModifiedDate.Value.ToString("dd-MMM-yyyy"))</td>
                @if (data.IsActive == true)
                {
                    <td>@Html.Raw("Active")</td>
                }
                else
                {
                    <td>@Html.Raw("InActive")</td>
                }
            </tr>
        }

    </tbody>*@
</table>