@using FMS.Core;
@model FMS.Website.Models.CostObModel 
<table id="tbCostOb" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="min-width: 50px">Action</th>
            <th>Year</th>
            <th>Month</th>
            <th>Cost Center</th>
            <th>Vehicle Type</th>
            <th>Type</th>
            <th>Function</th>
            <th>Regional</th>
            <th>Cost OB</th>
            <th>Qty</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>Modified By</th>
            <th>Modified Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <thead class="filters">
        <tr>
            <th>
                @*@if (Model.CurrentPageAccess.WriteAccess == true)
                    {
                        <a href="@Url.Action("Create", "MstCostOb")" class="btn btn-primary line"><i class="fa fa-plus" id="myModalLabel"> New</i></a>
                    }*@
            </th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
            <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model.Details)
        {
            <tr>
                <td style="text-align: center;">
                    @if (Model.CurrentPageAccess.WriteAccess == true)
                    {
                        @*<a href="@Url.Action("Edit", "MstCostOb", new { @MstCostObId = data.MstCostObId })" data-toggle="tooltip" data-placement="top" title="Edit" class="action"><img src="~/Content/images/pin.png" alt="" /></a>*@
                    }
                    @if (Model.CurrentPageAccess.ReadAccess == true)
                    {
                        <a href="@Url.Action("Detail", "MstCostOb", new { @MstCostObId = data.MstCostObId })" data-toggle="tooltip" data-placement="top" title="Detail" class="action"><img src="~/Content/images/search.png" alt="" /></a>
                    }
                </td>
                <td>@Html.Raw(data.Year == null ? "" : data.Year.Value.ToString() )</td>
                <td>@Html.Raw(data.MonthS)</td>
                <td>@Html.Raw(data.CostCenter)</td>
                <td>@Html.Raw(data.VehicleType)</td>
                <td>@Html.Raw(data.Type)</td>
                <td>@Html.Raw(data.FunctionName)</td>
                <td>@Html.Raw(data.Regional)</td>
                <td>@Html.Raw(data.ObCost == null ? "" : string.Format("{0:N0}", data.ObCost))</td>
                <td>@Html.Raw(data.Qty == null ? "" : data.Qty.Value.ToString())</td>
                <td>@Html.Raw(data.CreatedBy)</td>
                <td>@Html.Raw(data.CreatedDate.ToString("dd-MMM-yyyy"))</td>
                <td>@Html.Raw(data.ModifiedBy)</td>
                <td>@Html.Raw(data.ModifiedDate == null ? "" : data.ModifiedDate.Value.ToString("dd-MMM-yyyy"))</td>
                @if (data.IsActive == true)
                {
                    <td>@Html.Raw("Active")</td>
                }
                else
                {
                    <td>@Html.Raw("InActive")</td>
                }
            </tr>
        }

    </tbody>
</table>