@using FMS.Core;
@model FMS.Website.Models.CostObItem 

<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Cost OB Create</h5>
</div>
<section class="content">

    <div class="wpanel">
        @using (Html.BeginForm("Create", "MstCostOb"))
        {
            <h5 class="text-info text-red">
                @Model.ErrorMessage
            </h5>
            <div class="row col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Year<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.Year,  new { @class = "form-control", required = "required"})
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Month<span class="red">*</span></label>
                        @Html.DropDownListFor(model => model.Month,Model.MonthList,"-- Please Select --", new { @class = "form-control ", required = "required" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Body Type<span class="red">*</span></label>
                        @Html.DropDownListFor(model => model.Model, Model.ModelList, "-- Please Select --", new { @class = "form-control ", required = "required" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Vehicle Type<span class="red">*</span></label>
                        @Html.DropDownListFor(model => model.Type, Model.TypeList, "-- Please Select --", new { @class = "form-control ", required = "required" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Cost OB<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.ObCost, new { @class = "form-control", onkeypress = "return IsAngka(event)", required = "required" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Cost Center<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.CostCenter, new { @class = "form-control", required = "required" })
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a href="@Url.Action("Index", "MstCostOb" )" class="btn btn-default">Back</a>
            </div>
        }
    </div>
</section>

<script src="~/Scripts/thousand-separator.js"></script>
<script type="text/javascript">
    function IsAngka(evt) {
        var charCode = (evt.which);
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;

    }
    $('#ObCost').val(ThausandSeperator($('#ObCost').val(), 2));
</script>