@using FMS.Core;
@model FMS.Website.Models.ComplaintCategoryItem

<div class="opt-content clearfloat">
    <h5 class="title-page"> Master Data Complaint Category Edit</h5>
</div>
<section class="content">
    <div class="wpanel">
            <div class="row col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Category Name<span class="red">*</span></label>
                        @Html.HiddenFor(model => model.CreatedBy)
                        @Html.HiddenFor(model => model.CreatedDate)
                        @Html.HiddenFor(model => model.MstComplaintCategoryId)
                        @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Role Type Name<span class="red">*</span></label>
                        @Html.DropDownListFor(model => model.RoleType, Model.RoleTypeList, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Status<span class="red">*</span></label>
                        @Html.CheckBoxFor(model => model.IsActive, new { @disabled = "disabled" })
                        @Html.Label("Active", new { @id = "lblStatus" })
                    </div>
                </div>
                <div class="col-md-12">
                    <a href="@Url.Action("Index", "MstComplaint" )" class="btn btn-default">Back</a>
                </div>
            </div>
    </div>
    <div id="ChangeHistroy" class="tab-pane active" role="tabpanel">
        <div class="tab-wrapper">
            <div aria-multiselectable="true" role="tablist" id="accordion6" class="panel-group">
                <div class="panel panel-default">
                    <div id="heading6" role="tab" class="panel-heading">
                        <h4 class="panel-title">
                            <a aria-controls="collapseSix" aria-expanded="true" href="#collapse6" data-parent="#accordion6" data-toggle="collapse">
                                Change History
                                <i class="fa fa-caret-down"></i>
                            </a>
                        </h4>
                    </div>
                    <div aria-labelledby="heading6" role="tabpanel" class="panel-collapse collapse" id="collapse6">
                        <div class="panel-body">
                            <div role="form" class="form-excise">
                                @Html.Partial("_ChangesLog")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
</script>