@using FMS.Core;
@model FMS.Website.Models.ComplaintCategoryModel
<!-- Main content -->
<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Complaint Category</h5>
    <a href="@Url.Action("Upload", "MstComplaint")" class="btn btn-primary line" title="Upload & View" ng-click="uploadCom()">
        <i class="fa fa-download"></i> Import
    </a>
    <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
        <i class="fa fa-upload"></i> Export
    </a>
</div>
<section class="content" ng-controller="MSTCCtrl" ng-init="init()">

    @using (Html.BeginForm("ExportMasterComplaintCategory", "MstComplaint", FormMethod.Post, new { @id = "ExportToXls" }))
    {

    }

    <div class="wpanel">
        <table id="tbComplaintCategory" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Complaint Category ID</th>
                    <th>Category Name</th>
                    <th>Role Type</th>
                    <th>Created By</th>
                    <th>Created Date</th>
                    <th>Modified By</th>
                    <th>Modified Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <thead class="filters">
                <tr>
                    <th><a href="@Url.Action("Create","MstComplaint")" class="btn btn-primary line" ng-click="insComplaint()"><i class="fa fa-plus" id="myModalLabel"></i> New</a></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.Details)
                {
                    <tr ng-repeat="data in dataComplaintCategory">
                        <td style="text-align: center;">
                            @if (Model.CurrentLogin.UserRole == Enums.UserRole.Administrator || Model.CurrentLogin.UserRole == Enums.UserRole.Fleet)
                            {
                                <a href="@Url.Action("Edit", "MstComplaint", new { @MstComplaintId = data.MstComplaintCategoryId })" data-toggle="tooltip" data-placement="top" title="Edit" class="action"><img src="~/Content/images/pin.png" alt="" /></a>
                            }
                            <a href="@Url.Action("Detail", "MstComplaint", new { @MstComplaintId = data.MstComplaintCategoryId })" data-toggle="tooltip" data-placement="top" title="Detail" class="action"><img src="~/Content/images/search.png" alt="" /></a>
                        </td>
                        <td>@Html.Raw(data.MstComplaintCategoryId)</td>
                        <td>@Html.Raw(data.CategoryName)</td>
                        <td>@Html.Raw(data.RoleType)</td>
                        <td>@Html.Raw(data.CreatedBy)</td>
                        <td>@Html.Raw(data.CreatedDate.ToString("dd MMM yyyy hh:mm:ss"))</td>
                        <td>@Html.Raw(data.ModifiedBy)</td>
                        <td>@Html.Raw(data.ModifiedDate == null ? "":data.ModifiedDate.Value.ToString("dd MMM yyyy hh:mm:ss"))</td>
                        @if (data.IsActive == true)
                        {
                            <td>@Html.Raw("Active")</td>
                        }
                        else
                        {
                            <td>@Html.Raw("Inactive")</td>
                        }
                    </tr>
                }
                @*@if (Model.Details.Count == 0)
                    {
                        <tr ng-if="dataEmployee.length<1">
                            <td colspan="13">No Data Found</td>
                        </tr>
                    }*@

            </tbody>

        </table>
    </div>
    @*<div>
            <ul uib-pagination boundary-links="true" total-items="totalRecords" max-size="5" ng-model="off" class="pagination pull-left" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="paging(off)"></ul>
        </div>*@

    <!-- /.row -->
</section>
<!-- /.content -->

<script type="text/javascript">
      function ExportXls() {
            $('#ExportToXls').submit();
      }

      $(function () {
          // DataTable
          var table = $('#tbComplaintCategory').DataTable({
              "dom": 'lf<"table-overflow"t>pi',
              orderCellsTop: true
          });

          // Apply the search
          table.columns().eq(0).each(function (colIdx) {
              $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                  table
                      .column(colIdx)
                      .search(this.value)
                      .draw();
              });
          });
      });
</script>

