@using FMS.Core;
@model FMS.Website.Models.DelegationItem

<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Delegation Create</h5>
</div>
<section class="content" ng-controller="MSTCCtrl" ng-init="init()">

    <div class="wpanel">
        @using (Html.BeginForm("Create", "MstDelegation", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Date From<span class="red">*</span></label>
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.DateFrom, "{0:dd-MMM-yyyy}", new { @class = "form-control " })
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Date To<span class="red">*</span></label>
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.DateTo, "{0:dd-MMM-yyyy}", new { @class = "form-control " })
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Employee From<span class="red">*</span></label>
                        @Html.HiddenFor(model => model.MstDelegationID, new { @class = "form-control" })
                        @Html.TextBoxFor(model => model.EmployeeFrom, new { @id = "employeeFromSelect", @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Employee To<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.EmployeeTo, new { @id = "employeeToSelect", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.CheckBoxFor(model => model.IsComplaintFrom)
                        <label class="control-label"> Is Complaint Form<span class="red">*</span></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <a target="_blank" href="../files_upload/@Model.Attachment">@Model.Attachment</a>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Attachment<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.Attachment, new { @type = "file" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a href="@Url.Action("Index", "MstDelegation" )" class="btn btn-default">Back</a>
                </div>
            </div>
        }
    </div>
</section>
<script type="text/javascript">
    $(function () {
        InitEmployee('@Url.Action("GetEmployeeList", "MstDelegation")', '@Url.Action("GetEmployee", "MstDelegation")', "#employeeFromSelect", "EmployeeFrom");

        InitEmployee('@Url.Action("GetEmployeeList", "MstDelegation")', '@Url.Action("GetEmployee", "MstDelegation")', "#employeeToSelect", "EmployeeTo");
    });

    function InitEmployee(url, urlsearch, selectList, selectId) {
        var options = {
            url: url,
            getValue: "EMPLOYEE_ID",

            template: {
                type: "description",
                fields: {
                    description: "FORMAL_NAME"
                }
            },

            list: {
                match: {
                    enabled: true
                },
                onChooseEvent: function () {
                    GetEmployee(urlsearch, selectList, selectId);
                }
            },

        };

        $(selectList).easyAutocomplete(options);
    }

    function GetEmployee(urlGet, obj, nameId) {

        var Id = $(obj).val();
        $.ajax({
            url: urlGet,
            type: "POST",
            dataType: "JSON",
            data: { Id: Id },
            success: function (response) {
                $("[name='" + selectId + "']").val(Id);
            }
        });
    }
</script>
