@using FMS.Core;
@model FMS.Website.Models.DelegationItem

<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Delegation</h5>
</div>
<section class="content" ng-controller="MSTCCtrl" ng-init="init()">

    <div class="wpanel">

        <label class="label-warning">@Model.ErrorMessage</label>
        @using (Html.BeginForm("Edit", "MstDelegation", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            @Html.HiddenFor(model => model.CreatedBy)
            @Html.HiddenFor(model => model.CreatedDate)
            @Html.HiddenFor(model => model.Attachment)
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Date From<span class="red">*</span></label>
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.DateFrom, "{0:dd-MMM-yyyy}", new { @class = "form-control ",required = "required" })
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Date To<span class="red">*</span></label>
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.DateTo, "{0:dd-MMM-yyyy}", new { @class = "form-control ", required = "required" })
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Employee From<span class="red">*</span></label>
                        @Html.HiddenFor(model => model.MstDelegationID, new { @class = "form-control" })
                        @Html.TextBoxFor(model => model.EmployeeFromS, new { @id = "employeeFromSelect", @class = "form-control", required = "required" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Employee To<span class="red">*</span></label>
                        @Html.TextBoxFor(model => model.EmployeeToS, new { @id = "employeeToSelect", @class = "form-control", required = "required" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.CheckBoxFor(model => model.IsComplaintFrom)
                        <label class="control-label"> Is Complaint Form<span class="red">*</span></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <a target="_blank" href="../files_upload/@Model.Attachment">@Model.Attachment</a>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Attachment<span class="red">*</span></label>
                        @Html.TextBox("Attachment",Model.Attachment, new { @type = "file"})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Status <span class="red"></span></label>
                        <div class="form-control">
                            @Html.CheckBoxFor(model => model.IsActive)
                            @Html.Label("Active", new { @id = "lblStatus" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a href="@Url.Action("Index", "MstDelegation" )" class="btn btn-default">Back</a>
                </div>
            </div>
        }
    </div>
    <div id="changes" class="tab-pane">
        @Html.Partial("_ChangesLog");
    </div>
</section>
<script type="text/javascript">
    $(function () {
        InitEmployee('@Url.Action("GetEmployeeList","MstDelegation")');
    });

    function InitEmployee(url) {
        var options = {
            url: url,
            getValue: "FORMAL_NAME",

            template: {
                type: "custom",
                method: function (value, item) {
                    return value + " - "  + item.EMPLOYEE_ID + " - " + item.DIVISON;
                }
            },

            list: {
                match: {
                    enabled: true
                }
            }

        };

        $("#employeeFromSelect").easyAutocomplete(options);


        $("#employeeToSelect").easyAutocomplete(options);
    }
</script>
