@using FMS.Core;
@model FMS.Website.Models.HolidayCalenderItem

<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Holiday Calender Detail</h5>
</div>
<section class="content">
    <div class="wpanel">
        @using (Html.BeginForm("Edit", "MstHolidayCalender"))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Holiday Date<span class="red">*</span></label>
                        <div class="input-group date">
                            @Html.HiddenFor(model => model.CreatedBy)
                            @Html.HiddenFor(model => model.CreatedDate)
                            @Html.TextBoxFor(model => model.MstHolidayDate, "{0:yyyy-MM-dd}", new { @class = "form-control ", @type = "Date", @disabled = "disabled" })
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Description<span class="red">*</span></label>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control ", @rows = "4", @disabled = "disabled" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Status<span class="red">*</span></label>
                        <div class="form-control" disabled = "disabled">
                            @Html.CheckBoxFor(model => model.IsActive, new { @id = "ChkIsActive", onclick = "CheckIsActive()", @disabled = "disabled" })
                            @if (Model.IsActive == true)
                            {
                                @Html.Label("Active", new { @id = "lblStatus" })
                            }
                            else
                            {
                                @Html.Label("InActive", new { @id = "lblStatus" })
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <a href="@Url.Action("Index", "MstHolidayCalender" )" class="btn btn-default">Back</a>
                </div>
            </div>
        }
    </div>
    <div id="changes" class="tab-pane">
        @Html.Partial("_ChangesLog");
    </div>
</section>
<script type="text/javascript">
    function CheckIsActive() {
        if (document.getElementById('ChkIsActive').checked == true) {
            document.getElementById('lblStatus').innerHTML = "Active";
        }
        else {
            document.getElementById('lblStatus').innerHTML = "InActive";
        }
    }
</script>