@using FMS.Core;
@model FMS.Website.Models.HolidayCalenderModel
<!-- Main content -->
<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Holiday Calender</h5>
    @if (Model.CurrentPageAccess.UploadAccess == true)
    {
        <a href="@Url.Action("Upload", "MstHolidayCalender")" class="btn btn-primary line" title="Upload & View" ng-click="uploadCom()">
            <i class="fa fa-download"></i> Import
        </a>
    }
    <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
        <i class="fa fa-upload"></i> Export
    </a>
</div>
<div id="LoadingModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div align="center">
					<img src="~/Content/img/loader2.gif" id="imgLoader" style="display:block" />
				</div>
			</div>
		</div>
	</div>
</div>

<section class="content">
   
    <div class="wpanel">
        <div class="row col-md-12">
            @using (Ajax.BeginForm("ListHolidayCalender", "MstHolidayCalender",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "contenttable",
                    OnComplete = "setupDataTables",
                    OnBegin = "LoadingShow",
                    OnSuccess = "LoadingHide",
                    OnFailure = "LoadingHide",
                }))
            {
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="SearchView_DateFrom">Date From</label>
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.SearchView.DateFrom, "{0:dd-MMM-yyyy}", new { @class = "form-control ", @name = "Search_DateFrom" })
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="SearchView_DateTo">Date To</label>
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.SearchView.DateTo, "{0:dd-MMM-yyyy}", new { @class = "form-control ", @name = "Search_DateTo"  })
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="SearchView_Description">Description</label>
                            @Html.TextBoxFor(model => Model.SearchView.Description, new { @class = "form-control", @name = "Search_Description"})
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <button id="btn-filter" type="submit" class="btn btn-primary">Filter</button>
                    <button id="btn-reset" type="button" class="btn btn-default">Reset</button>
                </div>
            }
        </div>
    </div>
    <div id="contenttable" class="wpanel">
        @Html.Partial("_ListHolidayCalender")
    </div>
</section>
<!-- /.content -->
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    function LoadingShow() {
        $('#LoadingModal').show();
    }
    function LoadingHide() {
        $('#LoadingModal').hide();
    }
    $(document).ready(function () {
        $('aside').animate({
            scrollTop: $("#MstHolidayCalender").offset().top
        }, 1000);

        if ($('.title-page').html() == 'Master Data Holiday Calender') {
            $('#MstHolidayCalenderMenu').addClass('active');
        }
    });

    function ExportXls() {
    	console.log('Submitting');
    	var url = '@Url.Action("ExportMasterHolidayCalender", "MstHolidayCalender")';
    	var getFileUrl = '@Url.Action("GetExcelFile", "MstHolidayCalender")';
        console.log(url);
        var objToUpload =
			{
			    SearchView: {
			        DateFrom: getFunctionStr($('#Search_DateFrom').val()),
			        DateTo: getFunctionStr($('#Search_DateTo').val()),
			        Description: getFunctionStr($('#Search_Description').val())
			    }
			};
    	$.ajax({
    	    url: url,
    	    data: JSON.stringify(objToUpload),
    	    contentType: 'application/json; charset=utf-8',
    		beforeSend: function () {
    			$('#LoadingModal').show();
    		},
    		success: function (response, status, jqxhr) {
    			console.log("DONE");
    			window.location = getFileUrl + "?pathFile=" + response;
    			$('#LoadingModal').hide();
    		},
    		error: function (jqhxr) {
    			console.log("ERROR");
    			console.log(jqhxr.responseText);
    			$('#LoadingModal').hide();
    		},
    		type: 'POST'
    	});
      }

    function setupDataTables() {
        // DataTable
        var table = $('#tbHolidayCalender').DataTable({
            "dom": 'lf<"table-overflow"t>pi',
            orderCellsTop: true
        });

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
    }

    function getFunctionStr(arr) {
        var dataStr = "";
        if (arr.length > 0) {
            dataStr = arr.toString();
        }
        return dataStr;
    }

    $(function () {
        $(".chosen").chosen();
          // DataTable
          var table = $('#tbHolidayCalender').DataTable({
              "dom": 'lf<"table-overflow"t>pi',
              orderCellsTop: true
          });

          // Apply the search
          table.columns().eq(0).each(function (colIdx) {
              $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                  table
                      .column(colIdx)
                      .search(this.value)
                      .draw();
              });
          });

          $(document).on('click', '#btn-filter', function () {
              console.log('a');
              $("#SearchView_DateFrom").val($('#Search_DateFrom').val());
              $("#SearchView_DateTo").val($('#Search_DateTo').val());
              $("#SearchView_Description").val(getFunctionStr($('#Search_Description').val()));
          });

          $(document).on('click', '#btn-reset', function () {
              $("#SearchView_DateFrom").val($('#Search_DateFrom').val());
              $("#SearchView_DateTo").val($('#Search_DateTo').val());
              $("#SearchView_Description").val(getFunctionStr($('#Search_Description').val()));

              $("#Search_DateFrom").val('').trigger('chosen:updated');
              $("#Search_DateTo").val('').trigger('chosen:updated');
              $("#Search_Description").val('').trigger('chosen:updated');
              $("#btn-filter").trigger('click');
          });
      });
</script>

