@using FMS.Core;
@model FMS.Website.Models.CarComplaintFormModel

<div class="opt-content clearfloat">
    <h5 class="title-page">Car Complaint Form</h5>
    <a href="@Url.Action("Upload", "TraCarComplaintForm")" class="btn btn-primary line" title="Upload & View">
        <i class="fa fa-upload"></i> Import
    </a>
    <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
        <i class="fa fa-download"></i> Export
    </a>
</div>
<section class="content">
    @using (Html.BeginForm("ExportTraCarComplaintForm", "TraCarComplaintForm", FormMethod.Post, new { @id = "ExportToXls" }))
    {

    }
    <div class="wpanel">
        <table id="tbCarComplaintForm" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Document Number</th>
                    <th>Document Status</th>
                    <th>Complaint Category</th>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Employee ID Complaint For</th>
                    <th>Employee Name Complaint For</th>
                    <th>Police Number</th>
                    <th>Police Number GS</th>
                    <th>Created By</th>
                    <th>Created Date</th>
                    <th>Modified By</th>
                    <th>Modified Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <thead class="filters">
                <tr>
                    <th><a href="@Url.Action("Create","TraCarComplaintForm")" class="btn btn-primary line"><i class="fa fa-plus"></i> New</a></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                    <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.Details)
                {
                    <tr>
                        <td style="text-align: center;">
                            <a href="@Url.Action("Edit", "TraCarComplaintForm", new { @TraCcfId = data.TraCcfId })" data-toggle="tooltip" data-placement="top" title="Edit" class="action"><img src="~/Content/images/pin.png" alt="" /></a>
                        </td>
                        <td>@Html.Raw(data.TraCcfId)</td>
                        <td>@Html.Raw(data.DocumentNumber)</td>
                        <td>@Html.Raw(data.DocumentStatus)</td>
                        <td>@Html.Raw(data.ComplaintCategory)</td>
                        <td>@Html.Raw(data.EmployeeID)</td>
                        <td>@Html.Raw(data.EmployeeName)</td>
                        <td>@Html.Raw(data.EmployeeIdComplaintFor)</td>
                        <td>@Html.Raw(data.EmployeeNameComplaintFor)</td>
                        <td>@Html.Raw(data.PoliceNumber)</td>
                        <td>@Html.Raw(data.PoliceNumberGS)</td>
                        <td>@Html.Raw(data.CreatedBy)</td>
                        <td>@Html.Raw(data.CreatedDate.ToString("dd-MM-yyyy hh:mm"))</td>
                        <td>@Html.Raw(data.ModifiedBy)</td>
                        <td>@Html.Raw(data.ModifiedDate == null ? "" : data.ModifiedDate.Value.ToString("dd-MM-yyyy hh:mm"))</td>
                        <td>@Html.Raw(data.IsActive == true ? "Active" : "InActive")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<script type="text/javascript">
    function ExportXls() {
        $('#ExportToXls').submit();
    }

    $(function () {
        // DataTable
        var table = $('#tbCarComplaintForm').DataTable({
            "dom": 'lf<"table-overflow"t>pi',
            orderCellsTop: true
        });

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
    });
</script>