@using FMS.Core;
@model FMS.Website.Models.SysAccessModel

<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data SysAccess</h5>
    <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
        <i class="fa fa-upload"></i> Export
    </a>
</div>
<section class="content">
    @using (Html.BeginForm("ExportMasterSysAccess", "MstSysAccess", FormMethod.Post, new { @id = "ExportToXls" }))
    {

    }
    <div class="wpanel">
        <table id="tbSysAccess" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="min-width: 50px">Action</th>
                    <th>Role Name</th>
                    <th>Role Name Alias</th>
                    <th>Modul Name</th>
                    <th>Read Access</th>
                    <th>Write Access</th>
                    <th>Upload Access</th>
                    <th>Created By</th>
                    <th>Created Date</th>
                    <th>Modified By</th>
                    <th>Modified Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <thead class="filters">
                <tr>
                    <th>
                        @if (Model.CurrentPageAccess.WriteAccess == true)
                        {
                            <a href="@Url.Action("Create", "MstSysAccess")" class="btn btn-primary line"><i class="fa fa-plus"></i> New</a>
                        }
                    </th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.Details)
                {
                    <tr>
                        <td style="text-align: center;">
                            @if (Model.CurrentPageAccess.WriteAccess == true)
                            {
                                <a href="@Url.Action("Edit", "MstSysAccess", new { @MstSysAccessId = data.MstSysAccessId })" data-toggle="tooltip" data-placement="top" title="Edit" class="action"><img src="~/Content/images/pin.png" alt="" /></a>
                            }
                            @if (Model.CurrentPageAccess.ReadAccess == true)
                            {
                                <a href="@Url.Action("Detail", "MstSysAccess", new { @MstSysAccessId = data.MstSysAccessId })" data-toggle="tooltip" data-placement="top" title="Detail" class="action"><img src="~/Content/images/search.png" alt="" /></a>
                            }
                        </td>
                        <td>@Html.Raw(data.RoleName)</td>
                        <td>@Html.Raw(data.RoleNameAlias)</td>
                        <td>@Html.Raw(data.ModulName)</td>
                        <td>@Html.Raw(data.ReadAccessData == true ? "Yes" : "No")</td>
                        <td>@Html.Raw(data.WriteAccessData == true ? "Yes" : "No")</td>
                        <td>@Html.Raw(data.UploadAccess == true ? "Yes" : "No")</td>
                        <td>@Html.Raw(data.CreatedBy)</td>
                        <td>@Html.Raw(data.CreatedDate.ToString("dd-MMM-yyyy HH:mm:ss"))</td>
                        <td>@Html.Raw(data.ModifiedBy)</td>
                        <td>@Html.Raw(data.ModifiedDate == null ? "" : data.ModifiedDate.Value.ToString("dd-MMM-yyyy HH:mm:ss"))</td>
                        <td>@Html.Raw(data.IsActive == true ? "Active" : "InActive")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $('aside').animate({
            scrollTop: $("#MstSysAccess").offset().top
        }, 1000);
    });

    function ExportXls() {
        $('#ExportToXls').submit();
    }

    $(function () {
        // DataTable
        var table = $('#tbSysAccess').DataTable({
            "dom": 'lf<"table-overflow"t>pi',
            orderCellsTop: true
        });

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
    });
</script>