@using FMS.Core;
@model FMS.Website.Models.VehicleSpectItem

<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data Vehicle Spect Create</h5>
</div>
<section class="content">

    <div class="wpanel">
        @using (Html.BeginForm("Create", "MstVehicleSpect", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <h5 class="text-info text-red">
                @Model.ErrorMessage
            </h5>
            <div class="row col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Manufacturer <span class="red"></span></label>
                        @Html.TextBoxFor(model => model.Manufacturer, new { @class = "form-control ", @autocomplete = "off" })
                     </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Model <span class="red"></span></label>
                        @Html.TextBoxFor(model => model.Models, new { @class = "form-control ", @autocomplete = "off" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Series <span class="red"></span></label>
                        @Html.TextBoxFor(model => model.Series, new { @class = "form-control ", @autocomplete = "off" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Transmission <span class="red"></span></label>
                        @Html.DropDownListFor(model => model.Transmission, Model.TransmissionList, "-- Please Select --", new { @class = "form-control " })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Body Type <span class="red"></span></label>
                        @Html.DropDownListFor(model => model.BodyType, Model.BodyTypeList, "-- Please Select --", new { @class = "form-control " })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Fuel Type <span class="red"></span></label>
                        @Html.DropDownListFor(model => model.FuelType, Model.FuelTypeList, "-- Please Select --", new { @class = "form-control " })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Request Year <span class="red"></span></label>
                        @Html.TextBoxFor(model => model.Year, new { @class = "form-control ", @autocomplete = "off", onkeypress = "return IsAngka(event)" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Colour <span class="red"></span></label>
                        @Html.TextBoxFor(model => model.Colour, new { @class = "form-control ", @autocomplete = "off"})
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Car Group Level <span class="red"></span></label>
                        @Html.DropDownListFor(model => model.GroupLevel, Model.GroupLevelList, "-- Please Select --", new { @class = "form-control " })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Flex Point <span class="red"></span></label>
                        @Html.TextBoxFor(model => model.FlexPoint, new { @class = "form-control ", @autocomplete = "off", onkeypress = "return IsAngka(event)" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Status <span class="red"></span></label><br />
                        @Html.CheckBoxFor(model => model.IsActive)
                        @Html.Label("Active", new { @id = "lblStatus" })
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Image <span class="red"></span></label>
                        <img id="preview" src="/files_upload/noimage.jpeg" alt="image" border="5" width="220" height="250" />
                        @Html.TextBoxFor(model => model.Image, new { @type = "file" })
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a href="@Url.Action("Index", "MstVehicleSpect")" class="btn btn-default">Back</a>
            </div>
        }
    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#Image").change(function () {
        readURL(this);
    });

    function IsAngka(evt) {
        var charCode = (evt.which);
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        } return true;
    }
</script>