@using FMS.Core;
@model FMS.Website.Models.VehicleSpectItem

<section class="content-header">
    <h1>
        Master Data Vehicle Spect Edit
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("Edit", "MstVehicleSpect"))
            {
                <div class="box-header" style="overflow-y: auto;">
                    <div class="box" style="overflow-y: auto;">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Manufacturer<span class="red">*</span></label>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(model => model.MstVehicleSpectId)
                                            @Html.HiddenFor(model => model.CreatedBy)
                                            @Html.HiddenFor(model => model.CreatedDate)
                                            @Html.TextBoxFor(model => model.Manufacturer, new { @class = "form-control " })
                                        </div>
                                    </div>
                                </div>
                             </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Model<span class="red">*</span></label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Models, new { @class = "form-control " })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Series<span class="red">*</span></label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Series, new { @class = "form-control " })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Body Type<span class="red">*</span></label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.BodyType, new { @class = "form-control " })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Year<span class="red">*</span></label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Year, new { @class = "form-control " })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Colour<span class="red">*</span></label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Colour, new { @class = "form-control " })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Image<span class="red">*</span></label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Image, new { @class = "form-control " })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Group Level<span class="red">*</span></label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.GroupLevel, new { @class = "form-control " })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-4">Flex Point<span class="red">*</span></label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.FlexPoint, new { @class = "form-control " })
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box-body">
                            <input type="submit" value="Save" class="btn bg-blue " />
                            <a href="@Url.Action("Index", "MstVehicleSpect" )"><i class="btn bg-gray">Back</i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
