@using FMS.Core
@model FMS.Website.Models.NumberVehicleMakeModel

<table id="tbVehicleMake" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Manufacturer</th>
            <th>Body Type</th>
            <th>No Of Vehicle</th>
            <th>Month</th>
            <th>Year</th>
        </tr>
    </thead>
    <thead class="filters">
        <tr>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
            <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model.NoVehicleMakeList)
        {
            <tr>
                <td>@Html.Raw(data.Manufacturer)</td>
                <td>@Html.Raw(data.BodyType)</td>
                <td>@Html.Raw(data.NoOfVehicle)</td>
                <td>@Html.Raw(data.Month)</td>
                <td>@Html.Raw(data.ReportYear)</td>
            </tr>
        }
    </tbody>
</table>