@using FMS.Core;
@model FMS.Website.Models.AcVsObModel

@{
	ViewBag.Title = Model.TitleForm;
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet">
<style>
	.datepicker {
		margin-left: 15px;
	}
    .default {
        display: block !important;
        width: 100% !important;
        height: 30px !important;
        padding: 6px 12px !important;
        font-size: 14px !important;
        line-height: 1.42857143 !important;
        background-color: #fff !important;
        background-image: none !important;
        border: 1px solid #ccc !important;
        border-radius: 4px !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
		$(document).ready(function () {
			$('#SearchView_YearFrom').datepicker({
			  minViewMode: 2,
			  format: 'yyyy',
			  autoclose: true,
			  position: 'right bottom',
			  container: '#xz'
			});
			$('#SearchView_YearTo').datepicker({
				minViewMode: 2,
				format: 'yyyy',
				autoclose: true,
				position: 'right bottom',
				container: '#xy'
			});
		});
</script>

<div class="opt-content clearfloat">
	<h5 class="title-page">@ViewBag.Title</h5>
    @if (Model.CurrentPageAccess.ReadAccess == true) { 
	<a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
		<i class="fa fa-download"></i> Export
	</a>
    }
</div>
<section class="content">
	<div class="wpanel">
		<div class="row">
			@using (Ajax.BeginForm("FilterAcVsOb", "RptExecutiveSummary",
				new AjaxOptions
				{
					HttpMethod = "POST",
					InsertionMode = InsertionMode.Replace,
					UpdateTargetId = "contenttable",
					OnComplete = "setupDataTables",
					OnBegin = "LoadingShow",
					OnSuccess = "LoadingHide",
					OnFailure = "LoadingHide",
				}))
			{
				<div class="col-md-3">
					<div class="form-group">
						<label for="">Month From</label>
						@Html.DropDownListFor(model => model.SearchView.MonthFrom, Model.SearchView.MonthList, new { @class = "form-control month" })
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group" id="xz">
						<label for="">Year From</label>
						@*<input type="text" id="SearchView_YearFrom" value="@Model.SearchView.YearFrom" class="form-control year" data-provide="datepicker" />*@
                        @Html.TextBoxFor(model => model.SearchView.YearFrom, new { @class = "form-control year", @data_provide = "datepicker" })
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="">Month To</label>
						@Html.DropDownListFor(model => model.SearchView.MonthTo, Model.SearchView.MonthList, new { @class = "form-control month" })
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group" id="xy">
						<label for="">Year To</label>
						@*<input type="text" id="SearchView_YearTo" value="@Model.SearchView.YearTo" class="form-control year" data-provide="datepicker" />*@
                        @Html.TextBoxFor(model => model.SearchView.YearTo, new { @class = "form-control year", @data_provide = "datepicker" })
					</div>
				</div>
				<div class="clearfix"></div>
                <div class="col-md-3">
					<div class="form-group">
						<label for="">Vehicle Type</label>
                        @if (Model.CurrentLogin.UserRole == Enums.UserRole.Viewer || Model.CurrentLogin.UserRole == Enums.UserRole.EHS
                                                || Model.CurrentLogin.UserRole == Enums.UserRole.Fleet || Model.CurrentLogin.UserRole == Enums.UserRole.Administrator
                                                || Model.CurrentLogin.UserRole == Enums.UserRole.IsSupport || Model.CurrentLogin.UserRole == Enums.UserRole.FleetManager)
                        { 
						    @Html.DropDownListFor(model => model.SearchView.VehicleType, Model.SearchView.VehicleTypeList, "", new { @class = "form-control select" })
                        }
                        else if (Model.CurrentLogin.UserRole == Enums.UserRole.FinanceZone || Model.CurrentLogin.UserRole == Enums.UserRole.ComFinanceManager
                        || Model.CurrentLogin.UserRole == Enums.UserRole.Logistic|| Model.CurrentLogin.UserRole == Enums.UserRole.OpsFinanceManager
                        || Model.CurrentLogin.UserRole == Enums.UserRole.LDManager)
                        {
                            @Html.TextBoxFor(model => model.SearchView.VehicleType, new { @class = "form-control", @readonly = "readonly", @Value = "WTC" })
                        }
                        else if (Model.CurrentLogin.UserRole == Enums.UserRole.HR || Model.CurrentLogin.UserRole == Enums.UserRole.HRManager)
                        {
                            @Html.TextBoxFor(model => model.SearchView.VehicleType, new { @class = "form-control", @readonly = "readonly", @Value = "BENEFIT" })
                        }
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="">Function</label>
						@if (Model.CurrentLogin.UserRole == Enums.UserRole.Viewer || Model.CurrentLogin.UserRole == Enums.UserRole.EHS
                                        || Model.CurrentLogin.UserRole == Enums.UserRole.Fleet || Model.CurrentLogin.UserRole == Enums.UserRole.HR
                                        || Model.CurrentLogin.UserRole == Enums.UserRole.Administrator || Model.CurrentLogin.UserRole == Enums.UserRole.IsSupport
                                        || Model.CurrentLogin.UserRole == Enums.UserRole.FleetManager || Model.CurrentLogin.UserRole == Enums.UserRole.HRManager)
                        {
                            @Html.HiddenFor(model => model.SearchView.FunctionId)
                            @Html.DropDownListFor(model => model.SearchView.Function, Model.SearchView.Functions, new { @id = "select-function-id", @class = "chosen form-control", multiple = "multiple" })
                        }
                        else if (Model.CurrentLogin.UserRole == Enums.UserRole.FinanceZone || Model.CurrentLogin.UserRole == Enums.UserRole.ComFinanceManager)
                        {
                            @Html.TextBoxFor(model => model.SearchView.FunctionId, new { @class = "form-control", @readonly = "readonly", @Value = "Sales,Marketing" })
                        }
                        else if (Model.CurrentLogin.UserRole == Enums.UserRole.OpsFinanceManager)
                        {
                            @Html.TextBoxFor(model => model.SearchView.FunctionId, new { @class = "form-control", @readonly = "readonly", @Value = "Operations" })
                        }
                        else if (Model.CurrentLogin.UserRole == Enums.UserRole.Logistic || Model.CurrentLogin.UserRole == Enums.UserRole.LDManager)
                        {
                            @Html.TextBoxFor(model => model.SearchView.FunctionId, new { @class = "form-control", @readonly = "readonly", @Value = "Logistic" })
                        }
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="col-md-12">
					<button id="btn-filter" type="submit" class="btn btn-primary">Filter</button>
					<button id="btn-reset" type="button" class="btn btn-default">Reset</button>
				</div>
			}
		</div>
	</div>
    <div class="wpanel">
        <ul class="nav nav-pills">
            <li class="active"><a href="#visual1" data-toggle="tab">Visual</a></li>
            <li><a href="#contenttable" data-toggle="tab">Data</a></li>
        </ul>
        <br />
        <div class="tab-content">
            <div id="contenttable" class="tab-pane">
                @Html.Partial("_ListAcVsOb")
            </div>
            <div id="visual1" class="tab-pane fade in active">
                <div class="content chart-summary">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body" id="chartDiv">
                                    <canvas id="mylineChart"></canvas>
                                </div>
                                <div class="card-footer"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body" id="chartDiv2">
                                    <canvas id="mylineChart2"></canvas>
                                </div>
                                <div class="card-footer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="LoadingModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div align="center">
					<img src="~/Content/img/loader2.gif" id="imgLoader" style="display:block" />
				</div>
			</div>
		</div>
	</div>
</div>
<div id="errormodal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Year From need to be same with Year To</h4>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-grey" data-dismiss="modal" value="Close" id="btnCloseSend" />
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/js/Chart.bundle.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/execsumscript.js"></script>
<script type="text/javascript">
    function LoadingShow() {
        $('#LoadingModal').show();

        var theList = "";

        $("li.search-choice span").each(function (e) {
            theList += $(this).text() + ",";
        });

        if ($("#SearchView_Function").length > 0) {
            $("#SearchView_FunctionId").val(theList.slice(0, -1));
        }
    }
    function LoadingHide() {
        $('#LoadingModal').hide();
    }
    function ExportXls() {
        console.log('Submitting');

        var theList = "";

        $("li.search-choice span").each(function (e) {
            theList += $(this).text() + ",";
        });

        theList = theList.slice(0, -1);

        var url = '@Url.Action(Model.TitleExport , "RptExecutiveSummary")';
        var getFileUrl = '@Url.Action("GetExcelFile", "RptExecutiveSummary")';
        console.log(url);
        var objToUpload =
			{
			    SearchViewExport: {
			        MonthFrom: $('#SearchView_MonthFrom').val(),
			        MonthTo: $('#SearchView_MonthTo').val(),
			        YearFrom: $('#SearchView_YearFrom').val(),
			        YearTo: $('#SearchView_YearTo').val(),
			        Function: theList,
			    }

			};
        $.ajax({
            url: url,
            data: JSON.stringify(objToUpload),
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $('#LoadingModal').show();
            },
            success: function (response, status, jqxhr) {
                console.log("DONE");
                window.location = getFileUrl + "?pathFile=" + response;
                $('#LoadingModal').hide();
            },
            error: function (jqhxr) {
                console.log("ERROR");
                console.log(jqhxr.responseText);
                $('#LoadingModal').hide();
            },
            type: 'POST'
        });

    }


    function setupDataTables() {
        // DataTable
        var table = $('#tbAcVsOb').DataTable({
            "dom": 'lf<"table-overflow"t>pi'
        });

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
    }

    $(document).on('click', '#btn-reset', function () {
        var d = new Date();

        $('.month').val(d.getMonth() + 1);
        $(".year").val(d.getFullYear());
        $(".select").val('');
        $(".text").val('');

        $("#btn-filter").trigger('click');
    });

    $(function () {
        setupDataTables();
    });

    $(document).ready(function () {
        init_charts();

        $('aside').animate({
            scrollTop: $("#AcVsOb").offset().top
        }, 1000);
    });

    function init_charts() {
        $('#LoadingModal').show();

        var theList = "";

        $("li.search-choice span").each(function (e) {
            theList += $(this).text() + ",";
        });

        theList = theList.slice(0, -1);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("VisualAcOb", "RptExecutiveSummary")',
            data: { monthFrom: $('#SearchView_MonthFrom').val(), yearFrom: $('#SearchView_YearFrom').val(), monthTo: $('#SearchView_MonthTo').val(), yearTo: $('#SearchView_YearTo').val(), isByRegion: false, functions: theList, vehType: $('#SearchView_VehicleType').val() },
            success: function (response) {
                var labels_chart = [];
                var data_chart = [];

                var chart_1 = []; var chart_2 = []; var chart_3 = []; var chart_4 = []; var chart_5 = []; var chart_6 = [];
                var chart_7 = []; var chart_8 = []; var chart_9 = []; var chart_10 = []; var chart_11 = []; var chart_12 = [];
                var chart_13 = []; var chart_14 = []; var chart_15 = []; var chart_16 = []; var chart_17 = []; var chart_18 = [];
                var chart_19 = []; var chart_20 = []; var chart_21 = []; var chart_22 = []; var chart_23 = []; var chart_24 = [];
                var chart_25 = []; var chart_26 = []; var chart_27 = []; var chart_28 = []; var chart_29 = []; var chart_30 = [];
                var chart_31 = []; var chart_32 = []; var chart_33 = []; var chart_34 = []; var chart_35 = []; var chart_36 = [];
                var chart_37 = []; var chart_38 = []; var chart_39 = []; var chart_40 = []; var chart_41 = []; var chart_42 = [];
                var chart_43 = []; var chart_44 = []; var chart_45 = []; var chart_46 = []; var chart_47 = []; var chart_48 = [];

                var label_1 = "Actual BENEFIT Jan " + $('#SearchView_YearFrom').val();
                var label_2 = "Actual BENEFIT Feb " + $('#SearchView_YearFrom').val();
                var label_3 = "Actual BENEFIT Mar " + $('#SearchView_YearFrom').val();
                var label_4 = "Actual BENEFIT Apr " + $('#SearchView_YearFrom').val();
                var label_5 = "Actual BENEFIT May " + $('#SearchView_YearFrom').val();
                var label_6 = "Actual BENEFIT Jun " + $('#SearchView_YearFrom').val();
                var label_7 = "Actual BENEFIT Jul " + $('#SearchView_YearFrom').val();
                var label_8 = "Actual BENEFIT Aug " + $('#SearchView_YearFrom').val();
                var label_9 = "Actual BENEFIT Sep " + $('#SearchView_YearFrom').val();
                var label_10 = "Actual BENEFIT Oct " + $('#SearchView_YearFrom').val();
                var label_11 = "Actual BENEFIT Nov " + $('#SearchView_YearFrom').val();
                var label_12 = "Actual BENEFIT Dec " + $('#SearchView_YearFrom').val();

                var label_13 = "Budget BENEFIT Jan " + $('#SearchView_YearFrom').val();
                var label_14 = "Budget BENEFIT Feb " + $('#SearchView_YearFrom').val();
                var label_15 = "Budget BENEFIT Mar " + $('#SearchView_YearFrom').val();
                var label_16 = "Budget BENEFIT Apr " + $('#SearchView_YearFrom').val();
                var label_17 = "Budget BENEFIT May " + $('#SearchView_YearFrom').val();
                var label_18 = "Budget BENEFIT Jun " + $('#SearchView_YearFrom').val();
                var label_19 = "Budget BENEFIT Jul " + $('#SearchView_YearFrom').val();
                var label_20 = "Budget BENEFIT Aug " + $('#SearchView_YearFrom').val();
                var label_21 = "Budget BENEFIT Sep " + $('#SearchView_YearFrom').val();
                var label_22 = "Budget BENEFIT Oct " + $('#SearchView_YearFrom').val();
                var label_23 = "Budget BENEFIT Nov " + $('#SearchView_YearFrom').val();
                var label_24 = "Budget BENEFIT Dec " + $('#SearchView_YearFrom').val();

                var label_25 = "Actual WTC Jan " + $('#SearchView_YearFrom').val();
                var label_26 = "Actual WTC Feb " + $('#SearchView_YearFrom').val();
                var label_27 = "Actual WTC Mar " + $('#SearchView_YearFrom').val();
                var label_28 = "Actual WTC Apr " + $('#SearchView_YearFrom').val();
                var label_29 = "Actual WTC May " + $('#SearchView_YearFrom').val();
                var label_30 = "Actual WTC Jun " + $('#SearchView_YearFrom').val();
                var label_31 = "Actual WTC Jul " + $('#SearchView_YearFrom').val();
                var label_32 = "Actual WTC Aug " + $('#SearchView_YearFrom').val();
                var label_33 = "Actual WTC Sep " + $('#SearchView_YearFrom').val();
                var label_34 = "Actual WTC Oct " + $('#SearchView_YearFrom').val();
                var label_35 = "Actual WTC Nov " + $('#SearchView_YearFrom').val();
                var label_36 = "Actual WTC Dec " + $('#SearchView_YearFrom').val();

                var label_37 = "Budget WTC Jan " + $('#SearchView_YearFrom').val();
                var label_38 = "Budget WTC Feb " + $('#SearchView_YearFrom').val();
                var label_39 = "Budget WTC Mar " + $('#SearchView_YearFrom').val();
                var label_40 = "Budget WTC Apr " + $('#SearchView_YearFrom').val();
                var label_41 = "Budget WTC May " + $('#SearchView_YearFrom').val();
                var label_42 = "Budget WTC Jun " + $('#SearchView_YearFrom').val();
                var label_43 = "Budget WTC Jul " + $('#SearchView_YearFrom').val();
                var label_44 = "Budget WTC Aug " + $('#SearchView_YearFrom').val();
                var label_45 = "Budget WTC Sep " + $('#SearchView_YearFrom').val();
                var label_46 = "Budget WTC Oct " + $('#SearchView_YearFrom').val();
                var label_47 = "Budget WTC Nov " + $('#SearchView_YearFrom').val();
                var label_48 = "Budget WTC Dec " + $('#SearchView_YearFrom').val();

                for (var i = 0; i < response.length; i++) {
                    labels_chart.push(response[i].FUNCTION);

                    chart_1.push(response[i].ACTUAL_COST_BENEFIT_1);
                    chart_2.push(response[i].ACTUAL_COST_BENEFIT_2);
                    chart_3.push(response[i].ACTUAL_COST_BENEFIT_3);
                    chart_4.push(response[i].ACTUAL_COST_BENEFIT_4);
                    chart_5.push(response[i].ACTUAL_COST_BENEFIT_5);
                    chart_6.push(response[i].ACTUAL_COST_BENEFIT_6);
                    chart_7.push(response[i].ACTUAL_COST_BENEFIT_7);
                    chart_8.push(response[i].ACTUAL_COST_BENEFIT_8);
                    chart_9.push(response[i].ACTUAL_COST_BENEFIT_9);
                    chart_10.push(response[i].ACTUAL_COST_BENEFIT_10);
                    chart_11.push(response[i].ACTUAL_COST_BENEFIT_11);
                    chart_12.push(response[i].ACTUAL_COST_BENEFIT_12);

                    chart_13.push(response[i].COST_OB_BENEFIT_1);
                    chart_14.push(response[i].COST_OB_BENEFIT_2);
                    chart_15.push(response[i].COST_OB_BENEFIT_3);
                    chart_16.push(response[i].COST_OB_BENEFIT_4);
                    chart_17.push(response[i].COST_OB_BENEFIT_5);
                    chart_18.push(response[i].COST_OB_BENEFIT_6);
                    chart_19.push(response[i].COST_OB_BENEFIT_7);
                    chart_20.push(response[i].COST_OB_BENEFIT_8);
                    chart_21.push(response[i].COST_OB_BENEFIT_9);
                    chart_22.push(response[i].COST_OB_BENEFIT_10);
                    chart_23.push(response[i].COST_OB_BENEFIT_11);
                    chart_24.push(response[i].COST_OB_BENEFIT_12);

                    chart_25.push(response[i].ACTUAL_COST_WTC_1);
                    chart_26.push(response[i].ACTUAL_COST_WTC_2);
                    chart_27.push(response[i].ACTUAL_COST_WTC_3);
                    chart_28.push(response[i].ACTUAL_COST_WTC_4);
                    chart_29.push(response[i].ACTUAL_COST_WTC_5);
                    chart_30.push(response[i].ACTUAL_COST_WTC_6);
                    chart_31.push(response[i].ACTUAL_COST_WTC_7);
                    chart_32.push(response[i].ACTUAL_COST_WTC_8);
                    chart_33.push(response[i].ACTUAL_COST_WTC_9);
                    chart_34.push(response[i].ACTUAL_COST_WTC_10);
                    chart_35.push(response[i].ACTUAL_COST_WTC_11);
                    chart_36.push(response[i].ACTUAL_COST_WTC_12);

                    chart_37.push(response[i].COST_OB_WTC_1);
                    chart_38.push(response[i].COST_OB_WTC_2);
                    chart_39.push(response[i].COST_OB_WTC_3);
                    chart_40.push(response[i].COST_OB_WTC_4);
                    chart_41.push(response[i].COST_OB_WTC_5);
                    chart_42.push(response[i].COST_OB_WTC_6);
                    chart_43.push(response[i].COST_OB_WTC_7);
                    chart_44.push(response[i].COST_OB_WTC_8);
                    chart_45.push(response[i].COST_OB_WTC_9);
                    chart_46.push(response[i].COST_OB_WTC_10);
                    chart_47.push(response[i].COST_OB_WTC_11);
                    chart_48.push(response[i].COST_OB_WTC_12);

                    label_1 = response[i].LABEL1;
                    label_2 = response[i].LABEL2;
                    label_3 = response[i].LABEL3;
                    label_4 = response[i].LABEL4;
                    label_5 = response[i].LABEL5;
                    label_6 = response[i].LABEL6;
                    label_7 = response[i].LABEL7;
                    label_8 = response[i].LABEL8;
                    label_9 = response[i].LABEL9;
                    label_10 = response[i].LABEL10;
                    label_11 = response[i].LABEL11;
                    label_12 = response[i].LABEL12;
                    label_13 = response[i].LABEL13;
                    label_14 = response[i].LABEL14;
                    label_15 = response[i].LABEL15;
                    label_16 = response[i].LABEL16;
                    label_17 = response[i].LABEL17;
                    label_18 = response[i].LABEL18;
                    label_19 = response[i].LABEL19;
                    label_20 = response[i].LABEL20;
                    label_21 = response[i].LABEL21;
                    label_22 = response[i].LABEL22;
                    label_23 = response[i].LABEL23;
                    label_24 = response[i].LABEL24;
                    label_25 = response[i].LABEL25;
                    label_26 = response[i].LABEL26;
                    label_27 = response[i].LABEL27;
                    label_28 = response[i].LABEL28;
                    label_29 = response[i].LABEL29;
                    label_30 = response[i].LABEL30;
                    label_31 = response[i].LABEL31;
                    label_32 = response[i].LABEL32;
                    label_33 = response[i].LABEL33;
                    label_34 = response[i].LABEL34;
                    label_35 = response[i].LABEL35;
                    label_36 = response[i].LABEL36;
                    label_37 = response[i].LABEL37;
                    label_38 = response[i].LABEL38;
                    label_39 = response[i].LABEL39;
                    label_40 = response[i].LABEL40;
                    label_41 = response[i].LABEL41;
                    label_42 = response[i].LABEL42;
                    label_43 = response[i].LABEL43;
                    label_44 = response[i].LABEL44;
                    label_45 = response[i].LABEL45;
                    label_46 = response[i].LABEL46;
                    label_47 = response[i].LABEL47;
                    label_48 = response[i].LABEL48;
                }

                for (var i = $('#SearchView_MonthFrom').val() ; i <= $('#SearchView_MonthTo').val() ; i++) {
                    if (i == 1) {
                        var data1 = {
                            label: label_1,
                            backgroundColor: "#EC644B",
                            data: chart_1
                        };

                        data_chart.push(data1);
                    }

                    if (i == 2) {
                        var data1 = {
                            label: label_2,
                            backgroundColor: "#D24D57",
                            data: chart_2
                        };

                        data_chart.push(data1);
                    }

                    if (i == 3) {
                        var data1 = {
                            label: label_3,
                            backgroundColor: "#D2527F",
                            data: chart_3
                        };

                        data_chart.push(data1);
                    }

                    if (i == 4) {
                        var data1 = {
                            label: label_4,
                            backgroundColor: "#F62459",
                            data: chart_4
                        };

                        data_chart.push(data1);
                    }

                    if (i == 5) {
                        var data1 = {
                            label: label_5,
                            backgroundColor: "#663399",
                            data: chart_5
                        };

                        data_chart.push(data1);
                    }

                    if (i == 6) {
                        var data1 = {
                            label: label_6,
                            backgroundColor: "#AEA8D3",
                            data: chart_6
                        };

                        data_chart.push(data1);
                    }

                    if (i == 7) {
                        var data1 = {
                            label: label_7,
                            backgroundColor: "#9A12B3",
                            data: chart_7
                        };

                        data_chart.push(data1);
                    }

                    if (i == 8) {
                        var data1 = {
                            label: label_8,
                            backgroundColor: "#BF55EC",
                            data: chart_8
                        };

                        data_chart.push(data1);
                    }

                    if (i == 9) {
                        var data1 = {
                            label: label_9,
                            backgroundColor: "#BE90D4",
                            data: chart_9
                        };

                        data_chart.push(data1);
                    }

                    if (i == 10) {
                        var data1 = {
                            label: label_10,
                            backgroundColor: "#81CFE0",
                            data: chart_10
                        };

                        data_chart.push(data1);
                    }

                    if (i == 11) {
                        var data1 = {
                            label: label_11,
                            backgroundColor: "#52B3D9",
                            data: chart_11
                        };

                        data_chart.push(data1);
                    }

                    if (i == 12) {
                        var data1 = {
                            label: label_12,
                            backgroundColor: "#4ECDC4",
                            data: chart_12
                        };

                        data_chart.push(data1);
                    }
                }

                for (var i = $('#SearchView_MonthFrom').val() ; i <= $('#SearchView_MonthTo').val() ; i++) {
                    if (i == 1) {
                        var data2 = {
                            label: label_13,
                            backgroundColor: "#03C9A9",
                            data: chart_13
                        };

                        data_chart.push(data2);
                    }

                    if (i == 2) {
                        var data2 = {
                            label: label_14,
                            backgroundColor: "#FABE58",
                            data: chart_14
                        };

                        data_chart.push(data2);
                    }

                    if (i == 3) {
                        var data2 = {
                            label: label_15,
                            backgroundColor: "#E9D460",
                            data: chart_15
                        };

                        data_chart.push(data2);
                    }

                    if (i == 4) {
                        var data2 = {
                            label: label_16,
                            backgroundColor: "#FDE3A7",
                            data: chart_16
                        };

                        data_chart.push(data2);
                    }

                    if (i == 5) {
                        var data2 = {
                            label: label_17,
                            backgroundColor: "#FABE58",
                            data: chart_17
                        };

                        data_chart.push(data2);
                    }

                    if (i == 6) {
                        var data2 = {
                            label: label_18,
                            backgroundColor: "#F2784B",
                            data: chart_18
                        };

                        data_chart.push(data2);
                    }

                    if (i == 7) {
                        var data2 = {
                            label: label_19,
                            backgroundColor: "#03A678",
                            data: chart_19
                        };

                        data_chart.push(data2);
                    }

                    if (i == 8) {
                        var data2 = {
                            label: label_20,
                            backgroundColor: "#3A539B",
                            data: chart_20
                        };

                        data_chart.push(data2);
                    }

                    if (i == 9) {
                        var data2 = {
                            label: label_21,
                            backgroundColor: "#4B77BE",
                            data: chart_21
                        };

                        data_chart.push(data2);
                    }

                    if (i == 10) {
                        var data2 = {
                            label: label_22,
                            backgroundColor: "#DB0A5B",
                            data: chart_22
                        };

                        data_chart.push(data2);
                    }

                    if (i == 11) {
                        var data2 = {
                            label: label_23,
                            backgroundColor: "#947CB0",
                            data: chart_23
                        };

                        data_chart.push(data2);
                    }

                    if (i == 12) {
                        var data2 = {
                            label: label_24,
                            backgroundColor: "#913D88",
                            data: chart_24
                        };

                        data_chart.push(data2);
                    }
                }

                for (var i = $('#SearchView_MonthFrom').val() ; i <= $('#SearchView_MonthTo').val() ; i++) {
                    if (i == 1) {
                        var data1 = {
                            label: label_25,
                            backgroundColor: "#EC644B",
                            data: chart_25
                        };

                        data_chart.push(data1);
                    }

                    if (i == 2) {
                        var data1 = {
                            label: label_26,
                            backgroundColor: "#D24D57",
                            data: chart_26
                        };

                        data_chart.push(data1);
                    }

                    if (i == 3) {
                        var data1 = {
                            label: label_27,
                            backgroundColor: "#D2527F",
                            data: chart_27
                        };

                        data_chart.push(data1);
                    }

                    if (i == 4) {
                        var data1 = {
                            label: label_28,
                            backgroundColor: "#F62459",
                            data: chart_28
                        };

                        data_chart.push(data1);
                    }

                    if (i == 5) {
                        var data1 = {
                            label: label_29,
                            backgroundColor: "#663399",
                            data: chart_29
                        };

                        data_chart.push(data1);
                    }

                    if (i == 6) {
                        var data1 = {
                            label: label_30,
                            backgroundColor: "#AEA8D3",
                            data: chart_30
                        };

                        data_chart.push(data1);
                    }

                    if (i == 7) {
                        var data1 = {
                            label: label_31,
                            backgroundColor: "#9A12B3",
                            data: chart_31
                        };

                        data_chart.push(data1);
                    }

                    if (i == 8) {
                        var data1 = {
                            label: label_32,
                            backgroundColor: "#BF55EC",
                            data: chart_32
                        };

                        data_chart.push(data1);
                    }

                    if (i == 9) {
                        var data1 = {
                            label: label_33,
                            backgroundColor: "#BE90D4",
                            data: chart_33
                        };

                        data_chart.push(data1);
                    }

                    if (i == 10) {
                        var data1 = {
                            label: label_34,
                            backgroundColor: "#81CFE0",
                            data: chart_34
                        };

                        data_chart.push(data1);
                    }

                    if (i == 11) {
                        var data1 = {
                            label: label_35,
                            backgroundColor: "#52B3D9",
                            data: chart_35
                        };

                        data_chart.push(data1);
                    }

                    if (i == 12) {
                        var data1 = {
                            label: label_36,
                            backgroundColor: "#4ECDC4",
                            data: chart_36
                        };

                        data_chart.push(data1);
                    }
                }

                for (var i = $('#SearchView_MonthFrom').val() ; i <= $('#SearchView_MonthTo').val() ; i++) {
                    if (i == 1) {
                        var data2 = {
                            label: label_37,
                            backgroundColor: "#03C9A9",
                            data: chart_37
                        };

                        data_chart.push(data2);
                    }

                    if (i == 2) {
                        var data2 = {
                            label: label_38,
                            backgroundColor: "#FABE58",
                            data: chart_38
                        };

                        data_chart.push(data2);
                    }

                    if (i == 3) {
                        var data2 = {
                            label: label_39,
                            backgroundColor: "#E9D460",
                            data: chart_39
                        };

                        data_chart.push(data2);
                    }

                    if (i == 4) {
                        var data2 = {
                            label: label_40,
                            backgroundColor: "#FDE3A7",
                            data: chart_40
                        };

                        data_chart.push(data2);
                    }

                    if (i == 5) {
                        var data2 = {
                            label: label_41,
                            backgroundColor: "#FABE58",
                            data: chart_41
                        };

                        data_chart.push(data2);
                    }

                    if (i == 6) {
                        var data2 = {
                            label: label_42,
                            backgroundColor: "#F2784B",
                            data: chart_42
                        };

                        data_chart.push(data2);
                    }

                    if (i == 7) {
                        var data2 = {
                            label: label_43,
                            backgroundColor: "#03A678",
                            data: chart_43
                        };

                        data_chart.push(data2);
                    }

                    if (i == 8) {
                        var data2 = {
                            label: label_44,
                            backgroundColor: "#3A539B",
                            data: chart_44
                        };

                        data_chart.push(data2);
                    }

                    if (i == 9) {
                        var data2 = {
                            label: label_45,
                            backgroundColor: "#4B77BE",
                            data: chart_45
                        };

                        data_chart.push(data2);
                    }

                    if (i == 10) {
                        var data2 = {
                            label: label_46,
                            backgroundColor: "#DB0A5B",
                            data: chart_46
                        };

                        data_chart.push(data2);
                    }

                    if (i == 11) {
                        var data2 = {
                            label: label_47,
                            backgroundColor: "#947CB0",
                            data: chart_47
                        };

                        data_chart.push(data2);
                    }

                    if (i == 12) {
                        var data2 = {
                            label: label_48,
                            backgroundColor: "#913D88",
                            data: chart_48
                        };

                        data_chart.push(data2);
                    }
                }

                if ($('#mylineChart').length) {
                    $('#mylineChart').remove();
                    $('#chartDiv').append('<canvas id="mylineChart"><canvas>');
                    var ctx = document.getElementById("mylineChart");
                    var mybarChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels_chart,
                            datasets: data_chart
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        callback: function (value, index, values) {
                                            return number_format(value);
                                        }
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Cost (IDR)'
                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Functions'
                                    }
                                }]
                            },
                            legend: {
                                position: 'bottom'
                            },
                            tooltips: {
                                callbacks: {
                                    label: function (tooltipItem, chart) {
                                        var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                        return datasetLabel + ': ' + number_format(tooltipItem.yLabel, 2);
                                    }
                                }
                            }
                        }
                    });

                }
            },
            error: function (jqhxr) {
                console.log("ERROR");
                console.log(jqhxr.responseText);
                $('#LoadingModal').hide();
            }
        });

        $.ajax({
            type: 'POST',
            url: '@Url.Action("VisualAcObUnit", "RptExecutiveSummary")',
            data: { monthFrom: $('#SearchView_MonthFrom').val(), yearFrom: $('#SearchView_YearFrom').val(), monthTo: $('#SearchView_MonthTo').val(), yearTo: $('#SearchView_YearTo').val(), isByRegion: false, functions: theList, vehType: $('#SearchView_VehicleType').val() },
            success: function (response) {
                var labels_chart = [];
                var data_chart = [];

                var chart_1 = []; var chart_2 = []; var chart_3 = []; var chart_4 = []; var chart_5 = []; var chart_6 = [];
                var chart_7 = []; var chart_8 = []; var chart_9 = []; var chart_10 = []; var chart_11 = []; var chart_12 = [];
                var chart_13 = []; var chart_14 = []; var chart_15 = []; var chart_16 = []; var chart_17 = []; var chart_18 = [];
                var chart_19 = []; var chart_20 = []; var chart_21 = []; var chart_22 = []; var chart_23 = []; var chart_24 = [];

                var label_1 = "Unit BENEFIT Jan " + $('#SearchView_YearFrom').val();
                var label_2 = "Unit BENEFIT Feb " + $('#SearchView_YearFrom').val();
                var label_3 = "Unit BENEFIT Mar " + $('#SearchView_YearFrom').val();
                var label_4 = "Unit BENEFIT Apr " + $('#SearchView_YearFrom').val();
                var label_5 = "Unit BENEFIT May " + $('#SearchView_YearFrom').val();
                var label_6 = "Unit BENEFIT Jun " + $('#SearchView_YearFrom').val();
                var label_7 = "Unit BENEFIT Jul " + $('#SearchView_YearFrom').val();
                var label_8 = "Unit BENEFIT Aug " + $('#SearchView_YearFrom').val();
                var label_9 = "Unit BENEFIT Sep " + $('#SearchView_YearFrom').val();
                var label_10 = "Unit BENEFIT Oct " + $('#SearchView_YearFrom').val();
                var label_11 = "Unit BENEFIT Nov " + $('#SearchView_YearFrom').val();
                var label_12 = "Unit BENEFIT Dec " + $('#SearchView_YearFrom').val();

                var label_13 = "Unit Budget BENEFIT Jan " + $('#SearchView_YearFrom').val();
                var label_14 = "Unit Budget BENEFIT Feb " + $('#SearchView_YearFrom').val();
                var label_15 = "Unit Budget BENEFIT Mar " + $('#SearchView_YearFrom').val();
                var label_16 = "Unit Budget BENEFIT Apr " + $('#SearchView_YearFrom').val();
                var label_17 = "Unit Budget BENEFIT May " + $('#SearchView_YearFrom').val();
                var label_18 = "Unit Budget BENEFIT Jun " + $('#SearchView_YearFrom').val();
                var label_19 = "Unit Budget BENEFIT Jul " + $('#SearchView_YearFrom').val();
                var label_20 = "Unit Budget BENEFIT Aug " + $('#SearchView_YearFrom').val();
                var label_21 = "Unit Budget BENEFIT Sep " + $('#SearchView_YearFrom').val();
                var label_22 = "Unit Budget BENEFIT Oct " + $('#SearchView_YearFrom').val();
                var label_23 = "Unit Budget BENEFIT Nov " + $('#SearchView_YearFrom').val();
                var label_24 = "Unit Budget BENEFIT Dec " + $('#SearchView_YearFrom').val();

                for (var i = 0; i < response.length; i++) {
                    labels_chart.push(response[i].FUNCTION);

                    chart_1.push(response[i].UNIT_1);
                    chart_2.push(response[i].UNIT_2);
                    chart_3.push(response[i].UNIT_3);
                    chart_4.push(response[i].UNIT_4);
                    chart_5.push(response[i].UNIT_5);
                    chart_6.push(response[i].UNIT_6);
                    chart_7.push(response[i].UNIT_7);
                    chart_8.push(response[i].UNIT_8);
                    chart_9.push(response[i].UNIT_9);
                    chart_10.push(response[i].UNIT_10);
                    chart_11.push(response[i].UNIT_11);
                    chart_12.push(response[i].UNIT_12);

                    chart_13.push(response[i].UNIT_BUDGET_1);
                    chart_14.push(response[i].UNIT_BUDGET_2);
                    chart_15.push(response[i].UNIT_BUDGET_3);
                    chart_16.push(response[i].UNIT_BUDGET_4);
                    chart_17.push(response[i].UNIT_BUDGET_5);
                    chart_18.push(response[i].UNIT_BUDGET_6);
                    chart_19.push(response[i].UNIT_BUDGET_7);
                    chart_20.push(response[i].UNIT_BUDGET_8);
                    chart_21.push(response[i].UNIT_BUDGET_9);
                    chart_22.push(response[i].UNIT_BUDGET_10);
                    chart_23.push(response[i].UNIT_BUDGET_11);
                    chart_24.push(response[i].UNIT_BUDGET_12);

                    label_1 = response[i].LABEL1;
                    label_2 = response[i].LABEL2;
                    label_3 = response[i].LABEL3;
                    label_4 = response[i].LABEL4;
                    label_5 = response[i].LABEL5;
                    label_6 = response[i].LABEL6;
                    label_7 = response[i].LABEL7;
                    label_8 = response[i].LABEL8;
                    label_9 = response[i].LABEL9;
                    label_10 = response[i].LABEL10;
                    label_11 = response[i].LABEL11;
                    label_12 = response[i].LABEL12;
                    label_13 = response[i].LABEL13;
                    label_14 = response[i].LABEL14;
                    label_15 = response[i].LABEL15;
                    label_16 = response[i].LABEL16;
                    label_17 = response[i].LABEL17;
                    label_18 = response[i].LABEL18;
                    label_19 = response[i].LABEL19;
                    label_20 = response[i].LABEL20;
                    label_21 = response[i].LABEL21;
                    label_22 = response[i].LABEL22;
                    label_23 = response[i].LABEL23;
                    label_24 = response[i].LABEL24;
                }

                for (var i = $('#SearchView_MonthFrom').val() ; i <= $('#SearchView_MonthTo').val() ; i++) {
                    if (i == 1) {
                        var data1 = {
                            label: label_1,
                            backgroundColor: "#EC644B",
                            data: chart_1
                        };

                        data_chart.push(data1);
                    }

                    if (i == 2) {
                        var data1 = {
                            label: label_2,
                            backgroundColor: "#D24D57",
                            data: chart_2
                        };

                        data_chart.push(data1);
                    }

                    if (i == 3) {
                        var data1 = {
                            label: label_3,
                            backgroundColor: "#D2527F",
                            data: chart_3
                        };

                        data_chart.push(data1);
                    }

                    if (i == 4) {
                        var data1 = {
                            label: label_4,
                            backgroundColor: "#F62459",
                            data: chart_4
                        };

                        data_chart.push(data1);
                    }

                    if (i == 5) {
                        var data1 = {
                            label: label_5,
                            backgroundColor: "#663399",
                            data: chart_5
                        };

                        data_chart.push(data1);
                    }

                    if (i == 6) {
                        var data1 = {
                            label: label_6,
                            backgroundColor: "#AEA8D3",
                            data: chart_6
                        };

                        data_chart.push(data1);
                    }

                    if (i == 7) {
                        var data1 = {
                            label: label_7,
                            backgroundColor: "#9A12B3",
                            data: chart_7
                        };

                        data_chart.push(data1);
                    }

                    if (i == 8) {
                        var data1 = {
                            label: label_8,
                            backgroundColor: "#BF55EC",
                            data: chart_8
                        };

                        data_chart.push(data1);
                    }

                    if (i == 9) {
                        var data1 = {
                            label: label_9,
                            backgroundColor: "#BE90D4",
                            data: chart_9
                        };

                        data_chart.push(data1);
                    }

                    if (i == 10) {
                        var data1 = {
                            label: label_10,
                            backgroundColor: "#81CFE0",
                            data: chart_10
                        };

                        data_chart.push(data1);
                    }

                    if (i == 11) {
                        var data1 = {
                            label: label_11,
                            backgroundColor: "#52B3D9",
                            data: chart_11
                        };

                        data_chart.push(data1);
                    }

                    if (i == 12) {
                        var data1 = {
                            label: label_12,
                            backgroundColor: "#4ECDC4",
                            data: chart_12
                        };

                        data_chart.push(data1);
                    }
                }

                for (var i = $('#SearchView_MonthFrom').val() ; i <= $('#SearchView_MonthTo').val() ; i++) {
                    if (i == 1) {
                        var data2 = {
                            label: label_13,
                            backgroundColor: "#03C9A9",
                            data: chart_13
                        };

                        data_chart.push(data2);
                    }

                    if (i == 2) {
                        var data2 = {
                            label: label_14,
                            backgroundColor: "#FABE58",
                            data: chart_14
                        };

                        data_chart.push(data2);
                    }

                    if (i == 3) {
                        var data2 = {
                            label: label_15,
                            backgroundColor: "#E9D460",
                            data: chart_15
                        };

                        data_chart.push(data2);
                    }

                    if (i == 4) {
                        var data2 = {
                            label: label_16,
                            backgroundColor: "#FDE3A7",
                            data: chart_16
                        };

                        data_chart.push(data2);
                    }

                    if (i == 5) {
                        var data2 = {
                            label: label_17,
                            backgroundColor: "#FABE58",
                            data: chart_17
                        };

                        data_chart.push(data2);
                    }

                    if (i == 6) {
                        var data2 = {
                            label: label_18,
                            backgroundColor: "#F2784B",
                            data: chart_18
                        };

                        data_chart.push(data2);
                    }

                    if (i == 7) {
                        var data2 = {
                            label: label_19,
                            backgroundColor: "#03A678",
                            data: chart_19
                        };

                        data_chart.push(data2);
                    }

                    if (i == 8) {
                        var data2 = {
                            label: label_20,
                            backgroundColor: "#3A539B",
                            data: chart_20
                        };

                        data_chart.push(data2);
                    }

                    if (i == 9) {
                        var data2 = {
                            label: label_21,
                            backgroundColor: "#4B77BE",
                            data: chart_21
                        };

                        data_chart.push(data2);
                    }

                    if (i == 10) {
                        var data2 = {
                            label: label_22,
                            backgroundColor: "#DB0A5B",
                            data: chart_22
                        };

                        data_chart.push(data2);
                    }

                    if (i == 11) {
                        var data2 = {
                            label: label_23,
                            backgroundColor: "#947CB0",
                            data: chart_23
                        };

                        data_chart.push(data2);
                    }

                    if (i == 12) {
                        var data2 = {
                            label: label_24,
                            backgroundColor: "#913D88",
                            data: chart_24
                        };

                        data_chart.push(data2);
                    }
                }

                if ($('#mylineChart2').length) {
                    $('#mylineChart2').remove();
                    $('#chartDiv2').append('<canvas id="mylineChart2"><canvas>');
                    var ctx = document.getElementById("mylineChart2");
                    var mybarChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels_chart,
                            datasets: data_chart
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        callback: function (value, index, values) {
                                            return number_format(value);
                                        }
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Unit'
                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Functions'
                                    }
                                }]
                            },
                            legend: {
                                position: 'bottom'
                            },
                            tooltips: {
                                callbacks: {
                                    label: function (tooltipItem, chart) {
                                        var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                        return datasetLabel + ': ' + number_format(tooltipItem.yLabel, 2);
                                    }
                                }
                            }
                        }
                    });

                }
            },
            error: function (jqhxr) {
                console.log("ERROR");
                console.log(jqhxr.responseText);
                $('#LoadingModal').hide();
            }
        });

        $('#LoadingModal').hide();
    }

    $(document).on('click', '#btn-filter', function () {
        if ($('#SearchView_YearFrom').val() == $('#SearchView_YearTo').val()) {
            init_charts();
            $('#SearchView_YearFrom').attr("style", "border:1px solid #ccc");
            $('#SearchView_YearTo').attr("style", "border:1px solid #ccc");
        } else {
            $('#errormodal').modal('show');
            $('#SearchView_YearFrom').attr("style", "border:1px solid #ff0000");
            $('#SearchView_YearTo').attr("style", "border:1px solid #ff0000");
        }

    });

    function number_format(number, decimals, dec_point, thousands_sep) {
        // *     example: number_format(1234.56, 2, ',', ' ');
        // *     return: '1 234,56'
        number = (number + '').replace(',', '').replace(' ', '');
        var n = !isFinite(+number) ? 0 : +number,
                prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                s = '',
                toFixedFix = function (n, prec) {
                    var k = Math.pow(10, prec);
                    return '' + Math.round(n * k) / k;
                };
        // Fix for IE parseFloat(0.55).toFixed(0) = 0;
        s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
        if (s[0].length > 3) {
            s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
        }
        if ((s[1] || '').length < prec) {
            s[1] = s[1] || '';
            s[1] += new Array(prec - s[1].length + 1).join('0');
        }
        return s.join(dec);
    }
</script>