@using FMS.Core;
@model FMS.Website.Models.FuelCostByFunctionModel

@{
    ViewBag.Title = Model.TitleForm;
}

<div class="opt-content clearfloat">
    <h5 class="title-page">@ViewBag.Title</h5>
    <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
        <i class="fa fa-download"></i> Export
    </a>
</div>
<section class="content">
    @using (Html.BeginForm(Model.TitleExport, "RptExecutiveSummary", FormMethod.Post, new { @id = "ExportToXls" }))
    {
        @Html.HiddenFor(model => model.SearchViewExport.MonthFrom)
        @Html.HiddenFor(model => model.SearchViewExport.MonthTo)
        @Html.HiddenFor(model => model.SearchViewExport.YearFrom)
        @Html.HiddenFor(model => model.SearchViewExport.YearTo)
        @Html.HiddenFor(model => model.SearchViewExport.VehicleType)
        @Html.HiddenFor(model => model.SearchViewExport.Region)
        @Html.HiddenFor(model => model.SearchViewExport.Function)
    }
    <div class="wpanel">
        <div class="row">
            @using (Ajax.BeginForm("FilterFuelCostByFunction", "RptExecutiveSummary",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "contenttable",
                    OnComplete = "setupDataTables",
                }))
            {
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Month From</label>
                        @Html.DropDownListFor(model => model.SearchView.MonthFrom, Model.SearchView.MonthList, new { @class = "form-control month" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Year From</label>
                        @Html.TextBoxFor(model => model.SearchView.YearFrom, new { @class = "form-control year" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Month To</label>
                        @Html.DropDownListFor(model => model.SearchView.MonthTo, Model.SearchView.MonthList, new { @class = "form-control month" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Year To</label>
                        @Html.TextBoxFor(model => model.SearchView.YearTo, new { @class = "form-control year" })
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Vehicle Type</label>
                        @Html.DropDownListFor(model => model.SearchView.VehicleType, Model.SearchView.VehicleTypeList, "ALL", new { @class = "form-control select" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Regional</label>
                        @Html.DropDownListFor(model => model.SearchView.Region, Model.SearchView.RegionalList, "ALL", new { @class = "form-control select" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Function</label>
                        @Html.DropDownListFor(model => model.SearchView.Function, Model.SearchView.Functions, new { @id = "select-function-id", @class = "chosen form-control", multiple = "multiple" })
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <button id="btn-filter" type="submit" class="btn btn-primary">Filter</button>
                    <button id="btn-reset" type="button" class="btn btn-default">Reset</button>
                </div>
            }
        </div>
    </div>
    <div id="contenttable" class="wpanel">
        @Html.Partial("_ListFuelCostByFunction")
    </div>
</section>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/execsumscript.js"></script>
<script type="text/javascript">
    function ExportXls() {
        $('#SearchViewExport_MonthFrom').val($('#SearchView_MonthFrom').val());
        $('#SearchViewExport_MonthTo').val($('#SearchView_MonthTo').val());
        $('#SearchViewExport_YearFrom').val($('#SearchView_YearFrom').val());
        $('#SearchViewExport_YearTo').val($('#SearchView_YearTo').val());
        $('#SearchViewExport_VehicleType').val($('#SearchView_VehicleType').val());
        $('#SearchViewExport_Region').val($('#SearchView_Region').val());
        $('#SearchViewExport_Function').val($('#SearchView_Function').val());
        $('#ExportToXls').submit();
    }

    function setupDataTables() {
        // DataTable
        var table = $('#tbFuelCostByFunction').DataTable({
            "dom": 'lf<"table-overflow"t>pi'
        });

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
    }

    $(document).on('click', '#btn-reset', function () {
        var d = new Date();

        $('.month').val(d.getMonth() + 1);
        $(".year").val(d.getFullYear());
        $(".select").val('');
        $(".text").val('');

        $("#btn-filter").trigger('click');
    });

    $(function () {
        setupDataTables();
    });
</script>