@using FMS.Core;
@model FMS.Website.Models.SummaryAllModel

@{
    ViewBag.Title = Model.TitleForm;
}

<div class="opt-content clearfloat">
    <h5 class="title-page">@ViewBag.Title</h5>
    @if (Model.CurrentPageAccess.ReadAccess == true)
    {
        <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
            <i class="fa fa-download"></i> Export
        </a>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#SearchView_YearFrom').datepicker({
            minViewMode: 2,
            format: 'yyyy',
            autoclose: true,
            position: 'right bottom',
            container: '#xz'
        });
    });
</script>

<div class="well" style="margin:-1px;">
    <div class="wpanel" style="margin-left:22px;margin-right:22px;">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Month</label>
                    @Html.DropDownListFor(model => model.SearchView.MonthFrom, Model.SearchView.MonthList, new { @class = "form-control month" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group" id="xz">
                    <label for="">Year</label>
                    <input type="text" id="SearchView_YearFrom" value="@Model.SearchView.YearFrom" class="form-control year" data-provide="datepicker" />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <button id="btn-filter" type="submit" class="btn btn-primary">Filter</button>
                <button id="btn-reset" type="button" class="btn btn-default">Reset</button>
            </div>
        </div>
    </div>
    <div class="content chart-summary">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-footer"><i class="fa fa-clock-o"></i> <b style="font-size:14px"><a id="link1">Vehicle By Regional</a></b></div>
                    <div class="card-body" id="chart1">
                        @*<h5 class="card-title"><i class="fa fa-compress"></i> Vehicle By Regional</h5>*@
                        <canvas id="mybarChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-footer"><i class="fa fa-clock-o"></i> <b style="font-size:14px"><a id="link8">Vehicle By Make</a></b></div>
                    <div class="card-body" id="chart8">
                        @*<h5 class="card-title"><i class="fa fa-credit-card"></i> Vehicle By Make</h5>*@
                        <canvas id="canvasDoughnut"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-footer"><i class="fa fa-clock-o"></i> <b style="font-size:14px"><a id="link9">Vehicle By Type</a></b></div>
                    <div class="card-body" id="chart9">
                        @*<h5 class="card-title"><i class="fa fa-balance-scale"></i> Vehicle By Type</h5>*@
                        <canvas id="polarArea"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-footer"><i class="fa fa-clock-o"></i> <b style="font-size:14px"><a id="link2">Odometer</a></b></div>
                    <div class="card-body" id="chart2">
                        @*<h5 class="card-title"><i class="fa fa-car"></i> Sales By Region</h5>*@
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-footer"><i class="fa fa-clock-o"></i> <b style="font-size:14px"><a id="link3">Liters</a></b></div>
                    <div class="card-body" id="chart3">
                        @*<h5 class="card-title"><i class="fa fa-car"></i> Sales By Region</h5>*@
                        <canvas id="lineChart2"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-footer"><i class="fa fa-clock-o"></i> <b style="font-size:14px"><a id="link4">Fuel Cost</a></b></div>
                    <div class="card-body" id="chart4">
                        @*<h5 class="card-title"><i class="fa fa-car"></i> Fuel & Lease Cost</h5>*@
                        <canvas id="mybarChart2"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-footer"><i class="fa fa-clock-o"></i> <b style="font-size:14px"><a id="link5">Lease Cost</a></b></div>
                    <div class="card-body" id="chart5">
                        @*<h5 class="card-title"><i class="fa fa-car"></i> Fuel & Lease Cost</h5>*@
                        <canvas id="mybarChart3"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-footer"><i class="fa fa-clock-o"></i> <b style="font-size:14px"><a id="link10">Operational Cost</a></b></div>
                    <div class="card-body" id="chart10">
                        @*<h5 class="card-title"><i class="fa fa-car"></i> Sales By Region</h5>*@
                        <canvas id="lineChart5"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-footer"><i class="fa fa-clock-o"></i> <b style="font-size:14px"><a id="link7">Actual Cost Vs Budget</a></b></div>
                    <div class="card-body" id="chart7">
                        @*<h5 class="card-title"><i class="fa fa-car"></i> Sales By Region</h5>*@
                        <canvas id="lineChart4"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-footer"><i class="fa fa-clock-o"></i> <b style="font-size:14px"><a id="link12">Actual Unit Vs Budget</a></b></div>
                    <div class="card-body" id="chart11">
                        @*<h5 class="card-title"><i class="fa fa-car"></i> Fuel & Lease Cost</h5>*@
                        <canvas id="mybarChart4"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-footer"><i class="fa fa-clock-o"></i> <b style="font-size:14px"><a id="link6">Accident</a></b></div>
                    <div class="card-body" id="chart6">
                        @*<h5 class="card-title"><i class="fa fa-car"></i> Sales By Region</h5>*@
                        <canvas id="lineChart3"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="LoadingModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div align="center">
                    <img src="~/Content/img/loader2.gif" id="imgLoader" style="display:block" />
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/js/Chart.bundle.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/execsumscript.js"></script>
<script type="text/javascript">
    function init_charts() {
        console.log('run_charts  typeof [' + typeof (Chart) + ']');

        if (typeof (Chart) === 'undefined') { return; }

        console.log('init_charts');


        //Chart.defaults.global.legend = {
        //    enabled: false
        //};

        // Line chart

        if ($('#lineChart').length) {

            var ctx = document.getElementById("lineChart");
            var lineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Sumatra 1", "Sumatra 2", "Jakarta", "Java 1", "Java 2", "Bali Nusra", "Kalimantan"],
                    datasets: [{
                        label: "Sales",
                        backgroundColor: "rgba(130, 130, 130, 0.31)",
                        borderColor: "rgba(130, 130, 130, 0.7)",
                        pointBorderColor: "rgba(130, 130, 130, 0.7)",
                        pointBackgroundColor: "rgba(130, 130, 130, 0.7)",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(130,130,130,1)",
                        pointBorderWidth: 1,
                        data: [31, 74, 6, 39, 20, 85, 7]
                    }, {
                        label: "Marketing",
                        backgroundColor: "rgba(33, 164, 255, 0.3)",
                        borderColor: "rgba(33, 164, 255, 0.70)",
                        pointBorderColor: "rgba(33, 164, 255, 0.70)",
                        pointBackgroundColor: "rgba(33, 164, 255, 0.70)",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(33, 164, 255,1)",
                        pointBorderWidth: 1,
                        data: [82, 23, 66, 9, 99, 4, 2]
                    }]
                },
            });

        }

        // Line chart

        if ($('#lineChart2').length) {

            var ctx = document.getElementById("lineChart2");
            var lineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Sumatra 1", "Sumatra 2", "Jakarta", "Java 1", "Java 2", "Bali Nusra", "Kalimantan"],
                    datasets: [{
                        label: "Sales",
                        backgroundColor: "rgba(130, 130, 130, 0.31)",
                        borderColor: "rgba(130, 130, 130, 0.7)",
                        pointBorderColor: "rgba(130, 130, 130, 0.7)",
                        pointBackgroundColor: "rgba(130, 130, 130, 0.7)",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(130,130,130,1)",
                        pointBorderWidth: 1,
                        data: [31, 74, 6, 39, 20, 85, 7]
                    }, {
                        label: "Marketing",
                        backgroundColor: "rgba(33, 164, 255, 0.3)",
                        borderColor: "rgba(33, 164, 255, 0.70)",
                        pointBorderColor: "rgba(33, 164, 255, 0.70)",
                        pointBackgroundColor: "rgba(33, 164, 255, 0.70)",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(33, 164, 255,1)",
                        pointBorderWidth: 1,
                        data: [82, 23, 66, 9, 99, 4, 2]
                    }]
                },
            });

        }

        // Line chart

        if ($('#lineChart3').length) {

            var ctx = document.getElementById("lineChart3");
            var lineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Sumatra 1", "Sumatra 2", "Jakarta", "Java 1", "Java 2", "Bali Nusra", "Kalimantan"],
                    datasets: [{
                        label: "Sales",
                        backgroundColor: "rgba(130, 130, 130, 0.31)",
                        borderColor: "rgba(130, 130, 130, 0.7)",
                        pointBorderColor: "rgba(130, 130, 130, 0.7)",
                        pointBackgroundColor: "rgba(130, 130, 130, 0.7)",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(130,130,130,1)",
                        pointBorderWidth: 1,
                        data: [31, 74, 6, 39, 20, 85, 7]
                    }, {
                        label: "Marketing",
                        backgroundColor: "rgba(33, 164, 255, 0.3)",
                        borderColor: "rgba(33, 164, 255, 0.70)",
                        pointBorderColor: "rgba(33, 164, 255, 0.70)",
                        pointBackgroundColor: "rgba(33, 164, 255, 0.70)",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(33, 164, 255,1)",
                        pointBorderWidth: 1,
                        data: [82, 23, 66, 9, 99, 4, 2]
                    }]
                },
            });

        }

        // Line chart

        if ($('#lineChart4').length) {

            var ctx = document.getElementById("lineChart4");
            var lineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Sales", "Marketing"],
                    datasets: [{
                        label: "Actual Cost",
                        backgroundColor: "rgba(130, 130, 130, 0.31)",
                        borderColor: "rgba(130, 130, 130, 0.7)",
                        pointBorderColor: "rgba(130, 130, 130, 0.7)",
                        pointBackgroundColor: "rgba(130, 130, 130, 0.7)",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(130,130,130,1)",
                        pointBorderWidth: 1,
                        data: [31, 74]
                    }, {
                        label: "Operational Budget",
                        backgroundColor: "rgba(33, 164, 255, 0.3)",
                        borderColor: "rgba(33, 164, 255, 0.70)",
                        pointBorderColor: "rgba(33, 164, 255, 0.70)",
                        pointBackgroundColor: "rgba(33, 164, 255, 0.70)",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(33, 164, 255,1)",
                        pointBorderWidth: 1,
                        data: [82, 23]
                    }]
                },
            });

        }

        // Bar chart

        if ($('#mybarChart').length) {

            var ctx = document.getElementById("mybarChart");
            var mybarChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["Sumatra 1", "Sumatra 2", "Jakarta", "Java 1", "Java 2", "Bali Nusra", "Kalimantan"],
                    datasets: [{
                        label: 'Sales',
                        backgroundColor: "#B21B1B",
                        data: [51, 30, 40, 28, 92, 50, 45]
                    }, {
                        label: 'Marketing',
                        backgroundColor: "#1FB21B",
                        data: [41, 56, 25, 48, 72, 34, 12]
                    }]
                },

                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

        }

        // Bar chart

        if ($('#mybarChart2').length) {

            var ctx = document.getElementById("mybarChart2");
            var mybarChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["Sumatra 1", "Sumatra 2", "Jakarta", "Java 1", "Java 2", "Bali Nusra", "Kalimantan"],
                    datasets: [{
                        label: 'Sales',
                        backgroundColor: "#21A4FF",
                        data: [51, 30, 40, 28, 92, 50, 45]
                    }, {
                        label: 'Marketing',
                        backgroundColor: "#FF8000",
                        data: [77, 15, 55, 44, 70, 30, 15]
                    }]
                },

                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

        }

        // Bar chart

        if ($('#mybarChart3').length) {

            var ctx = document.getElementById("mybarChart3");
            var mybarChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["Sumatra 1", "Sumatra 2", "Jakarta", "Java 1", "Java 2", "Bali Nusra", "Kalimantan"],
                    datasets: [{
                        label: 'Sales',
                        backgroundColor: "#FFFF80",
                        data: [77, 15, 55, 44, 70, 30, 15]
                    }, {
                        label: 'Marketing',
                        backgroundColor: "#FF8000",
                        data: [51, 30, 40, 28, 92, 50, 45]
                    }]
                },

                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

        }
    }

    function init_charts_data() {
        console.log('run_charts  typeof [' + typeof (Chart) + ']');

        if (typeof (Chart) === 'undefined') { return; }

        console.log('init_charts');


        //Chart.defaults.global.legend = {
        //    enabled: false
        //};

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetOdometerDataVisualRegion", "RptExecutiveSummary")',
            data: { monthFrom: $('#SearchView_MonthFrom').val(), yearFrom: $('#SearchView_YearFrom').val() },
            success: function (response) {
                var labels_chart = [];
                var first_chart = [];
                var second_chart = [];

                var label_1 = "Sales";
                var label_2 = "Marketing";

                for (var i = 0; i < response.length; i++) {
                    labels_chart.push(response[i].REGION);
                    first_chart.push(response[i].TOTAL_KM_SALES);
                    second_chart.push(response[i].TOTAL_KM_MARKETING);

                    label_1 = response[i].LABEL1;
                    label_2 = response[i].LABEL2;
                }

                //if (response.length == 0) {
                //    labels_chart.push("NO DATA", "NO DATA", "NO DATA");
                //    first_chart.push(5, 5, 5);
                //    second_chart.push(5, 5, 5);
                //}

                // Line chart

                if ($('#lineChart').length) {
                    $('#lineChart').remove();
                    $('#chart2').append('<canvas id="lineChart"><canvas>');
                    var ctx = document.getElementById("lineChart");
                    var lineChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels_chart,
                            datasets: [{
                                label: label_1,
                                backgroundColor: "rgba(130, 130, 130, 0.31)",
                                borderColor: "rgba(130, 130, 130, 0.7)",
                                pointBorderColor: "rgba(130, 130, 130, 0.7)",
                                pointBackgroundColor: "rgba(130, 130, 130, 0.7)",
                                pointHoverBackgroundColor: "#fff",
                                pointHoverBorderColor: "rgba(130,130,130,1)",
                                pointBorderWidth: 1,
                                data: first_chart
                            }, {
                                label: label_2,
                                backgroundColor: "rgba(33, 164, 255, 0.3)",
                                borderColor: "rgba(33, 164, 255, 0.70)",
                                pointBorderColor: "rgba(33, 164, 255, 0.70)",
                                pointBackgroundColor: "rgba(33, 164, 255, 0.70)",
                                pointHoverBackgroundColor: "#fff",
                                pointHoverBorderColor: "rgba(33, 164, 255,1)",
                                pointBorderWidth: 1,
                                data: second_chart
                            }]
                        },
                        //HERE COMES THE AXIS LABEL
                        options: {
                            scales: {
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'KM'
                                    },
                                    ticks: {
                                        beginAtZero: true,
                                        callback: function (value, index, values) {
                                            return number_format(value);
                                        }
                                    }
                                }],
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Regional'
                                    }
                                }]
                            },
                            legend: {
                                position: 'bottom'
                            },
                            tooltips: {
                                callbacks: {
                                    label: function (tooltipItem, chart) {
                                        var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                        return datasetLabel + ': ' + number_format(tooltipItem.yLabel, 2);
                                    }
                                }
                            }
                        }
                    });

                }
            }
        });
                

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetLiterByFunctionDataVisualRegion", "RptExecutiveSummary")',
            data: { monthFrom: $('#SearchView_MonthFrom').val(), yearFrom: $('#SearchView_YearFrom').val() },
            success: function (response) {
                var labels_chart = [];
                var first_chart = [];
                var second_chart = [];

                var label_1 = "Sales";
                var label_2 = "Marketing";

                for (var i = 0; i < response.length; i++) {
                    labels_chart.push(response[i].REGION);
                    first_chart.push(response[i].TOTAL_LITER_SALES);
                    second_chart.push(response[i].TOTAL_LITER_MARKETING);

                    label_1 = response[i].LABEL1;
                    label_2 = response[i].LABEL2;
                }

                //if (response.length == 0) {
                //    labels_chart.push("NO DATA", "NO DATA", "NO DATA");
                //    first_chart.push(5, 5, 5);
                //    second_chart.push(5, 5, 5);
                //}

                // Line chart

                if ($('#lineChart2').length) {
                    $('#lineChart2').remove();
                    $('#chart3').append('<canvas id="lineChart2"><canvas>');
                    var ctx = document.getElementById("lineChart2");
                    var lineChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels_chart,
                            datasets: [{
                                label: label_1,
                                backgroundColor: "rgba(130, 130, 130, 0.31)",
                                borderColor: "rgba(130, 130, 130, 0.7)",
                                pointBorderColor: "rgba(130, 130, 130, 0.7)",
                                pointBackgroundColor: "rgba(130, 130, 130, 0.7)",
                                pointHoverBackgroundColor: "#fff",
                                pointHoverBorderColor: "rgba(130,130,130,1)",
                                pointBorderWidth: 1,
                                data: first_chart
                            }, {
                                label: label_2,
                                backgroundColor: "rgba(33, 164, 255, 0.3)",
                                borderColor: "rgba(33, 164, 255, 0.70)",
                                pointBorderColor: "rgba(33, 164, 255, 0.70)",
                                pointBackgroundColor: "rgba(33, 164, 255, 0.70)",
                                pointHoverBackgroundColor: "#fff",
                                pointHoverBorderColor: "rgba(33, 164, 255,1)",
                                pointBorderWidth: 1,
                                data: second_chart
                            }]
                        },
                        //HERE COMES THE AXIS LABEL
                        options: {
                            scales: {
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Liters'
                                    },
                                    ticks: {
                                        beginAtZero: true,
                                        callback: function (value, index, values) {
                                            return number_format(value);
                                        }
                                    }
                                }],
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Regional'
                                    }
                                }]
                            },
                            legend: {
                                position: 'bottom'
                            },
                            tooltips: {
                                callbacks: {
                                    label: function (tooltipItem, chart) {
                                        var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                        return datasetLabel + ': ' + number_format(tooltipItem.yLabel, 2);
                                    }
                                }
                            }
                        }
                    });

                }
            }
        });

        $.ajax({
            type: 'POST',
            url: '@Url.Action("AccidentDataVisualRegion", "RptExecutiveSummary")',
            data: { monthFrom: $('#SearchView_MonthFrom').val(), yearFrom: $('#SearchView_YearFrom').val() },
            success: function (response) {
                var labels_chart = [];
                var first_chart = [];
                var second_chart = [];

                var label_1 = "Sales";
                var label_2 = "Marketing";

                for (var i = 0; i < response.length; i++) {
                    labels_chart.push(response[i].REGION);
                    first_chart.push(response[i].ACCIDENT_COUNT_SALES);
                    second_chart.push(response[i].ACCIDENT_COUNT_MARKETING);

                    label_1 = response[i].LABEL1;
                    label_2 = response[i].LABEL2;
                }

                //if (response.length == 0) {
                //    labels_chart.push("NO DATA", "NO DATA", "NO DATA");
                //    first_chart.push(5, 5, 5);
                //    second_chart.push(5, 5, 5);
                //}

                // Line chart

                if ($('#lineChart3').length) {
                    $('#lineChart3').remove();
                    $('#chart6').append('<canvas id="lineChart3"><canvas>');
                    var ctx = document.getElementById("lineChart3");
                    var lineChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels_chart,
                            datasets: [{
                                label: label_1,
                                backgroundColor: "rgba(130, 130, 130, 0.31)",
                                borderColor: "rgba(130, 130, 130, 0.7)",
                                pointBorderColor: "rgba(130, 130, 130, 0.7)",
                                pointBackgroundColor: "rgba(130, 130, 130, 0.7)",
                                pointHoverBackgroundColor: "#fff",
                                pointHoverBorderColor: "rgba(130,130,130,1)",
                                pointBorderWidth: 1,
                                data: first_chart
                            }, {
                                label: label_2,
                                backgroundColor: "rgba(33, 164, 255, 0.3)",
                                borderColor: "rgba(33, 164, 255, 0.70)",
                                pointBorderColor: "rgba(33, 164, 255, 0.70)",
                                pointBackgroundColor: "rgba(33, 164, 255, 0.70)",
                                pointHoverBackgroundColor: "#fff",
                                pointHoverBorderColor: "rgba(33, 164, 255,1)",
                                pointBorderWidth: 1,
                                data: second_chart
                            }]
                        },
                        //HERE COMES THE AXIS LABEL
                        options: {
                            scales: {
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Unit'
                                    }
                                }],
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Regional'
                                    }
                                }]
                            },
                            legend: {
                                position: 'bottom'
                            }
                        }
                    });

                }
            }
        });

        $.ajax({
            type: 'POST',
            url: '@Url.Action("AcObDataVisualRegion", "RptExecutiveSummary")',
            data: { monthFrom: $('#SearchView_MonthFrom').val(), yearFrom: $('#SearchView_YearFrom').val() },
            success: function (response) {
                var labels_chart = [];
                var first_chart = [];
                var second_chart = [];

                var label_1 = "Actual";
                var label_2 = "Budget";

                for (var i = 0; i < response.length; i++) {
                    labels_chart.push(response[i].FUNCTION);
                    first_chart.push(response[i].ACTUAL_COST);
                    second_chart.push(response[i].COST_OB);

                    label_1 = response[i].LABEL1;
                    label_2 = response[i].LABEL2;
                }

                //if (response.length == 0) {
                //    labels_chart.push("NO DATA", "NO DATA", "NO DATA");
                //    first_chart.push(5, 5, 5);
                //    second_chart.push(5, 5, 5);
                //}

                // Line chart

                if ($('#lineChart4').length) {
                    $('#lineChart4').remove();
                    $('#chart7').append('<canvas id="lineChart4"><canvas>');
                    var ctx = document.getElementById("lineChart4");
                    var lineChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels_chart,
                            datasets: [{
                                label: label_1,
                                backgroundColor: "rgba(130, 130, 130, 0.31)",
                                borderColor: "rgba(130, 130, 130, 0.7)",
                                pointBorderColor: "rgba(130, 130, 130, 0.7)",
                                pointBackgroundColor: "rgba(130, 130, 130, 0.7)",
                                pointHoverBackgroundColor: "#fff",
                                pointHoverBorderColor: "rgba(130,130,130,1)",
                                pointBorderWidth: 1,
                                data: first_chart
                            }, {
                                label: label_2,
                                backgroundColor: "rgba(33, 164, 255, 0.3)",
                                borderColor: "rgba(33, 164, 255, 0.70)",
                                pointBorderColor: "rgba(33, 164, 255, 0.70)",
                                pointBackgroundColor: "rgba(33, 164, 255, 0.70)",
                                pointHoverBackgroundColor: "#fff",
                                pointHoverBorderColor: "rgba(33, 164, 255,1)",
                                pointBorderWidth: 1,
                                data: second_chart
                            }]
                        },
                        //HERE COMES THE AXIS LABEL
                        options: {
                            scales: {
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Cost (IDR)'
                                    },
                                    ticks: {
                                        beginAtZero: true,
                                        callback: function (value, index, values) {
                                            return number_format(value);
                                        }
                                    }
                                }],
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Functions'
                                    }
                                }]
                            },
                            legend: {
                                position: 'bottom'
                            },
                            tooltips: {
                                callbacks: {
                                    label: function (tooltipItem, chart) {
                                        var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                        return datasetLabel + ': ' + number_format(tooltipItem.yLabel, 2);
                                    }
                                }
                            }
                        }
                    });

                }
            }
        });

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetVehicleWtcDataVisual", "RptExecutiveSummary")',
            data: { monthFrom: $('#SearchView_MonthFrom').val(), yearFrom: $('#SearchView_YearFrom').val() },
            success: function (response) {
                var labels_chart = [];
                var first_chart = [];
                var second_chart = [];

                var label_1 = "Sales";
                var label_2 = "Marketing";

                for (var i = 0; i < response.length; i++) {
                    labels_chart.push(response[i].REGIONAL);
                    first_chart.push(response[i].NO_OF_VEHICLE_SALES);
                    second_chart.push(response[i].NO_OF_VEHICLE_MARKETING);

                    label_1 = response[i].LABEL1;
                    label_2 = response[i].LABEL2;
                }

                //if (response.length == 0) {
                //    labels_chart.push("NO DATA", "NO DATA", "NO DATA");
                //    first_chart.push(5, 5, 5);
                //    second_chart.push(5, 5, 5);
                //}

                // Bar chart

                if ($('#mybarChart').length) {
                    $('#mybarChart').remove();
                    $('#chart1').append('<canvas id="mybarChart"><canvas>');
                    var ctx = document.getElementById("mybarChart");
                    var mybarChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels_chart,
                            datasets: [{
                                label: label_1,
                                backgroundColor: "#B21B1B",
                                data: first_chart
                            }, {
                                label: label_2,
                                backgroundColor: "#1FB21B",
                                data: second_chart
                            }]
                        },

                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Unit'
                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Regional'
                                    }
                                }]
                            },
                            legend: {
                                position: 'bottom'
                            }
                        }
                    });

                }
            }
        });

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetFuelCostByFunctionDataVisualRegion", "RptExecutiveSummary")',
            data: { monthFrom: $('#SearchView_MonthFrom').val(), yearFrom: $('#SearchView_YearFrom').val() },
            success: function (response) {
                var labels_chart = [];
                var first_chart = [];
                var second_chart = [];

                var label_1 = "Sales";
                var label_2 = "Marketing";

                for (var i = 0; i < response.length; i++) {
                    labels_chart.push(response[i].REGION);
                    first_chart.push(response[i].TOTAL_FUEL_COST_SALES);
                    second_chart.push(response[i].TOTAL_FUEL_COST_MARKETING);

                    label_1 = response[i].LABEL1;
                    label_2 = response[i].LABEL2;
                }

                //if (response.length == 0) {
                //    labels_chart.push("NO DATA", "NO DATA", "NO DATA");
                //    first_chart.push(5, 5, 5);
                //    second_chart.push(5, 5, 5);
                //}

                // Bar chart

                if ($('#mybarChart2').length) {
                    $('#mybarChart2').remove();
                    $('#chart4').append('<canvas id="mybarChart2"><canvas>');
                    var ctx = document.getElementById("mybarChart2");
                    var mybarChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels_chart,
                            datasets: [{
                                label: label_1,
                                backgroundColor: "#21A4FF",
                                data: first_chart
                            }, {
                                label: label_2,
                                backgroundColor: "#FF8000",
                                data: second_chart
                            }]
                        },

                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        callback: function (value, index, values) {
                                            return number_format(value);
                                        }
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Cost (IDR)'
                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Regional'
                                    }
                                }]
                            },
                            legend: {
                                position: 'bottom'
                            },
                            tooltips: {
                                callbacks: {
                                    label: function (tooltipItem, chart) {
                                        var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                        return datasetLabel + ': ' + number_format(tooltipItem.yLabel, 2);
                                    }
                                }
                            }
                        }
                    });

                }
            }
        });

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetLeaseCostByFunctionDataVisualRegion", "RptExecutiveSummary")',
            data: { monthFrom: $('#SearchView_MonthFrom').val(), yearFrom: $('#SearchView_YearFrom').val() },
            success: function (response) {
                var labels_chart = [];
                var first_chart = [];
                var second_chart = [];

                var label_1 = "Sales";
                var label_2 = "Marketing";

                for (var i = 0; i < response.length; i++) {
                    labels_chart.push(response[i].REGION);
                    first_chart.push(response[i].TOTAL_LEASE_COST_SALES);
                    second_chart.push(response[i].TOTAL_LEASE_COST_MARKETING);

                    label_1 = response[i].LABEL1;
                    label_2 = response[i].LABEL2;
                }

                //if (response.length == 0) {
                //    labels_chart.push("NO DATA", "NO DATA", "NO DATA");
                //    first_chart.push(5, 5, 5);
                //    second_chart.push(5, 5, 5);
                //}

                // Bar chart

                if ($('#mybarChart3').length) {
                    $('#mybarChart3').remove();
                    $('#chart5').append('<canvas id="mybarChart3"><canvas>');
                    var ctx = document.getElementById("mybarChart3");
                    var mybarChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels_chart,
                            datasets: [{
                                label: label_1,
                                backgroundColor: "#00FF00",
                                data: first_chart
                            }, {
                                label: label_2,
                                backgroundColor: "#FFFF80",
                                data: second_chart
                            }]
                        },

                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        callback: function (value, index, values) {
                                            return number_format(value);
                                        }
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Cost (IDR)'
                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Regional'
                                    }
                                }]
                            },
                            legend: {
                                position: 'bottom'
                            },
                            tooltips: {
                                callbacks: {
                                    label: function (tooltipItem, chart) {
                                        var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                        return datasetLabel + ': ' + number_format(tooltipItem.yLabel, 2);
                                    }
                                }
                            }
                        }
                    });

                }
            }
        });

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetVehicleMakeDataVisual", "RptExecutiveSummary")',
            data: { monthFrom: $('#SearchView_MonthFrom').val(), yearFrom: $('#SearchView_YearFrom').val() },
            success: function (response) {
                var labels_chart = [];
                var first_chart = [];

                var label_1 = "Total";

                for (var i = 0; i < response.length; i++) {
                    labels_chart.push(response[i].MANUFACTURER);
                    first_chart.push(response[i].NO_OF_VEHICLE);

                    label_1 = response[i].LABEL1;
                }

                if ($('#canvasDoughnut').length) {
                    $('#canvasDoughnut').remove();
                    $('#chart8').append('<canvas id="canvasDoughnut"><canvas>');
                    var ctx = document.getElementById("canvasDoughnut");
                    var canvasDoughnut = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels_chart,
                            datasets: [{
                                label: label_1,
                                backgroundColor: "rgba(33, 164, 255, 0.3)",
                                borderColor: "rgba(33, 164, 255, 0.70)",
                                pointBorderColor: "rgba(33, 164, 255, 0.70)",
                                pointBackgroundColor: "rgba(33, 164, 255, 0.70)",
                                pointHoverBackgroundColor: "#fff",
                                pointHoverBorderColor: "rgba(33, 164, 255,1)",
                                pointBorderWidth: 1,
                                data: first_chart
                            }]
                        },

                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Unit'
                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Manufacturers'
                                    }
                                }]
                            },
                            legend: {
                                position: 'bottom'
                            }
                        }
                    });

                }
            }
        });

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetVehicleTypeDataVisual", "RptExecutiveSummary")',
            data: { monthFrom: $('#SearchView_MonthFrom').val(), yearFrom: $('#SearchView_YearFrom').val() },
            success: function (response) {
                var labels_chart = [];
                var first_chart = [];

                var label_1 = "Total";

                for (var i = 0; i < response.length; i++) {
                    labels_chart.push(response[i].BODY_TYPE);
                    first_chart.push(response[i].NO_OF_VEHICLE);

                    label_1 = response[i].LABEL1;
                }

                if ($('#polarArea').length) {
                    $('#polarArea').remove();
                    $('#chart9').append('<canvas id="polarArea"><canvas>');
                    var ctx = document.getElementById("polarArea");
                    var polarArea = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels_chart,
                            datasets: [{
                                label: label_1,
                                backgroundColor: "#FD13ED",
                                data: first_chart
                            }]
                        },
                        //HERE COMES THE AXIS LABEL
                        options: {
                            scales: {
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Unit'
                                    }
                                }],
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Body Type'
                                    }
                                }]
                            },
                            legend: {
                                position: 'bottom'
                            }
                        }
                    });

                }
            }
        });

        $.ajax({
            type: 'POST',
            url: '@Url.Action("SalesByRegionDataVisual", "RptExecutiveSummary")',
            data: { monthFrom: $('#SearchView_MonthFrom').val(), yearFrom: $('#SearchView_YearFrom').val() },
            success: function (response) {
                var labels_chart = [];
                var first_chart = [];
                var second_chart = [];

                var label_1 = "per Stick";
                var label_2 = "per KM";

                for (var i = 0; i < response.length; i++) {
                    labels_chart.push(response[i].REGION);
                    first_chart.push(response[i].TOTAL_COST);
                    second_chart.push(response[i].TOTAL_KM);

                    label_1 = response[i].LABEL1;
                    label_2 = response[i].LABEL2;
                }

                // Line chart

                if ($('#lineChart5').length) {
                    $('#lineChart5').remove();
                    $('#chart10').append('<canvas id="lineChart5"><canvas>');
                    var ctx = document.getElementById("lineChart5");
                    var lineChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels_chart,
                            datasets: [{
                                label: label_1,
                                backgroundColor: "rgba(130, 130, 130, 0.31)",
                                borderColor: "rgba(130, 130, 130, 0.7)",
                                pointBorderColor: "rgba(130, 130, 130, 0.7)",
                                pointBackgroundColor: "rgba(130, 130, 130, 0.7)",
                                pointHoverBackgroundColor: "#fff",
                                pointHoverBorderColor: "rgba(130,130,130,1)",
                                pointBorderWidth: 1,
                                data: first_chart
                            }, {
                                label: label_2,
                                backgroundColor: "rgba(33, 164, 255, 0.3)",
                                borderColor: "rgba(33, 164, 255, 0.70)",
                                pointBorderColor: "rgba(33, 164, 255, 0.70)",
                                pointBackgroundColor: "rgba(33, 164, 255, 0.70)",
                                pointHoverBackgroundColor: "#fff",
                                pointHoverBorderColor: "rgba(33, 164, 255,1)",
                                pointBorderWidth: 1,
                                data: second_chart
                            }]
                        },
                        //HERE COMES THE AXIS LABEL
                        options: {
                            scales: {
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Cost (IDR)'
                                    },
                                    ticks: {
                                        beginAtZero: true,
                                        callback: function (value, index, values) {
                                            return number_format(value);
                                        }
                                    }
                                }],
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Regional'
                                    }
                                }]
                            },
                            legend: {
                                position: 'bottom'
                            },
                            tooltips: {
                                callbacks: {
                                    label: function (tooltipItem, chart) {
                                        var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                        return datasetLabel + ': ' + number_format(tooltipItem.yLabel, 2);
                                    }
                                }
                            }
                        }
                    });

                }
            }
        });

        $.ajax({
            type: 'POST',
            url: '@Url.Action("AcObUnitDataVisual", "RptExecutiveSummary")',
            data: { monthFrom: $('#SearchView_MonthFrom').val(), yearFrom: $('#SearchView_YearFrom').val(), isRegion: true },
            success: function (response) {
                var labels_chart = [];
                var first_chart = [];
                var second_chart = [];

                var label_1 = "Unit Actual";
                var label_2 = "Unit Bugdet";

                for (var i = 0; i < response.length; i++) {
                    labels_chart.push(response[i].FUNCTION);
                    first_chart.push(response[i].UNIT);
                    second_chart.push(response[i].UNIT_BUDGET);

                    label_1 = response[i].LABEL1;
                    label_2 = response[i].LABEL2;
                }

                if ($('#mybarChart4').length) {
                    $('#mybarChart4').remove();
                    $('#chart11').append('<canvas id="mybarChart4"><canvas>');
                    var ctx = document.getElementById("mybarChart4");
                    var mybarChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels_chart,
                            datasets: [{
                                label: label_1,
                                backgroundColor: "#21A4FF",
                                data: first_chart
                            }, {
                                label: label_2,
                                backgroundColor: "#FF8000",
                                data: second_chart
                            }]
                        },

                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Unit'
                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Functions'
                                    }
                                }]
                            },
                            legend: {
                                position: 'bottom'
                            }
                        }
                    });

                }
            }
        });
    }

    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    $(document).ready(function () {
        init_charts_data();

        $('aside').animate({
            scrollTop: $("#SummRegion").offset().top
        }, 1000);
    });

    function ExportXls() {
        console.log('Submitting');
        var titleExport = '@Model.TitleExport';
        var url = '@Url.Action("ExportSummaryAllReportGenerateReport", "RptExecutiveSummary")';
        var getFileUrl = '@Url.Action("GetExcelFile", "RptExecutiveSummary")';
        console.log(url);
        var objToUpload =
			{
			    SearchViewExport: {
			        MonthFrom: $('#SearchView_MonthFrom').val(),
			        MonthTo: $('#SearchView_MonthFrom').val(),
			        YearFrom: $('#SearchView_YearFrom').val(),
			        YearTo: $('#SearchView_YearFrom').val(),
			    },
			    TitleExport: titleExport

			};
        $.ajax({
            url: url,
            data: JSON.stringify(objToUpload),
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $('#LoadingModal').show();
            },
            success: function (response, status, jqxhr) {
                console.log("DONE");
                window.location = getFileUrl + "?pathFile=" + response;
                $('#LoadingModal').hide();
            },
            error: function (jqhxr) {
                console.log("ERROR");
                console.log(jqhxr.responseText);
                $('#LoadingModal').hide();
            },
            type: 'POST'
        });

    }

    function number_format(number, decimals, dec_point, thousands_sep) {
        // *     example: number_format(1234.56, 2, ',', ' ');
        // *     return: '1 234,56'
        number = (number + '').replace(',', '').replace(' ', '');
        var n = !isFinite(+number) ? 0 : +number,
                prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                s = '',
                toFixedFix = function (n, prec) {
                    var k = Math.pow(10, prec);
                    return '' + Math.round(n * k) / k;
                };
        // Fix for IE parseFloat(0.55).toFixed(0) = 0;
        s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
        if (s[0].length > 3) {
            s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
        }
        if ((s[1] || '').length < prec) {
            s[1] = s[1] || '';
            s[1] += new Array(prec - s[1].length + 1).join('0');
        }
        return s.join(dec);
    }

    $(document).on('click', '#btn-filter', function () {
        init_charts_data();
    });

    $(document).on('click', '#link1', function () {
        var myUrl = '@Url.Action("VehicleWtc", "RptExecutiveSummary")/?' + 'month=' + $('#SearchView_MonthFrom').val() + '&year=' + $('#SearchView_YearFrom').val();

        window.location.href = myUrl;
    });

    $(document).on('click', '#link2', function () {
        var myUrl = '@Url.Action("Odometer", "RptExecutiveSummary")/?' + 'month=' + $('#SearchView_MonthFrom').val() + '&year=' + $('#SearchView_YearFrom').val();

        window.location.href = myUrl;
    });

    $(document).on('click', '#link3', function () {
        var myUrl = '@Url.Action("LiterByFunction", "RptExecutiveSummary")/?' + 'month=' + $('#SearchView_MonthFrom').val() + '&year=' + $('#SearchView_YearFrom').val();

        window.location.href = myUrl;
    });

    $(document).on('click', '#link4', function () {
        var myUrl = '@Url.Action("FuelCostByFunction", "RptExecutiveSummary")/?' + 'month=' + $('#SearchView_MonthFrom').val() + '&year=' + $('#SearchView_YearFrom').val();

        window.location.href = myUrl;
    });

    $(document).on('click', '#link5', function () {
        var myUrl = '@Url.Action("LeaseCostByFunction", "RptExecutiveSummary")/?' + 'month=' + $('#SearchView_MonthFrom').val() + '&year=' + $('#SearchView_YearFrom').val();

        window.location.href = myUrl;
    });

    $(document).on('click', '#link6', function () {
        var myUrl = '@Url.Action("Accident", "RptExecutiveSummary")/?' + 'month=' + $('#SearchView_MonthFrom').val() + '&year=' + $('#SearchView_YearFrom').val();

        window.location.href = myUrl;
    });

    $(document).on('click', '#link7', function () {
        var myUrl = '@Url.Action("AcVsOb", "RptExecutiveSummary")/?' + 'month=' + $('#SearchView_MonthFrom').val() + '&year=' + $('#SearchView_YearFrom').val();

        window.location.href = myUrl;
    });

    $(document).on('click', '#link8', function () {
        var myUrl = '@Url.Action("VehicleMake", "RptExecutiveSummary")/?' + 'month=' + $('#SearchView_MonthFrom').val() + '&year=' + $('#SearchView_YearFrom').val();

        window.location.href = myUrl;
    });

    $(document).on('click', '#link9', function () {
        var myUrl = '@Url.Action("VehicleMake", "RptExecutiveSummary")/?' + 'month=' + $('#SearchView_MonthFrom').val() + '&year=' + $('#SearchView_YearFrom').val();

        window.location.href = myUrl;
    });

    $(document).on('click', '#link10', function () {
        var myUrl = '@Url.Action("SalesByRegion", "RptExecutiveSummary")/?' + 'month=' + $('#SearchView_MonthFrom').val() + '&year=' + $('#SearchView_YearFrom').val();

        window.location.href = myUrl;
    });

    $(document).on('click', '#link12', function () {
        var myUrl = '@Url.Action("AcVsOb", "RptExecutiveSummary")/?' + 'month=' + $('#SearchView_MonthFrom').val() + '&year=' + $('#SearchView_YearFrom').val();

        window.location.href = myUrl;
    });

</script>
<link href="~/Content/DatePicker/Bootstrap Date Picker/bootstrap-datepicker.min.css" rel="stylesheet" />
<style>
    .datepicker {
        margin-left: 15px;
    }
</style>
<script src="~/Content/DatePicker/Bootstrap Date Picker/jquery-3.3.1.min.js"></script>
<script src="~/Content/DatePicker/Bootstrap Date Picker/bootstrap-datepicker.min.js"></script>