@using FMS.Core;
@model FMS.Website.Models.SummaryAllModel

@{
    ViewBag.Title = Model.TitleForm;
}

<div class="opt-content clearfloat">
    <h5 class="title-page">@ViewBag.Title</h5>
    @if (Model.CurrentPageAccess.ReadAccess == true)
    {
        <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
            <i class="fa fa-download"></i> Export
        </a>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#SearchView_YearFrom').datepicker({
            minViewMode: 2,
            format: 'yyyy',
            autoclose: true,
            position: 'right bottom',
            container: '#xz'
        });
    });
</script>

<div class="well" style="margin:-1px;">
    <div class="wpanel" style="margin-left:22px;margin-right:22px;">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Month</label>
                    @Html.DropDownListFor(model => model.SearchView.MonthFrom, Model.SearchView.MonthList, new { @class = "form-control month" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group" id="xz">
                    <label for="">Year</label>
                    <input type="text" id="SearchView_YearFrom" value="@Model.SearchView.YearFrom" class="form-control year" data-provide="datepicker" />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <button id="btn-filter" type="submit" class="btn btn-primary">Filter</button>
                <button id="btn-reset" type="button" class="btn btn-default">Reset</button>
            </div>
        </div>
    </div>
    <div class="content chart-summary">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-footer"><i class="fa fa-clock-o"></i> <b style="font-size:14px"><a id="link1">Number Of Vehicle</a></b></div>
                    <div class="card-body" id="chart1">
                        @*<h5 class="card-title"><i class="fa fa-bullseye"></i> Number Of Vehicle</h5>*@
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-footer"><i class="fa fa-clock-o"></i> <b style="font-size:14px"><a id="link2">Vehicle By Regional</a></b></div>
                    <div class="card-body" id="chart2">
                        @*<h5 class="card-title"><i class="fa fa-compress"></i> Vehicle By Regional</h5>*@
                        <canvas id="mybarChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-footer"><i class="fa fa-clock-o"></i> <b style="font-size:14px"><a id="link3">Vehicle By Make</a></b></div>
                    <div class="card-body" id="chart3">
                        @*<h5 class="card-title"><i class="fa fa-credit-card"></i> Vehicle By Make</h5>*@
                        <canvas id="canvasDoughnut"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-footer"><i class="fa fa-clock-o"></i> <b style="font-size:14px"><a id="link4">Vehicle By Type</a></b></div>
                    <div class="card-body" id="chart4">
                        @*<h5 class="card-title"><i class="fa fa-balance-scale"></i> Vehicle By Type</h5>*@
                        <canvas id="polarArea"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-footer"><i class="fa fa-clock-o"></i> <b style="font-size:14px"><a id="link5">Odometer</a></b></div>
                    <div class="card-body" id="chart5">
                        @*<h5 class="card-title"><i class="fa fa-credit-card"></i> Odometer</h5>*@
                        <canvas id="canvasDoughnut2"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-footer"><i class="fa fa-clock-o"></i> <b style="font-size:14px"><a id="link6">Liters</a></b></div>
                    <div class="card-body" id="chart6">
                        @*<h5 class="card-title"><i class="fa fa-credit-card"></i> Liters</h5>*@
                        <canvas id="pieChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-footer"><i class="fa fa-clock-o"></i> <b style="font-size:14px"><a id="link7">Fuel</a> & <a id="link8">Lease Cost</a></b></div>
                    <div class="card-body" id="chart7">
                        @*<h5 class="card-title"><i class="fa fa-car"></i> Fuel & Lease Cost</h5>*@
                        <canvas id="mybarChart2"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-footer"><i class="fa fa-clock-o"></i> <b style="font-size:14px"><a id="link9">Operational Cost</a></b></div>
                    <div class="card-body" id="chart8">
                        @*<h5 class="card-title"><i class="fa fa-car"></i> Sales By Region</h5>*@
                        <canvas id="lineChart2"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-footer"><i class="fa fa-clock-o"></i> <b style="font-size:14px"><a id="link10">Accident</a></b></div>
                    <div class="card-body" id="chart9">
                        @*<h5 class="card-title"><i class="fa fa-car"></i> Fuel & Lease Cost</h5>*@
                        <canvas id="lineChart3"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-footer"><i class="fa fa-clock-o"></i> <b style="font-size:14px"><a id="link11">Actual Cost Vs Budget</a></b></div>
                    <div class="card-body" id="chart10">
                        @*<h5 class="card-title"><i class="fa fa-car"></i> Sales By Region</h5>*@
                        <canvas id="mybarChart3"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="LoadingModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div align="center">
                    <img src="~/Content/img/loader2.gif" id="imgLoader" style="display:block" />
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/js/Chart.bundle.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/execsumscript.js"></script>
<script type="text/javascript">
    function init_charts() {
        console.log('run_charts  typeof [' + typeof (Chart) + ']');

        if (typeof (Chart) === 'undefined') { return; }

        console.log('init_charts');


        //Chart.defaults.global.legend = {
        //    enabled: false
        //};

        // Line chart

        if ($('#lineChart').length) {

            var ctx = document.getElementById("lineChart");
            var lineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Sales", "Marketing", "Operations", "HR", "GS", "Logistics", "Others"],
                    datasets: [{
                        label: "BENEFIT",
                        backgroundColor: "rgba(130, 130, 130, 0.31)",
                        borderColor: "rgba(130, 130, 130, 0.7)",
                        pointBorderColor: "rgba(130, 130, 130, 0.7)",
                        pointBackgroundColor: "rgba(130, 130, 130, 0.7)",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(130,130,130,1)",
                        pointBorderWidth: 1,
                        data: [31, 74, 6, 39, 20, 85, 7]
                    }, {
                        label: "WTC",
                        backgroundColor: "rgba(33, 164, 255, 0.3)",
                        borderColor: "rgba(33, 164, 255, 0.70)",
                        pointBorderColor: "rgba(33, 164, 255, 0.70)",
                        pointBackgroundColor: "rgba(33, 164, 255, 0.70)",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(33, 164, 255,1)",
                        pointBorderWidth: 1,
                        data: [82, 23, 66, 9, 99, 4, 2]
                    }]
                },
            });

        }

        // Line chart

        if ($('#lineChart2').length) {

            var ctx = document.getElementById("lineChart2");
            var lineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Sumatra 1", "Sumatra 2", "Jakarta", "Java 1", "Java 2", "Bali Nusra", "Kalimantan"],
                    datasets: [{
                        label: "Operational Cost per Stick",
                        backgroundColor: "rgba(130, 130, 130, 0.31)",
                        borderColor: "rgba(130, 130, 130, 0.7)",
                        pointBorderColor: "rgba(130, 130, 130, 0.7)",
                        pointBackgroundColor: "rgba(130, 130, 130, 0.7)",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(130,130,130,1)",
                        pointBorderWidth: 1,
                        data: [31, 74, 6, 39, 20, 85, 7]
                    }, {
                        label: "Operational Cost per KM",
                        backgroundColor: "rgba(33, 164, 255, 0.3)",
                        borderColor: "rgba(33, 164, 255, 0.70)",
                        pointBorderColor: "rgba(33, 164, 255, 0.70)",
                        pointBackgroundColor: "rgba(33, 164, 255, 0.70)",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(33, 164, 255,1)",
                        pointBorderWidth: 1,
                        data: [82, 23, 66, 9, 99, 4, 2]
                    }]
                },
            });

        }

        // Line chart

        if ($('#lineChart3').length) {

            var ctx = document.getElementById("lineChart3");
            var lineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Sales", "Marketing", "Operations", "Logistic", "HR", "GS", "Other"],
                    datasets: [{
                        label: "Actual Cost",
                        backgroundColor: "rgba(130, 130, 130, 0.31)",
                        borderColor: "rgba(130, 130, 130, 0.7)",
                        pointBorderColor: "rgba(130, 130, 130, 0.7)",
                        pointBackgroundColor: "rgba(130, 130, 130, 0.7)",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(130,130,130,1)",
                        pointBorderWidth: 1,
                        data: [31, 74, 6, 39, 20, 85, 7]
                    }, {
                        label: "Operational Budget",
                        backgroundColor: "rgba(33, 164, 255, 0.3)",
                        borderColor: "rgba(33, 164, 255, 0.70)",
                        pointBorderColor: "rgba(33, 164, 255, 0.70)",
                        pointBackgroundColor: "rgba(33, 164, 255, 0.70)",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(33, 164, 255,1)",
                        pointBorderWidth: 1,
                        data: [82, 23, 66, 9, 99, 4, 2]
                    }]
                },
            });

        }

        // Bar chart

        if ($('#mybarChart').length) {

            var ctx = document.getElementById("mybarChart");
            var mybarChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["Sumatra 1", "Sumatra 2", "Jakarta", "Java 1", "Java 2", "Bali Nusra", "Kalimantan"],
                    datasets: [{
                        label: 'Sales',
                        backgroundColor: "#B21B1B",
                        data: [51, 30, 40, 28, 92, 50, 45]
                    }, {
                        label: 'Marketing',
                        backgroundColor: "#1FB21B",
                        data: [41, 56, 25, 48, 72, 34, 12]
                    }]
                },

                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

        }

        // Bar chart

        if ($('#mybarChart2').length) {

            var ctx = document.getElementById("mybarChart2");
            var mybarChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["Sales", "Marketing", "Operations", "Logistic", "HR", "GS", "Other"],
                    datasets: [{
                        label: 'Fuel cost',
                        backgroundColor: "#21A4FF",
                        data: [51, 30, 40, 28, 92, 50, 45]
                    }, {
                        label: 'Lease cost',
                        backgroundColor: "#FF8000",
                        data: [77, 15, 55, 44, 70, 30, 15]
                    }]
                },

                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

        }

        // Bar chart

        if ($('#mybarChart3').length) {

            var ctx = document.getElementById("mybarChart3");
            var mybarChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["Sales", "Marketing", "Operations", "Logistic", "HR", "GS", "Other"],
                    datasets: [{
                        label: 'All',
                        backgroundColor: "#00FF00",
                        data: [128, 45, 95, 72, 162, 80, 55]
                    }, {
                        label: 'BENEFIT',
                        backgroundColor: "#FFFF80",
                        data: [77, 15, 55, 44, 70, 30, 15]
                    }, {
                        label: 'WTC',
                        backgroundColor: "#FF8000",
                        data: [51, 30, 40, 28, 92, 50, 45]
                    }]
                },

                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

        }


        // Doughnut chart

        if ($('#canvasDoughnut').length) {

            Chart.defaults.global.legend = {
                enabled: false
            };

            var ctx = document.getElementById("canvasDoughnut");
            var data = {
                labels: [
                "Audi",
                "BMW",
                "Daihatsu",
                "Ford",
                "Other"
                ],
                datasets: [{
                    data: [120, 50, 140, 180, 100],
                    backgroundColor: [
                    "#FF8040",
                    "#FFFF80",
                    "#FF80FF",
                    "#1FB21B",
                    "#21A4FF"
                    ],
                    hoverBackgroundColor: [
                    "#FF8040",
                    "#FFFF80",
                    "#FF80FF",
                    "#1FB21B",
                    "#21A4FF"
                    ]

                }]
            };

            var canvasDoughnut = new Chart(ctx, {
                type: 'doughnut',
                tooltipFillColor: "rgba(51, 51, 51, 0.55)",
                data: data
            });

        }

        // Radar chart

        if ($('#canvasRadar').length) {

            var ctx = document.getElementById("canvasRadar");
            var data = {
                labels: ["Sales", "Marketing", "Operations", "Logistic", "HR", "GS", "Other"],
                datasets: [{
                    label: "Number of KM's driven",
                    backgroundColor: "rgba(33, 164, 255, 0.3)",
                    borderColor: "rgba(33, 164, 255, 0.70)",
                    pointBorderColor: "rgba(33, 164, 255, 0.70)",
                    pointBackgroundColor: "rgba(33, 164, 255, 0.70)",
                    pointHoverBackgroundColor: "#fff",
                    pointHoverBorderColor: "rgba(33, 164, 255,1)",
                    pointBorderWidth: 1,
                    data: [82, 23, 66, 19, 99, 40, 62]
                }]
            };

            var canvasRadar = new Chart(ctx, {
                type: 'radar',
                data: data,
            });

        }


        // Pie chart
        if ($('#pieChart').length) {

            var ctx = document.getElementById("pieChart");
            var data = {
                labels: [
                "Sales",
                "Marketing",
                "Operations",
                "Logistic",
                "Other"
                ],
                datasets: [{
                    data: [120, 50, 140, 180, 100],
                    backgroundColor: [
                    "#FFFF00",
                    "#1FB21B",
                    "#21A4FF",
                    "#FF0000",
                    "#8080FF"
                    ],
                    hoverBackgroundColor: [
                    "#FFFF00",
                    "#1FB21B",
                    "#21A4FF",
                    "#FF0000",
                    "#8080FF"
                    ]

                }]
            };

            var pieChart = new Chart(ctx, {
                data: data,
                type: 'pie',
                otpions: {
                    legend: false
                }
            });

        }

        // PolarArea chart

        if ($('#polarArea').length) {

            var ctx = document.getElementById("polarArea");
            var data = {
                datasets: [{
                    data: [120, 50, 140, 180, 100],
                    backgroundColor: [
                    "#8080FF",
                    "#B21B1B",
                    "#FF8080",
                    "#21A4FF",
                    "#1FB21B"
                    ],
                    label: 'My dataset'
                }],
                labels: [
                    "MPV",
                    "Truck",
                    "Box",
                    "Motorcycle",
                    "Other"
                ]
            };

            var polarArea = new Chart(ctx, {
                data: data,
                type: 'polarArea',
                options: {
                    scale: {
                        ticks: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }
    }

    function init_charts_data() {
        console.log('run_charts  typeof [' + typeof (Chart) + ']');

        if (typeof (Chart) === 'undefined') { return; }

        console.log('init_charts');

        //Chart.defaults.global.legend = {
        //    enabled: false
        //};

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetVehicleDataVisual", "RptExecutiveSummary")',
            data: { monthFrom: $('#SearchView_MonthFrom').val(), yearFrom: $('#SearchView_YearFrom').val() },
            success: function (response) {
                var labels_chart = [];
                var first_chart = [];
                var second_chart = [];

                var label_1 = "BENEFIT";
                var label_2 = "WTC";

                for (var i = 0; i < response.length; i++) {
                    labels_chart.push(response[i].FUNCTION);
                    first_chart.push(response[i].NO_OF_VEHICLE_BENEFIT);
                    second_chart.push(response[i].NO_OF_VEHICLE_WTC);

                    label_1 = response[i].LABEL1;
                    label_2 = response[i].LABEL2;
                }

                //if (response.length == 0) {
                //    labels_chart.push("NO DATA", "NO DATA", "NO DATA");
                //    first_chart.push(5, 5, 5);
                //    second_chart.push(5, 5, 5);
                //}

                // Line chart

                if ($('#lineChart').length) {
                    $('#lineChart').remove();
                    $('#chart1').append('<canvas id="lineChart"><canvas>');
                    var ctx = document.getElementById("lineChart");
                    var lineChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels_chart,
                            datasets: [{
                                label: label_1,
                                backgroundColor: "rgba(130, 130, 130, 0.31)",
                                borderColor: "rgba(130, 130, 130, 0.7)",
                                pointBorderColor: "rgba(130, 130, 130, 0.7)",
                                pointBackgroundColor: "rgba(130, 130, 130, 0.7)",
                                pointHoverBackgroundColor: "#fff",
                                pointHoverBorderColor: "rgba(130,130,130,1)",
                                pointBorderWidth: 1,
                                data: first_chart
                            }, {
                                label: label_2,
                                backgroundColor: "rgba(33, 164, 255, 0.3)",
                                borderColor: "rgba(33, 164, 255, 0.70)",
                                pointBorderColor: "rgba(33, 164, 255, 0.70)",
                                pointBackgroundColor: "rgba(33, 164, 255, 0.70)",
                                pointHoverBackgroundColor: "#fff",
                                pointHoverBorderColor: "rgba(33, 164, 255,1)",
                                pointBorderWidth: 1,
                                data: second_chart
                            }]
                        },
                        //HERE COMES THE AXIS LABEL
                        options: {
                            scales: {
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Unit'
                                    }
                                }],
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Functions'
                                    }
                                }]
                            }
                        }
                    });

                }
            }
        });


        $.ajax({
            type: 'POST',
            url: '@Url.Action("SalesByRegionDataVisual", "RptExecutiveSummary")',
            data: { monthFrom: $('#SearchView_MonthFrom').val(), yearFrom: $('#SearchView_YearFrom').val() },
            success: function (response) {
                var labels_chart = [];
                var first_chart = [];
                var second_chart = [];

                var label_1 = "per Stick";
                var label_2 = "per KM";

                for (var i = 0; i < response.length; i++) {
                    labels_chart.push(response[i].REGION);
                    first_chart.push(response[i].TOTAL_COST);
                    second_chart.push(response[i].TOTAL_KM);

                    label_1 = response[i].LABEL1;
                    label_2 = response[i].LABEL2;
                }

                //if (response.length == 0) {
                //    labels_chart.push("NO DATA", "NO DATA", "NO DATA");
                //    first_chart.push(5, 5, 5);
                //    second_chart.push(5, 5, 5);
                //}

                // Line chart

                if ($('#lineChart2').length) {
                    $('#lineChart2').remove();
                    $('#chart8').append('<canvas id="lineChart2"><canvas>');
                    var ctx = document.getElementById("lineChart2");
                    var lineChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels_chart,
                            datasets: [{
                                label: label_1,
                                backgroundColor: "rgba(130, 130, 130, 0.31)",
                                borderColor: "rgba(130, 130, 130, 0.7)",
                                pointBorderColor: "rgba(130, 130, 130, 0.7)",
                                pointBackgroundColor: "rgba(130, 130, 130, 0.7)",
                                pointHoverBackgroundColor: "#fff",
                                pointHoverBorderColor: "rgba(130,130,130,1)",
                                pointBorderWidth: 1,
                                data: first_chart
                            }, {
                                label: label_2,
                                backgroundColor: "rgba(33, 164, 255, 0.3)",
                                borderColor: "rgba(33, 164, 255, 0.70)",
                                pointBorderColor: "rgba(33, 164, 255, 0.70)",
                                pointBackgroundColor: "rgba(33, 164, 255, 0.70)",
                                pointHoverBackgroundColor: "#fff",
                                pointHoverBorderColor: "rgba(33, 164, 255,1)",
                                pointBorderWidth: 1,
                                data: second_chart
                            }]
                        },
                        //HERE COMES THE AXIS LABEL
                        options: {
                            scales: {
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Cost'
                                    }
                                }],
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Regional'
                                    }
                                }]
                            }
                        }
                    });

                }
            }
        });

        
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AcObDataVisual", "RptExecutiveSummary")',
            data: { monthFrom: $('#SearchView_MonthFrom').val(), yearFrom: $('#SearchView_YearFrom').val() },
            success: function (response) {
                var labels_chart = [];
                var first_chart = [];
                var second_chart = [];
                var third_chart = [];
                var forth_chart = [];

                var label_1 = "Actual BENEFIT";
                var label_2 = "Actual WTC";
                var label_3 = "Budget BENEFIT";
                var label_4 = "Budget WTC";

                for (var i = 0; i < response.length; i++) {
                    labels_chart.push(response[i].FUNCTION);
                    first_chart.push(response[i].ACTUAL_COST_BENEFIT);
                    second_chart.push(response[i].ACTUAL_COST_WTC);
                    third_chart.push(response[i].COST_OB_BENEFIT);
                    forth_chart.push(response[i].COST_OB_WTC);

                    label_1 = response[i].LABEL1;
                    label_2 = response[i].LABEL2;
                    label_3 = response[i].LABEL3;
                    label_4 = response[i].LABEL4;
                }

                //if (response.length == 0) {
                //    labels_chart.push("NO DATA", "NO DATA", "NO DATA");
                //    first_chart.push(5, 5, 5);
                //    second_chart.push(5, 5, 5);
                //}

                // Bar chart

                if ($('#mybarChart3').length) {
                    $('#mybarChart3').remove();
                    $('#chart10').append('<canvas id="mybarChart3"><canvas>');
                    var ctx = document.getElementById("mybarChart3");
                    var mybarChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels_chart,
                            datasets: [{
                                label: label_1,
                                backgroundColor: "#00FF00",
                                data: first_chart
                            }, {
                                label: label_2,
                                backgroundColor: "#FFFF80",
                                data: second_chart
                            }, {
                                label: label_3,
                                backgroundColor: "#B21B1B",
                                data: third_chart
                            }, {
                                label: label_4,
                                backgroundColor: "#FD13ED",
                                data: forth_chart
                            }]
                        },

                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Unit'
                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Functions'
                                    }
                                }]
                            }
                        }
                    });

                }
            }
        });
        

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetVehicleWtcDataVisual", "RptExecutiveSummary")',
            data: { monthFrom: $('#SearchView_MonthFrom').val(), yearFrom: $('#SearchView_YearFrom').val() },
            success: function (response) {
                var labels_chart = [];
                var first_chart = [];
                var second_chart = [];

                var label_1 = "Sales";
                var label_2 = "Marketing";

                for (var i = 0; i < response.length; i++) {
                    labels_chart.push(response[i].REGIONAL);
                    first_chart.push(response[i].NO_OF_VEHICLE_SALES);
                    second_chart.push(response[i].NO_OF_VEHICLE_MARKETING);

                    label_1 = response[i].LABEL1;
                    label_2 = response[i].LABEL2;
                }

                //if (response.length == 0) {
                //    labels_chart.push("NO DATA", "NO DATA", "NO DATA");
                //    first_chart.push(5, 5, 5);
                //    second_chart.push(5, 5, 5);
                //}

                // Bar chart

                if ($('#mybarChart').length) {
                    $('#mybarChart').remove();
                    $('#chart2').append('<canvas id="mybarChart"><canvas>');
                    var ctx = document.getElementById("mybarChart");
                    var mybarChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels_chart,
                            datasets: [{
                                label: label_1,
                                backgroundColor: "#B21B1B",
                                data: first_chart
                            }, {
                                label: label_2,
                                backgroundColor: "#1FB21B",
                                data: second_chart
                            }]
                        },

                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Unit'
                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Regional'
                                    }
                                }]
                            }
                        }
                    });

                }
            }
        });


        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetFuelCostByFunctionDataVisual", "RptExecutiveSummary")',
            data: { monthFrom: $('#SearchView_MonthFrom').val(), yearFrom: $('#SearchView_YearFrom').val() },
            success: function (response) {
                var labels_chart = [];
                var first_chart = [];
                var second_chart = [];

                var label_1 = "Fuel";
                var label_2 = "Lease";

                for (var i = 0; i < response.length; i++) {
                    labels_chart.push(response[i].FUNCTION);
                    first_chart.push(response[i].TOTAL_FUEL_COST);
                    second_chart.push(response[i].TOTAL_LEASE_COST);

                    label_1 = response[i].LABEL1;
                    label_2 = response[i].LABEL2;
                }

                //if (response.length == 0) {
                //    labels_chart.push("NO DATA", "NO DATA", "NO DATA");
                //    first_chart.push(5, 5, 5);
                //    second_chart.push(5, 5, 5);
                //}

                // Bar chart

                if ($('#mybarChart2').length) {
                    $('#mybarChart2').remove();
                    $('#chart7').append('<canvas id="mybarChart2"><canvas>');
                    var ctx = document.getElementById("mybarChart2");
                    var mybarChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels_chart,
                            datasets: [{
                                label: label_1,
                                backgroundColor: "#21A4FF",
                                data: first_chart
                            }, {
                                label: label_2,
                                backgroundColor: "#FF8000",
                                data: second_chart
                            }]
                        },

                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Cost'
                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Functions'
                                    }
                                }]
                            }
                        }
                    });

                }
            }
        });

        
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AccidentDataVisual", "RptExecutiveSummary")',
            data: { monthFrom: $('#SearchView_MonthFrom').val(), yearFrom: $('#SearchView_YearFrom').val() },
            success: function (response) {
                var labels_chart = [];
                //var first_chart = [];
                var second_chart = [];
                var third_chart = [];

                var label_1 = "BENEFIT";
                var label_2 = "WTC";

                for (var i = 0; i < response.length; i++) {
                    labels_chart.push(response[i].FUNCTION);
                    //first_chart.push(response[i].ACCIDENT_COUNT);
                    second_chart.push(response[i].ACCIDENT_COUNT_BENEFIT);
                    third_chart.push(response[i].ACCIDENT_COUNT_WTC);

                    label_1 = response[i].LABEL1;
                    label_2 = response[i].LABEL2;
                }

                //if (response.length == 0) {
                //    labels_chart.push("NO DATA", "NO DATA", "NO DATA");
                //    first_chart.push(5, 5, 5);
                //    second_chart.push(5, 5, 5);
                //    third_chart.push(5, 5, 5);
                //}

                if ($('#lineChart3').length) {
                    $('#lineChart3').remove();
                    $('#chart9').append('<canvas id="lineChart3"><canvas>');
                    var ctx = document.getElementById("lineChart3");
                    var lineChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels_chart,
                            datasets: [{
                                label: label_1,
                                backgroundColor: "rgba(130, 130, 130, 0.31)",
                                borderColor: "rgba(130, 130, 130, 0.7)",
                                pointBorderColor: "rgba(130, 130, 130, 0.7)",
                                pointBackgroundColor: "rgba(130, 130, 130, 0.7)",
                                pointHoverBackgroundColor: "#fff",
                                pointHoverBorderColor: "rgba(130,130,130,1)",
                                pointBorderWidth: 1,
                                data: second_chart
                            }, {
                                label: label_2,
                                backgroundColor: "rgba(33, 164, 255, 0.3)",
                                borderColor: "rgba(33, 164, 255, 0.70)",
                                pointBorderColor: "rgba(33, 164, 255, 0.70)",
                                pointBackgroundColor: "rgba(33, 164, 255, 0.70)",
                                pointHoverBackgroundColor: "#fff",
                                pointHoverBorderColor: "rgba(33, 164, 255,1)",
                                pointBorderWidth: 1,
                                data: third_chart
                            }]
                        },
                        //HERE COMES THE AXIS LABEL
                        options: {
                            scales: {
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Cost'
                                    }
                                }],
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Functions'
                                    }
                                }]
                            }
                        }
                    });

                }
            }
        });


        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetVehicleMakeDataVisual", "RptExecutiveSummary")',
            data: { monthFrom: $('#SearchView_MonthFrom').val(), yearFrom: $('#SearchView_YearFrom').val() },
            success: function (response) {
                var labels_chart = [];
                var first_chart = [];
                //var color_chart = [];

                var label_1 = "Total";

                for (var i = 0; i < response.length; i++) {
                    labels_chart.push(response[i].MANUFACTURER);
                    first_chart.push(response[i].NO_OF_VEHICLE);
                    //color_chart.push(getRandomColor());

                    label_1 = response[i].LABEL1;
                }

                //if (response.length == 0) {
                //    labels_chart.push("NO DATA");
                //    first_chart.push(1);
                //    color_chart.push(getRandomColor());
                //}

                // Doughnut chart

                //if ($('#canvasDoughnut').length) {
                //    $('#canvasDoughnut').remove();
                //    $('#chart3').append('<canvas id="canvasDoughnut"><canvas>');
                //    var ctx = document.getElementById("canvasDoughnut");
                //    var data = {
                //        labels: labels_chart,
                //        datasets: [{
                //            data: first_chart,
                //            backgroundColor: color_chart
                //        }]
                //    };

                //    var canvasDoughnut = new Chart(ctx, {
                //        type: 'doughnut',
                //        tooltipFillColor: "rgba(51, 51, 51, 0.55)",
                //        data: data,
                //        options: {
                //            legend: {
                //                display: false
                //            }
                //        }
                //    });

                //}

                if ($('#canvasDoughnut').length) {
                    $('#canvasDoughnut').remove();
                    $('#chart3').append('<canvas id="canvasDoughnut"><canvas>');
                    var ctx = document.getElementById("canvasDoughnut");
                    var canvasDoughnut = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels_chart,
                            datasets: [{
                                label: label_1,
                                backgroundColor: "#FD13ED",
                                data: first_chart
                            }]
                        },

                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Unit'
                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Manufacturers'
                                    }
                                }]
                            }
                        }
                    });

                }
            }
        });
        

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetOdometerDataVisual", "RptExecutiveSummary")',
            data: { monthFrom: $('#SearchView_MonthFrom').val(), yearFrom: $('#SearchView_YearFrom').val() },
            success: function (response) {
                var labels_chart = [];
                var first_chart = [];
                var second_chart = [];

                var label_1 = "BENEFIT";
                var label_2 = "WTC";

                for (var i = 0; i < response.length; i++) {
                    labels_chart.push(response[i].FUNCTION);
                    first_chart.push(response[i].TOTAL_KM_BENEFIT);
                    second_chart.push(response[i].TOTAL_KM_WTC);

                    label_1 = response[i].LABEL1;
                    label_2 = response[i].LABEL2;
                }

                //if (response.length == 0) {
                //    labels_chart.push("NO DATA");
                //    first_chart.push(1);
                //    color_chart.push(getRandomColor());
                //}

                // Doughnut chart

                //if ($('#canvasDoughnut2').length) {
                //    $('#canvasDoughnut2').remove();
                //    $('#chart5').append('<canvas id="canvasDoughnut2"><canvas>');
                //    var ctx = document.getElementById("canvasDoughnut2");
                //    var data = {
                //        labels: labels_chart,
                //        datasets: [{
                //            data: first_chart,
                //            backgroundColor: color_chart
                //        }]
                //    };

                //    var canvasDoughnut = new Chart(ctx, {
                //        type: 'doughnut',
                //        tooltipFillColor: "rgba(51, 51, 51, 0.55)",
                //        data: data,
                //        options: {
                //            legend: {
                //                display: false
                //            },
                //        }
                //    });

                //}

                // Line chart

                if ($('#canvasDoughnut2').length) {
                    $('#canvasDoughnut2').remove();
                    $('#chart5').append('<canvas id="canvasDoughnut2"><canvas>');
                    var ctx = document.getElementById("canvasDoughnut2");
                    var canvasDoughnut2 = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels_chart,
                            datasets: [{
                                label: label_1,
                                backgroundColor: "rgba(130, 130, 130, 0.31)",
                                borderColor: "rgba(130, 130, 130, 0.7)",
                                pointBorderColor: "rgba(130, 130, 130, 0.7)",
                                pointBackgroundColor: "rgba(130, 130, 130, 0.7)",
                                pointHoverBackgroundColor: "#fff",
                                pointHoverBorderColor: "rgba(130,130,130,1)",
                                pointBorderWidth: 1,
                                data: first_chart
                            }, {
                                label: label_2,
                                backgroundColor: "rgba(33, 164, 255, 0.3)",
                                borderColor: "rgba(33, 164, 255, 0.70)",
                                pointBorderColor: "rgba(33, 164, 255, 0.70)",
                                pointBackgroundColor: "rgba(33, 164, 255, 0.70)",
                                pointHoverBackgroundColor: "#fff",
                                pointHoverBorderColor: "rgba(33, 164, 255,1)",
                                pointBorderWidth: 1,
                                data: second_chart
                            }]
                        },
                        //HERE COMES THE AXIS LABEL
                        options: {
                            scales: {
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'KM'
                                    }
                                }],
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Functions'
                                    }
                                }]
                            }
                        }
                    });

                }
            }
        });


        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetLiterByFunctionDataVisual", "RptExecutiveSummary")',
            data: { monthFrom: $('#SearchView_MonthFrom').val(), yearFrom: $('#SearchView_YearFrom').val() },
            success: function (response) {
                var labels_chart = [];
                var first_chart = [];
                var second_chart = [];

                var label_1 = "BENEFIT";
                var label_2 = "WTC";

                for (var i = 0; i < response.length; i++) {
                    labels_chart.push(response[i].FUNCTION);
                    first_chart.push(response[i].TOTAL_LITER_BENEFIT);
                    second_chart.push(response[i].TOTAL_LITER_WTC);

                    label_1 = response[i].LABEL1;
                    label_2 = response[i].LABEL2;
                }

                //if (response.length == 0) {
                //    labels_chart.push("NO DATA");
                //    first_chart.push(1);
                //    color_chart.push(getRandomColor());
                //}

                // Pie chart
                //if ($('#pieChart').length) {
                //    $('#pieChart').remove();
                //    $('#chart6').append('<canvas id="pieChart"><canvas>');
                //    var ctx = document.getElementById("pieChart");
                //    var data = {
                //        labels: labels_chart,
                //        datasets: [{
                //            data: first_chart,
                //            backgroundColor: color_chart

                //        }]
                //    };

                //    var pieChart = new Chart(ctx, {
                //        data: data,
                //        type: 'pie',
                //        options: {
                //            legend: {
                //                display: false
                //            }
                //        }
                //    });

                //}

                // Bar chart

                if ($('#pieChart').length) {
                    $('#pieChart').remove();
                    $('#chart6').append('<canvas id="pieChart"><canvas>');
                    var ctx = document.getElementById("pieChart");
                    var pieChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels_chart,
                            datasets: [{
                                label: label_1,
                                backgroundColor: "#69FC56",
                                data: first_chart
                            }, {
                                label: label_2,
                                backgroundColor: "#AE9C65",
                                data: second_chart
                            }]
                        },

                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Liters'
                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Functions'
                                    }
                                }]
                            }
                        }
                    });

                }
            }
        });

        

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetVehicleTypeDataVisual", "RptExecutiveSummary")',
            data: { monthFrom: $('#SearchView_MonthFrom').val(), yearFrom: $('#SearchView_YearFrom').val() },
            success: function (response) {
                var labels_chart = [];
                var first_chart = [];
                //var color_chart = [];

                var label_1 = "Total";

                for (var i = 0; i < response.length; i++) {
                    labels_chart.push(response[i].BODY_TYPE);
                    first_chart.push(response[i].NO_OF_VEHICLE);
                    //color_chart.push(getRandomColor());

                    label_1 = response[i].LABEL1;
                }

                //if (response.length == 0) {
                //    labels_chart.push("NO DATA");
                //    first_chart.push(1);
                //    color_chart.push(getRandomColor());
                //}

                //// PolarArea chart

                //if ($('#polarArea').length) {
                //    $('#polarArea').remove();
                //    $('#chart4').append('<canvas id="polarArea"><canvas>');
                //    var ctx = document.getElementById("polarArea");
                //    var data = {
                //        datasets: [{
                //            data: first_chart,
                //            backgroundColor: color_chart,
                //            label: 'My dataset'
                //        }],
                //        labels: labels_chart
                //    };

                //    var polarArea = new Chart(ctx, {
                //        data: data,
                //        type: 'polarArea',
                //        options: {
                //            legend: {
                //                display: false
                //            },
                //            scale: {
                //                ticks: {
                //                    beginAtZero: true
                //                }
                //            }
                //        }
                //    });
                //}

                if ($('#polarArea').length) {
                    $('#polarArea').remove();
                    $('#chart4').append('<canvas id="polarArea"><canvas>');
                    var ctx = document.getElementById("polarArea");
                    var polarArea = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels_chart,
                            datasets: [{
                                label: label_1,
                                backgroundColor: "rgba(33, 164, 255, 0.3)",
                                borderColor: "rgba(33, 164, 255, 0.70)",
                                pointBorderColor: "rgba(33, 164, 255, 0.70)",
                                pointBackgroundColor: "rgba(33, 164, 255, 0.70)",
                                pointHoverBackgroundColor: "#fff",
                                pointHoverBorderColor: "rgba(33, 164, 255,1)",
                                pointBorderWidth: 1,
                                data: first_chart
                            }]
                        },
                        //HERE COMES THE AXIS LABEL
                        options: {
                            scales: {
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Unit'
                                    }
                                }],
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Body Type'
                                    }
                                }]
                            }
                        }
                    });

                }
            }
        });
        
    }

    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    $(document).ready(function () {
        init_charts_data();

        $('aside').animate({
            scrollTop: $("#SummAll").offset().top
        }, 1000);
    });

    function ExportXls() {
        console.log('Submitting');
        var titleExport = '@Model.TitleExport';
        var url = '@Url.Action("ExportSummaryAllReportGenerateReport", "RptExecutiveSummary")';
        var getFileUrl = '@Url.Action("GetExcelFile", "RptExecutiveSummary")';
        console.log(url);
        var objToUpload =
			{
			    SearchViewExport: {
			        MonthFrom: $('#SearchView_MonthFrom').val(),
			        MonthTo: $('#SearchView_MonthFrom').val(),
			        YearFrom: $('#SearchView_YearFrom').val(),
			        YearTo: $('#SearchView_YearFrom').val(),
			    },
			    TitleExport: titleExport

			};
        $.ajax({
            url: url,
            data: JSON.stringify(objToUpload),
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $('#LoadingModal').show();
            },
            success: function (response, status, jqxhr) {
                console.log("DONE");
                window.location = getFileUrl + "?pathFile=" + response;
                $('#LoadingModal').hide();
            },
            error: function (jqhxr) {
                console.log("ERROR");
                console.log(jqhxr.responseText);
                $('#LoadingModal').hide();
            },
            type: 'POST'
        });

    }

    $(document).on('click', '#btn-filter', function () {
        init_charts_data();
    });

    $(document).on('click', '#link1', function () {
        var myUrl = '@Url.Action("Index","RptExecutiveSummary")/?' + 'month=' + $('#SearchView_MonthFrom').val() + '&year=' + $('#SearchView_YearFrom').val();

        window.location.href = myUrl;
    });

    $(document).on('click', '#link2', function () {
        var myUrl = '@Url.Action("VehicleWtc", "RptExecutiveSummary")/?' + 'month=' + $('#SearchView_MonthFrom').val() + '&year=' + $('#SearchView_YearFrom').val();

        window.location.href = myUrl;
    });

    $(document).on('click', '#link3', function () {
        var myUrl = '@Url.Action("VehicleMake", "RptExecutiveSummary")/?' + 'month=' + $('#SearchView_MonthFrom').val() + '&year=' + $('#SearchView_YearFrom').val();

        window.location.href = myUrl;
    });

    $(document).on('click', '#link4', function () {
        var myUrl = '@Url.Action("VehicleMake", "RptExecutiveSummary")/?' + 'month=' + $('#SearchView_MonthFrom').val() + '&year=' + $('#SearchView_YearFrom').val();

        window.location.href = myUrl;
    });

    $(document).on('click', '#link5', function () {
        var myUrl = '@Url.Action("Odometer", "RptExecutiveSummary")/?' + 'month=' + $('#SearchView_MonthFrom').val() + '&year=' + $('#SearchView_YearFrom').val();

        window.location.href = myUrl;
    });

    $(document).on('click', '#link6', function () {
        var myUrl = '@Url.Action("LiterByFunction", "RptExecutiveSummary")/?' + 'month=' + $('#SearchView_MonthFrom').val() + '&year=' + $('#SearchView_YearFrom').val();

        window.location.href = myUrl;
    });

    $(document).on('click', '#link7', function () {
        var myUrl = '@Url.Action("FuelCostByFunction", "RptExecutiveSummary")/?' + 'month=' + $('#SearchView_MonthFrom').val() + '&year=' + $('#SearchView_YearFrom').val();

        window.location.href = myUrl;
    });

    $(document).on('click', '#link8', function () {
        var myUrl = '@Url.Action("LeaseCostByFunction", "RptExecutiveSummary")/?' + 'month=' + $('#SearchView_MonthFrom').val() + '&year=' + $('#SearchView_YearFrom').val();

        window.location.href = myUrl;
    });

    $(document).on('click', '#link9', function () {
        var myUrl = '@Url.Action("SalesByRegion", "RptExecutiveSummary")/?' + 'month=' + $('#SearchView_MonthFrom').val() + '&year=' + $('#SearchView_YearFrom').val();

        window.location.href = myUrl;
    });

    $(document).on('click', '#link10', function () {
        var myUrl = '@Url.Action("Accident", "RptExecutiveSummary")/?' + 'month=' + $('#SearchView_MonthFrom').val() + '&year=' + $('#SearchView_YearFrom').val();

        window.location.href = myUrl;
    });

    $(document).on('click', '#link11', function () {
        var myUrl = '@Url.Action("AcVsOb", "RptExecutiveSummary")/?' + 'month=' + $('#SearchView_MonthFrom').val() + '&year=' + $('#SearchView_YearFrom').val();

        window.location.href = myUrl;
    });

</script>
<link href="~/Content/DatePicker/Bootstrap Date Picker/bootstrap-datepicker.min.css" rel="stylesheet" />
<style>
    .datepicker {
        margin-left: 15px;
    }
    a:hover {
        cursor: pointer;
    }
</style>
<script src="~/Content/DatePicker/Bootstrap Date Picker/jquery-3.3.1.min.js"></script>
<script src="~/Content/DatePicker/Bootstrap Date Picker/bootstrap-datepicker.min.js"></script>