@using FMS.Core;
@model FMS.Website.Models.SettingItem

<section class="content-header">
    <h1>
        Master Data Setting Create
    </h1>
</section>
<section class="content" >
    <div class="row">
        <div class="col-xs-12">
        @using (Html.BeginForm("Create", "MstSetting"))
        {
            <div class="box-header" style="overflow-y: auto;">
                <div class="box" style="overflow-y: auto;">
                    <div class="box-body">

                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4">Setting Group<span class="red">*</span></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.SettingGroup, new { @class = "form-control " })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4">Setting Name<span class="red">*</span></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.SettingName, new { @class = "form-control " })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4">Setting Value<span class="red">*</span></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.SettingValue, new { @class = "form-control " })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-4">Active<span class="red">*</span></label>
                                <div class="col-md-8">
                                    @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-control " })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="box-body">
                        <input type="submit" value="Save" class="btn bg-blue" />
                        <a href="@Url.Action("Index", "MstSetting")"><i class="btn bg-gray ">Back</i></a>
                    </div>
                </div>
            </div>

            }
        </div>
    </div>
</section>
