@using FMS.Core;
@model FMS.Website.Models.SettingModel

<section class="content-header">
    <h1>
        Master Data Setting
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box" style="overflow-y: auto;">
                <!-- /.box-header -->
                <div class="box-body">
                    <a href="@Url.Action("Upload", "MstSetting")" class="btn bg-blue" title="Upload & View" ><i class="glyphicon glyphicon-upload"></i></a>              
                    <a class="btn bg-blue" id="btnExport" title="Export To Excel" onclick="ExportXls()"><i class="fa fa-file-excel-o"></i></a> 
                    @using (Html.BeginForm("ExportMasterSetting", "MstSetting", FormMethod.Post, new { @id = "ExportToXls" }))
                    {

                    }
                    <table id="tbSetting" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Function Group</th>
                                <th>Function Name</th>
                                <th>Function Value</th>
                                <th>Created By</th>
                                <th>Created Date</th>
                                <th>Modified By</th>
                                <th>Modified Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <thead class="filters">
                            <tr>
                                <th><a href="@Url.Action("Create","MstSetting")" c class="btn bg-blue" title="Add New Setting"><i class="glyphicon glyphicon-plus gl">New</i></a></th>
                                <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                                <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                                <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                                <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                                <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                                <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                                <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                                <th><input type="text" style="border-radius: 7px; text-align: center; width: 100%" placeholder="Search" /></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var data in Model.Details)
                            {
                                <tr>

                                    <td style="text-align: center;">
                                        <a href="@Url.Action("Edit", "MstSetting", new { MstSettingid = data.MstSettingId })" title="Edit Data"><i class="glyphicon glyphicon-edit"></i>edit</a>
                                        <a ng-if="data.is_active == 1"><i class="glyphicon glyphicon-remove-sign"></i></a>
                                    </td>
                                    <td>@Html.Raw(data.FunctionGroup)</td>
                                    <td>@Html.Raw(data.FunctionName)</td>
                                    <td>@Html.Raw(data.FunctionValue)</td>
                                    <td>@Html.Raw(data.CreatedBy)</td>
                                    <td>@Html.Raw(data.CreatedDate.ToString("dd-MM-yyyy hh:mm"))</td>
                                    <td>@Html.Raw(data.ModifiedBy)</td>
                                    <td>@Html.Raw(data.CreatedDate.ToString("dd-MM-yyyy hh:mm"))</td>

                                    @if (data.IsActive == true)
                                    {
                                        <td>@Html.Raw("Active")</td>
                                    }
                                    else
                                    {
                                        <td>@Html.Raw("Not Active")</td>
                                    }
                                </tr>
                            }
                            @if (Model.Details.Count == 0)
                            {
                                <tr>
                                    <td colspan="9">No Data Found</td>
                                </tr>
                            }

                        </tbody>

                    </table>
                    <div>
                        <ul uib-pagination boundary-links="true" total-items="totalRecords" max-size="5" ng-model="off" class="pagination pull-left" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

                        <br />
                        <label class="pull-right">TOTAL RECORDS : @Html.Raw(Model.Details.Count)</label>
                    </div>
                    
                </div>

                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
      function ExportXls() {
            $('#ExportToXls').submit();
      }

      $(function () {
          // DataTable
          var table = $('#tbSetting').DataTable();

          // Apply the search
          table.columns().eq(0).each(function (colIdx) {
              $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                  table
                      .column(colIdx)
                      .search(this.value)
                      .draw();
              });
          });
      });
</script>