@using FMS.Core
@using iTextSharp.text.pdf.qrcode
@model FMS.Website.Models.TraCafIndexViewModel


<div class="opt-content clearfloat">
    <h5 class="title-page">CAF Completed Documents</h5>
    @*<a href="@Url.Action("Upload", "MstEpaf")" class="btn btn-primary line" title="Upload & View" ng-click="uploadCom()">
            <i class="fa fa-download"></i> Import
        </a>*@
    @if (Model.CurrentPageAccess.ReadAccess == true)
    {
        <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
            <i class="fa fa-download"></i> Export
        </a>
    }



</div>

<section class="content">
    <div id="LoadingModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div align="center">
                        <img src="~/Content/img/loader2.gif" id="imgLoader" style="display:block" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("ExportCompleted", "TraCaf", FormMethod.Post, new { @id = "ExportToXls" }))
    {

    }
    @if (Model.CurrentLogin.UserRole == Enums.UserRole.Administrator)
    {
        <div class="wpanel">
            <div class="row col-md-12">
                @using (Ajax.BeginForm("Completed", "TraCaf",
                  new AjaxOptions
                  {
                      HttpMethod = "POST",
                      InsertionMode = InsertionMode.Replace,
                      UpdateTargetId = "contenttable",
                      OnComplete = "setupDataTables",
                      OnBegin = "LoadingShow",
                      OnSuccess = "LoadingHide",
                      OnFailure = "LoadingHide",
                  }))
                {
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="SearchView_Table">Show Data</label>
                            @Html.DropDownList("Search_Table", Model.SearchView.TableList, new { @class = "form-control" })
                            @Html.HiddenFor(model => model.SearchView.Table)
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <button id="btn-filter" type="submit" class="btn btn-primary">Filter</button>
                        <button id="btn-reset" type="button" class="btn btn-default">Reset</button>
                    </div>
                }
            </div>
        </div>
    }
    <div id="contenttable" class="wpanel">
        @Html.Partial("_ListCaf")
    </div>
    <div id="closemodal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Close document</h4>
                </div>
                @using (Html.BeginForm("CloseSirs", "TraCaf"))
                {
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="hidden" name="EpafId" id="EpafId">
                                    <label class="control-label">Select Remark</label>
                                    @Html.DropDownList("RemarkId", Model.RemarkList, "Select", new { @class = "form-control SelectPicker" })
                                </div>
                            </div>
                        </div>

                    </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-grey" data-dismiss="modal" value="Close" />
                            <input type="submit" class="btn btn-danger" value="OK" id="btnConfirmClose" />
                        </div>
                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    function LoadingShow() {
        $('#LoadingModal').show();
    }
    function LoadingHide() {
        $('#LoadingModal').hide();
    }
    $(document).ready(function() {
        $('#CafMenu').removeClass('collapse');

        $('#CafDashboard').removeClass('active');
        $('#CafOpen').removeClass('active');
        $('#CafCompleted').removeClass('active');

        if ($('.title-page').html() == 'CAF Dashboard') {
            $('#CafDashboard').addClass('active');
        }
        else if ($('.title-page').html() == 'CAF Open Documents' || $('.title-page').html() == 'Mass upload from Vendor') {
            $('#CafOpen').addClass('active');
        }
        else if ($('.title-page').html() == 'CAF Completed Documents') {
            $('#CafCompleted').addClass('active');
        }
        else if ($('.title-page').html() == 'CAF Personal Dashboard' || $('.title-page').html() == 'Mass upload from Vendor - Personal Dashboard') {
            $('#CafParent').addClass('active');
        }
    });
    function ExportXls() {
        $('#ExportToXls').submit();
    }

    $(function () {
        // DataTable
        var table = $('#tbEpaf').DataTable({
            "dom": 'lf<"table-overflow"t>pi',
            orderCellsTop: true
        });

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
        //setupDataTables();
        $(document).on('click', '#btn-filter', function () {
            $("#SearchView_Table").val(getFunctionStr($('#Search_Table').val()));
        });

        $(document).on('click', '#btn-reset', function () {

            $("#Search_Table").val('').trigger('chosen:updated');
            $("#btn-filter").trigger('click');
        });
    });
    function getFunctionStr(arr) {
        var dataStr = "";
        if (arr.length > 0) {
            dataStr = arr.toString();
        }
        return dataStr;
    }

    function setupDataTables() {
        // DataTable
        var table = $('#tbEpaf').DataTable({
            destroy : true,
            "dom": 'lf<"table-overflow"t>pi',
            orderCellsTop: true
        });

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
    }

</script>