@using FMS.Core;
@model FMS.Website.Models.RptFuelModel

@{
    ViewBag.Title = Model.TitleForm;
}

<div class="opt-content clearfloat">
    <h5 class="title-page">@ViewBag.Title</h5>
    <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
        <i class="fa fa-download"></i> Export
    </a>
</div>
<section class="content">
    <div class="wpanel">
        <p>@Model.ErrorMessage</p>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Month From</label>
                    @Html.DropDownListFor(model => model.SearchView.MonthFrom, Model.SearchView.MonthList, new { @class = "form-control month" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group" id="xz">
                    <label for="">Year From</label>
                    <input type="text" id="SearchView_YearFrom" value="@Model.SearchView.YearFrom" class="form-control year" data-provide="datepicker" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Month To</label>
                    @Html.DropDownListFor(model => model.SearchView.MonthTo, Model.SearchView.MonthList, new { @class = "form-control month" })
                </div>
            </div>
                <div class="col-md-3">
                <div class="form-group" id="xz">
                    <label for="">Year To</label>
                    <input type="text" id="SearchView_YearTo" value="@Model.SearchView.YearTo" class="form-control year" data-provide="datepicker" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Cost Center</label>
                    @Html.DropDownListFor(model => model.SearchView.CostCenter, Model.SearchView.CostCenterList, "ALL", new { @class = "form-control select" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Vehicle Type</label>
                    @Html.DropDownListFor(model => model.SearchView.VehicleType, Model.SearchView.VehicleTypeList, "ALL", new { @class = "form-control select" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Function</label>
                    @Html.DropDownListFor(model => model.SearchView.Function, Model.SearchView.FunctionList, "ALL", new { @class = "form-control select" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Regional</label>
                    @Html.DropDownListFor(model => model.SearchView.Regional, Model.SearchView.RegionalList, "ALL", new { @class = "form-control select" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Police Number</label>
                    @Html.TextBoxFor(model => model.SearchView.PoliceNumber, new { @class = "form-control text" })
                </div>
            </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <button id="btn-filter" type="button" class="btn btn-primary">Filter</button>
                    <button id="btn-reset" type="button" class="btn btn-default">Reset</button>
                </div>
            </div>
    </div>
    <div id="contenttable" class="wpanel">
        @Html.Partial("_ListFuel")
    </div>
</section>
<div id="LoadingModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div align="center">
                    <img src="~/Content/img/loader2.gif" id="imgLoader" style="display:block" />
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/thousand-separator.js"></script>
<script src="~/Scripts/Fuel.js"></script>
<script type="text/javascript">
    function LoadingShow() {
        $('#LoadingModal').show();
    }
    function LoadingHide() {
        $('#LoadingModal').hide();
    }

    function ExportXls() {
        console.log('Submitting');
        var url = '@Url.Action("ExportFuelReportGenerateReport", "RptFuel")';
        var getFileUrl = '@Url.Action("GetExcelFile", "RptFuel")';
        console.log(url);
        var objToUpload =
			{
			    SearchView: {
			        MonthFrom: $('#SearchView_MonthFrom').val(),
			        YearFrom: $('#SearchView_YearFrom').val(),
			        MonthTo: $('#SearchView_MonthTo').val(),
			        YearTo: $('#SearchView_YearTo').val(),
			        VehicleType: $('#SearchView_VehicleType').val(),
			        CostCenter:$('#SearchView_CostCenter').val(),
			        Function:$('#SearchView_Function').val(),
			        Regional:$('#SearchView_Regional').val(),
			        PoliceNumber:$('#SearchView_PoliceNumber').val(),
			    }
			};
        $.ajax({
            url: url,
            data: JSON.stringify(objToUpload),
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $('#LoadingModal').show();
            },
            success: function (response, status, jqxhr) {
                console.log("DONE");
                window.location = getFileUrl + "?pathFile=" + response;
                $('#LoadingModal').hide();
            },
            error: function (jqhxr) {
                console.log("ERROR");
                console.log(jqhxr.responseText);
                $('#LoadingModal').hide();
            },
            type: 'POST'
        });

    }

    $(document).on('click', '#btn-reset', function () {
        var d = new Date();

        $('.month').val(d.getMonth() + 1);
        $(".year").val(d.getFullYear());
        $(".select").val('');
        $(".text").val('');

        setupDataTables();
    });

    function setupColumns() {
        var columns = [
            { "data": "PoliceNumber", "orderable": false },
            { "data": "Liter", "orderable": false, "render": function (datum, type, record) {
                return (datum) ? ThausandSeperator(datum, 2) : "";
            } 
            },
            { "data": "Odometer", "orderable": false,"render": function (datum, type, record) {
                return (datum) ? ThausandSeperator(datum, 2) : "";
            } 
            },
            { "data": "Usage", "orderable": false ,"render": function (datum, type, record) {
                return (datum) ? ThausandSeperator(datum, 2) : "";
            } 
            },
            { "data": "kmlt", "orderable": false,"render": function (datum, type, record) {
                return (datum) ? ThausandSeperator(datum, 2) : "";
            } 
            },
            { "data": "Cost", "orderable": false ,"render": function (datum, type, record) {
                return (datum) ? ThausandSeperator(datum, 2) : "";
            } 
            },
            { "data": "FuelType", "orderable": false },
            { "data": "CostCenter", "orderable": false },
            { "data": "Function", "orderable": false },
            { "data": "Manufacturer", "orderable": false },
            { "data": "Models", "orderable": false },
            { "data": "Series", "orderable": false },
            { "data": "BodyType", "orderable": false },
            { "data": "VehicleType", "orderable": false },
            { "data": "VehicleUsage", "orderable": false },
            { "data": "Location", "orderable": false },
            { "data": "Regional", "orderable": false },
            { "data": "Month", "orderable": false },
            { "data": "ReportYear", "orderable": false }
        ];
        return columns;
    }

    function setupDataTables() {
        var actionHtml = '';
        var table = null;

        if ($.fn.dataTable.isDataTable('#tbRptFuel')) {
            table = $('#tbRptFuel').DataTable();
            table.destroy();
        }

        var WriteAccess = @Model.WriteAccess;
        var ReadAccess = @Model.ReadAccess;

        table = $('#tbRptFuel').DataTable({
            "sDom": 'lf<"table-overflow"t>pi',
            "sPaginationType": "full_numbers",
            "language": {
                "zeroRecords": "No records found",
                "infoFiltered": "(filtered from _MAX_ total records)"
            },
            "serverSide": true,
            stateSave: true,
            //"processing": true,
            "paging": true,
            "deferRender": true,
            "columns": setupColumns(),
            "ajax": {
                "url": "@Url.Action("SearchFuelAjax", "RptFuel")",
            "type": "POST",
            "data": function(d) {
                return $.extend({}, d, {
                    "MonthFrom": $('#SearchView_MonthFrom').val(),
                    "YearFrom": $('#SearchView_YearFrom').val(),
                    "MonthTo": $('#SearchView_MonthTo').val(),
                    "YearTo": $('#SearchView_YearTo').val(),
                    "VehicleType": $('#SearchView_VehicleType').val(),
                    "CostCenter": $('#SearchView_CostCenter').val(),
                    "Function": $('#SearchView_Function').val(),
                    "Regional": $('#SearchView_Regional').val(),
                    "PoliceNumber": $('#SearchView_PoliceNumber').val()
                });
            }
        }
        });

    table.on('preXhr', function(e, settings, data) {
        $('#LoadingModal').show();
    });

    table.on('xhr', function(e, settings, data) {
        $('#LoadingModal').hide();
    });
    }

    $(function () {
        setupDataTables();

        
        $(document).on('click', '#btn-filter', function () {
            var table = $('#tbRptFuel').DataTable();

            table.ajax.reload();
        });

        $('.year').datetimepicker({
            format: 'YYYY'
        });
    });
</script>