@using FMS.Core;
@model FMS.Website.Models.RptFuelModel

@{
    ViewBag.Title = Model.TitleForm;
}

<div class="opt-content clearfloat">
    <h5 class="title-page">@ViewBag.Title</h5>
    <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
        <i class="fa fa-download"></i> Export
    </a>
</div>
<section class="content">
    @*@using (Html.BeginForm(Model.TitleExport, "RptFuel", FormMethod.Post, new { @id = "ExportToXls" }))
    {*@
        @*@Html.HiddenFor(model => model.SearchViewExport.MonthFrom)
        @Html.HiddenFor(model => model.SearchViewExport.MonthTo)
        @Html.HiddenFor(model => model.SearchViewExport.YearFrom)
        @Html.HiddenFor(model => model.SearchViewExport.YearTo)
        @Html.HiddenFor(model => model.SearchViewExport.VehicleType)
        @Html.HiddenFor(model => model.SearchViewExport.SupplyMethod)
        @Html.HiddenFor(model => model.SearchViewExport.Function)*@
    @* } *@
    <div class="wpanel">
        <div class="row">
            @using (Ajax.BeginForm("FilterNoVehicle", "RptFuel",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "contenttable",
                    OnComplete = "setupDataTables",
                }))
            {
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Period Month</label>
                        @Html.DropDownListFor(model => model.SearchView.MonthFrom, Model.SearchView.MonthList, new { @class = "form-control month" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for=""> Period Year</label>
                        @Html.TextBoxFor(model => model.SearchView.YearFrom, new { @class = "form-control year" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Cost Center</label>
                        @Html.DropDownListFor(model => model.SearchView.VehicleType, Model.SearchView.VehicleTypeList, "ALL", new { @class = "form-control select" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Vehicle Type</label>
                        @Html.DropDownListFor(model => model.SearchView.VehicleType, Model.SearchView.VehicleTypeList, "ALL", new { @class = "form-control select" })
                    </div>
                </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <button id="btn-filter" type="submit" class="btn btn-primary">Filter</button>
                        <button id="btn-reset" type="button" class="btn btn-default">Reset</button>
                    </div>
                    }
                </div>
    </div>
    <div id="contenttable" class="wpanel">
        <table id="tbRptFuel" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Police Number</th>
                    <th>Liter</th>
                    <th>Odometer</th>
                    <th>Cost</th>
                    <th>Fuel Type</th>
                    <th>Cost Center</th>
                    <th>Function</th>
                    <th>Manufacturer</th>
                    <th>Model</th>
                    <th>Series</th>
                    <th>Body Type</th>
                    <th>Vehicle Type</th>
                    <th>Vehicle Usage</th>
                    <th>Location</th>
                    <th>Report Month</th>
                    <th>Report Year</th>
                </tr>
            </thead>
            <thead class="filters">
                <tr>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                    <th><input style="border-radius: 5px; text-align: center;" type="text" class="form-control" placeholder="search"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.Details)
                {
                    <tr>
                        <td>@Html.Raw(data.PoliceNumber)</td>
                        <td>@Html.Raw(data.Liter)</td>
                        <td>@Html.Raw(data.Odometer)</td>
                        <td>@Html.Raw(data.Cost)</td>
                        <td>@Html.Raw(data.FuelType)</td>
                        <td>@Html.Raw(data.CostCenter)</td>
                        <td>@Html.Raw(data.Function)</td>
                        <td>@Html.Raw(data.Manufacturer)</td>
                        <td>@Html.Raw(data.Models)</td>
                        <td>@Html.Raw(data.Series)</td>
                        <td>@Html.Raw(data.BodyType)</td>
                        <td>@Html.Raw(data.VehicleType)</td>
                        <td>@Html.Raw(data.VehicleUsage)</td>
                        <td>@Html.Raw(data.Location)</td>
                        <td>@Html.Raw(data.ReportMonth)</td>
                        <td>@Html.Raw(data.ReportYear)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    function ExportXls() {
        $('#SearchViewExport_MonthFrom').val($('#SearchView_MonthFrom').val());
        $('#SearchViewExport_MonthTo').val($('#SearchView_MonthTo').val());
        $('#SearchViewExport_YearFrom').val($('#SearchView_YearFrom').val());
        $('#SearchViewExport_YearTo').val($('#SearchView_YearTo').val());
        $('#SearchViewExport_VehicleType').val($('#SearchView_VehicleType').val());
        $('#SearchViewExport_SupplyMethod').val($('#SearchView_SupplyMethod').val());
        $('#SearchViewExport_Function').val($('#SearchView_Function').val());
        $('#ExportToXls').submit();
    }

    function setupDataTables() {
        // DataTable
        var table = $('#tbRptFuel').DataTable({
            "dom": 'lf<"table-overflow"t>pi',
            orderCellsTop: true
        });

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
    }

    $(document).on('click', '#btn-reset', function () {
        var d = new Date();

        $('.month').val(d.getMonth() + 1);
        $(".year").val(d.getFullYear());
        $(".select").val('');
        $(".text").val('');

        $("#btn-filter").trigger('click');
    });

    $(function () {
        setupDataTables();
    });
</script>