@using FMS.Core;
@model FMS.Website.Models.GsItem

<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data GS Create</h5>
</div>
<section class="content">
    <div class="wpanel">
        @using (Html.BeginForm("Create", "MstGs"))
        {
            <h5 class="text-info text-red">
                @Model.ErrorMessage 
            </h5>
            <div class="row col-md-6">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Employee Name<span class="red"></span></label>
                        @Html.DropDownListFor(model => model.EmployeeName, Model.EmployeeList, "-- Please Select --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Police Number<span class="red"></span></label>
                        @Html.TextBoxFor(model => model.PoliceNumber,  new { @class = "form-control"})
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Vehicle Usage Name<span class="red"></span></label>
                        @Html.TextBoxFor(model => model.VehicleUsage, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Group Level<span class="red"></span></label>
                        @Html.TextBoxFor(model => model.GroupLevel, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Location<span class="red"></span></label>
                        @Html.TextBoxFor(model => model.Location, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">GS Request Date<span class="red"></span></label>
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.GsRequestDate, new { @class = "form-control" })
                            <span class="input-group-addon btn btn-primary" onclick="onSpStartDate()">
                                <i class="fa fa-calendar "></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-md-6">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Gs Police Number<span class="red"></span></label>
                        @Html.TextBoxFor(model => model.GsPoliceNumber, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Gs Unit Type<span class="red"></span></label>
                        @Html.TextBoxFor(model => model.GsUnitType, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Start Date<span class="red"></span></label>
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                            <span class="input-group-addon btn btn-primary" onclick="onSpStartDate()">
                                <i class="fa fa-calendar "></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">End Date<span class="red"></span></label>
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                            <span class="input-group-addon btn btn-primary" onclick="onSpEndDate()">
                                <i class="fa fa-calendar "></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Remark<span class="red"></span></label>
                        @Html.DropDownListFor(model => model.Remark, Model.RemarkList, "-- Please Select--", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">GS Fullfillment Date<span class="red"></span></label>
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.GsFullfillmentDate, new { @class = "form-control" })
                            <span class="input-group-addon btn btn-primary" onclick="onSpStartDate()">
                                <i class="fa fa-calendar "></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a href="@Url.Action("Index", "MstGs" )" class="btn btn-default">Back</a>
            </div>

            }
        </div>
</section>
<script type="text/javascript">
    function IsAngka(evt) {
        var charCode = (evt.which);
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        } return true;
    }

    function fillPoliceNumber() {
        if ($("#PoliceNumber").length) {
            var Id = $('#PoliceNumber').find("option:selected").val();
            if (Id == '' || $('#PoliceNumber').find("option:selected").val() == '') {
                $('#VehicleUsage').val('');
                $('#GroupLevel').val('');
                $('#Location').val('');
            }
            else {
                $.ajax({
                    url: '@Url.Action("FillPolice", "MstGs")',
                    type: "POST",
                    dataType: "JSON",
                    data: { Id: Id},
                    success: function (list) {
                        $('#VehicleUsage').val('');
                    }
                });
            }
        }
    }
</script>