@using FMS.Core;
@model FMS.Website.Models.GsModel

<div class="opt-content clearfloat">
    <h5 class="title-page">Master Data GS</h5>
    @if (Model.CurrentPageAccess.UploadAccess == true)
    {
        <a href="@Url.Action("Upload", "MstGs")" class="btn btn-primary line" title="Upload & View">
            <i class="fa fa-upload"></i> Import
        </a>
    }
    <a href="#!" class="btn btn-primary line" id="btnExport" title="Export To Excel" onclick="ExportXls()">
        <i class="fa fa-download"></i> Export
    </a>
</div>
<div id="LoadingModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div align="center">
					<img src="~/Content/img/loader2.gif" id="imgLoader" style="display:block" />
				</div>
			</div>
		</div>
	</div>
</div>
<section class="content">
    <div class="wpanel">
        <div class="row col-md-12">
            @using (Ajax.BeginForm("ListGS", "MstGs",
        new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "contenttable",
            OnComplete = "setupDataTables",
            OnBegin = "LoadingShow",
            OnSuccess = "LoadingHide",
            OnFailure = "LoadingHide",
        }))
    {
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="SearchView_VehicleUsage">Vehicle Usage</label>
                    @Html.DropDownList("Search_VehicleUsage", Model.SearchView.VehicleUsageList, new { @class = "form-control chosen", @data_live_search = true, @multiple = "multiple" })
                    @Html.HiddenFor(model => model.SearchView.VehicleUsage)
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="SearchView_PoliceNumber">Police Number</label>
                    @Html.DropDownList("Search_PoliceNumber", Model.SearchView.PoliceNumberList, new { @class = "form-control chosen", @data_live_search = true, @multiple = "multiple" })
                    @Html.HiddenFor(model => model.SearchView.PoliceNumber)
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="SearchView_EmployeeName">Employee Name</label>
                    @Html.DropDownList("Search_EmployeeName", Model.SearchView.EmployeeNameList, new { @class = "form-control chosen", @data_live_search = true, @multiple = "multiple" })
                    @Html.HiddenFor(model => model.SearchView.EmployeeName)
                </div>
            </div>
        </div>
       <div class="row">
           <div class="col-md-4">
               <div class="form-group">
                   <label class="control-label">Show Data</label>
                   @Html.DropDownListFor(model => model.SearchView.Table, Model.SearchView.TableList, new { @class = "form-control", onchange = "TableChange()" })
               </div>
           </div>
       </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <button id="btn-filter" type="submit" class="btn btn-primary">Filter</button>
            <button id="btn-reset" type="button" class="btn btn-default">Reset</button>
        </div>
}
        </div>
    </div>
    <div id="contenttable" class="wpanel">
       @Html.Partial("_ListGS")
    </div>
</section>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    function TableChange() {
        var ShowTable = $('#SearchView_Table').val();
        if (ShowTable == "2") {
            $('#btnNew').hide();
        }
        else {
            $('#btnNew').show();
        }
    }
    function LoadingShow() {
        $('#LoadingModal').show();
    }
    function LoadingHide() {
        $('#LoadingModal').hide();
    }
    function ExportXls() {
        console.log('Submitting');
        var url = '@Url.Action("ExportMasterGs", "MstGs")';
        var getFileUrl = '@Url.Action("GetExcelFile", "MstGs")';
        console.log(url);
        var objToUpload =
			{
			    SearchView: {
			        VehicleUsage: getFunctionStr($('#Search_VehicleUsage').val()),
			        EmployeeName: getFunctionStr($('#Search_EmployeeName').val()),
                    PoliceNumber: getFunctionStr($('#Search_PoliceNumber').val()),
                    Table: $('#SearchView_Table').val()
			    }
			};
        $.ajax({
            url: url,
            data: JSON.stringify(objToUpload),
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $('#LoadingModal').show();
            },
            success: function (response, status, jqxhr) {
                console.log("DONE");
                window.location = getFileUrl + "?pathFile=" + response;
                $('#LoadingModal').hide();
            },
            error: function (jqhxr) {
                console.log("ERROR");
                console.log(jqhxr.responseText);
                $('#LoadingModal').hide();
            },
            type: 'POST'
        });

    }
    function setupDataTables()
    {
        var actionHtml = '';
        var table = null;
        // DataTable
        var table = $('#tbGs').DataTable({
            "dom": 'lf<"table-overflow"t>pi',
            orderCellsTop: true
        });

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', $('.filters th')[colIdx]).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
    }

    function getFunctionStr(arr) {
        var dataStr = "";
        if (arr.length > 0) {
            dataStr = arr.toString();
        }
        return dataStr;
    }

    $(function () {
        $(".chosen").chosen();
        setupDataTables();
        if ($('.title-page').html() == 'Master Data GS') {
            $('#MstGsMenu').addClass('active');
        }

        $(document).on('click', '#btn-filter', function () {
            console.log('a');
            $("#SearchView_VehicleUsage").val(getFunctionStr($('#Search_VehicleUsage').val()));
            $("#SearchView_PoliceNumber").val(getFunctionStr($('#Search_PoliceNumber').val()));
            $("#SearchView_EmployeeName").val(getFunctionStr($('#Search_EmployeeName').val()));
            $('#SearchView_Table').val();
        });

        $(document).on('click', '#btn-reset', function () {
            $('#SearchView_VehicleUsage').val('');
            $("#SearchView_PoliceNumber").val('');
            $("#SearchView_EmployeeName").val('');
            $("#SearchView_Table").val('1');
            $("#Search_EmployeeName").val('').trigger('chosen:updated');
            $("#Search_PoliceNumber").val('').trigger('chosen:updated');
            $("#Search_VehicleUsage").val('').trigger('chosen:updated');

            $("#btn-filter").trigger('click');
        });
    });
</script>